openapi: 3.2.0
info:
  version: 10.24.12
  title: Apideck HRIS Employee Schedules API
  description: Welcome to the HRIS API.
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  x-logo:
    url: https://developers.apideck.com/icon.png
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-apideck-api: hris
  x-apideck-sdk-support: true
servers:
- url: https://unify.apideck.com
security:
- apiKey: []
tags:
- name: Employee Schedules
  description: An Employee Schedule represents work time assignments, including schedule entries with start time, end time, and work location.
  x-apideck-resource-id: employee-schedules
  x-apideck-model:
    $ref: '#/components/schemas/EmployeeSchedules'
paths:
  /hris/schedules/employees/{employee_id}:
    get:
      tags:
      - Employee Schedules
      operationId: employeeSchedulesAll
      summary: Apideck List Employee Schedules
      description: List schedules for employee, a schedule is a work pattern, not the actual worked hours, for an employee.
      parameters:
      - $ref: '#/components/parameters/employeeId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/passThrough'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetEmployeeSchedulesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: hris
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          employeeId: employee_id_example
components:
  parameters:
    raw:
      name: raw
      in: query
      description: Include raw response. Mostly used for debugging purposes
      schema:
        type: boolean
        default: false
    applicationId:
      name: x-apideck-app-id
      in: header
      required: true
      description: The ID of your Unify application
      schema:
        type: string
        minLength: 1
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      x-speakeasy-name-override: appId
    serviceId:
      name: x-apideck-service-id
      in: header
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      schema:
        type: string
      example: salesforce
      x-speakeasy-name-override: serviceId
    employeeId:
      description: ID of the employee you are acting upon.
      in: path
      name: employee_id
      required: true
      schema:
        type: string
    fields:
      name: fields
      in: query
      description: 'The ''fields'' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields "name", "email" and "addresses.city". If any other fields are available, they will be excluded.'
      example: id,updated_at
      schema:
        type:
        - string
        - 'null'
    passThrough:
      name: pass_through
      in: query
      description: 'Optional unmapped key/values that will be passed through to downstream as query parameters. Ie: ?pass_through[search]=leads becomes ?search=leads'
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PassThroughQuery'
    consumerId:
      name: x-apideck-consumer-id
      in: header
      required: true
      description: ID of the consumer which you want to get or push data from
      schema:
        type: string
      example: test-consumer
      x-speakeasy-name-override: consumerId
  schemas:
    Salutation:
      type:
      - string
      - 'null'
      description: A formal salutation for the person. For example, 'Mr', 'Mrs'
      example: Mr
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    DeprecatedDepartment:
      type:
      - string
      - 'null'
      title: Department
      description: The department the person is currently in. [Deprecated](https://developers.apideck.com/changelog) in favor of the dedicated department_id and department_name field.
      example: R&D
      deprecated: true
    DeceasedOn:
      type:
      - string
      - 'null'
      title: Deceased Date
      description: The date the person deceased.
      example: '2000-08-12'
      format: date
    EmployeeNumber:
      type:
      - string
      - 'null'
      title: Employee number
      description: An Employee Number, Employee ID or Employee Code, is a unique number that has been assigned to each individual staff member within a company.
      example: 123456-AB
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    Currency:
      type:
      - string
      - 'null'
      title: Currency
      description: Indicates the associated currency for an amount of money. Values correspond to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).
      example: USD
      x-apideck-enum-id: currencies
      x-apideck-enum-coverage-ignore: true
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRC
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - ETH
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
        description: Pakistani rupee
      - name: PLN
        description: Polish złoty
      - name: PYG
        description: Paraguayan guaraní
      - name: QAR
        description: Qatari riyal
      - name: RON
        description: Romanian leu
      - name: RSD
        description: Serbian dinar
      - name: RUB
        description: Russian ruble
      - name: RWF
        description: Rwandan franc
      - name: SAR
        description: Saudi riyal
      - name: SBD
        description: Solomon Islands dollar
      - name: SCR
        description: Seychelles rupee
      - name: SDG
        description: Sudanese pound
      - name: SEK
        description: Swedish krona
      - name: SGD
        description: Singapore dollar
      - name: SHP
        description: Saint Helena pound
      - name: SLL
        description: Sierra Leonean leone
      - name: SOS
        description: Somali shilling
      - name: SRD
        description: Surinamese dollar
      - name: SSP
        description: South Sudanese pound
      - name: STD
        description: São Tomé and Príncipe dobra
      - name: SVC
        description: Salvadoran colón
      - name: SYP
        description: Syrian pound
      - name: SZL
        description: Swazi lilangeni
      - name: THB
        description: Thai baht
      - name: TJS
        description: Tajikstani somoni
      - name: TMT
        description: Turkmenistan manat
      - name: TND
        description: Tunisian dinar
      - name: TOP
        description: Tongan pa'anga
      - name: TRY
        description: Turkish lira
      - name: TTD
        description: Trinidad and Tobago dollar
      - name: TWD
        description: New Taiwan dollar
      - name: TZS
        description: Tanzanian shilling
      - name: UAH
        description: Ukrainian hryvnia
      - name: UGX
        description: Ugandan shilling
      - name: USD
        description: United States dollar
      - name: USN
        description: United States dollar (next day)
      - name: USS
        description: United States dollar (same day)
      - name: UYI
        description: Uruguay Peso en Unidedades Indexadas
      - name: UYU
        description: Uruguyan peso
      - name: UZS
        description: Uzbekistan som
      - name: VEF
        description: Venezuelan bolívar soberano
      - name: VND
        description: Vietnamese đồng
      - name: VUV
        description: Vanuatu vatu
      - name: WST
        description: Samoan tala
      - name: XAF
        description: CFA franc BEAC
      - name: XAG
        description: Silver
      - name: XAU
        description: Gold
      - name: XBA
        description: European Composite Unit
      - name: XBB
        description: European Monetary Unit
      - name: XBC
        description: European Unit of Account 9
      - name: XBD
        description: European Unit of Account 17
      - name: XCD
        description: East Caribbean dollar
      - name: XDR
        description: Special drawing rights (International Monetary Fund)
      - name: XOF
        description: CFA franc BCEAO
      - name: XPD
        description: Palladium
      - name: XPF
        description: CFP franc
      - name: XPT
        description: Platinum
      - name: XTS
        description: Code reserved for testing
      - name: XXX
        description: No currency
      - name: YER
        description: Yemeni rial
      - name: ZAR
        description: South African rand
      - name: ZMK
        description: Zambian kwacha
      - name: ZMW
        description: Zambian kwacha
      - name: BTC
        description: Bitcoin
      - name: ETH
        description: Ether
    CreatedAt:
      type:
      - string
      - 'null'
      title: Created at (timestamp)
      description: The date and time when the object was created.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    Country:
      type:
      - string
      - 'null'
      example: US
      title: Country Code
      description: Country code according to ISO 3166-1 alpha-2.
      minLength: 2
      maxLength: 2
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    EmployeeJob:
      x-apideck-weights:
        id: critical
        employee_id: edge-case
        title: critical
        role: medium
        start_date: high
        end_date: high
        compensation_rate: medium
        currency: medium
        payment_unit: medium
        hired_at: medium
        is_primary: medium
        status: medium
        location: medium
      x-apideck-schema-id: EmployeeJob
      title: job
      type: object
      properties:
        id:
          $ref: '#/components/schemas/IdOrNull'
        employee_id:
          $ref: '#/components/schemas/IdOrNull'
        title:
          $ref: '#/components/schemas/Title'
        role:
          $ref: '#/components/schemas/JobRole'
        start_date:
          type:
          - string
          - 'null'
          title: The start date of the job.
          description: The date on which the employee starts working in their current job role.
          example: '2020-08-12'
          format: date
        end_date:
          type:
          - string
          - 'null'
          title: The end date of the job.
          description: The date on which the employee leaves or is expected to leave their current job role.
          example: '2020-08-12'
          format: date
        compensation_rate:
          type:
          - number
          - 'null'
          title: The compensation rate of the job.
          description: The rate of pay for the employee in their current job role.
          example: 72000
        currency:
          $ref: '#/components/schemas/Currency'
        payment_unit:
          $ref: '#/components/schemas/PaymentUnit'
        hired_at:
          type:
          - string
          - 'null'
          title: Hired date
          description: The date on which the employee was hired by the organization
          example: '2020-08-12'
          format: date
        is_primary:
          title: Primary
          description: Indicates whether this the employee's primary job.
          type:
          - boolean
          - 'null'
          example: true
        is_manager:
          title: Manager
          description: Indicates whether this the employee has a manager role.
          type:
          - boolean
          - 'null'
          example: true
        status:
          type:
          - string
          - 'null'
          title: Status
          enum:
          - active
          - inactive
          - other
          x-apideck-enum-id: jobs.status
          description: Indicates the status of the job.
          example: active
        location:
          $ref: '#/components/schemas/Address'
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    CreatedBy:
      type:
      - string
      - 'null'
      title: Created by
      description: The user who created the object.
      example: '12345'
      readOnly: true
    EmployeeCompensation:
      title: compensation
      x-apideck-weights:
        id: critical
        job_id: medium
        rate: high
        payment_unit: medium
        currency: high
        flsa_status: edge-case
        effective_date: low
        payment_frequency: medium
      x-apideck-strict-required:
      - rate
      - currency
      - payment_unit
      type: object
      properties:
        id:
          $ref: '#/components/schemas/IdOrNull'
        job_id:
          type:
          - string
          - 'null'
          title: Job ID
          description: The ID of the job to which the compensation belongs.
          example: '12345'
          readOnly: true
        rate:
          type:
          - number
          - 'null'
          title: Rate
          description: The amount paid per payment unit.
          readOnly: false
          example: 72000
        payment_unit:
          $ref: '#/components/schemas/PaymentUnit'
        currency:
          $ref: '#/components/schemas/Currency'
        flsa_status:
          type:
          - string
          - 'null'
          readOnly: false
          description: The FLSA status for this compensation.
          x-apideck-enum-id: employees.compensations.flsa_status
          enum:
          - exempt
          - salaried-nonexempt
          - nonexempt
          - owner
          - other
        effective_date:
          type:
          - string
          - 'null'
          readOnly: false
          title: Effective date
          description: The date on which a change to an employee's compensation takes effect.
          example: '2020-08-12'
        payment_frequency:
          $ref: '#/components/schemas/PaymentFrequency'
      example:
        id: '3404301363494309004'
        job_id: '3490439050957906679'
        rate: 50
        payment_unit: hour
        flsa_status: nonexempt
        effective_date: '2021-06-11'
    Id:
      type: string
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: true
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    Division:
      type:
      - string
      - 'null'
      title: Division
      description: The division the person is currently in. Usually a collection of departments or teams or regions.
      example: Europe
    IdOrNull:
      type:
      - string
      - 'null'
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: true
    Email:
      type: object
      x-apideck-schema-id: Email
      required:
      - email
      additionalProperties: false
      x-apideck-weights:
        email: critical
        type: critical
        id: edge-case
      properties:
        id:
          type:
          - string
          - 'null'
          example: '123'
          description: Unique identifier for the email address
        email:
          type:
          - string
          - 'null'
          format: email
          description: Email address
          example: elon@musk.com
          minLength: 1
        type:
          type:
          - string
          - 'null'
          description: Email type
          x-apideck-enum-id: emails.type
          enum:
          - primary
          - secondary
          - work
          - personal
          - billing
          - other
          example: primary
    Title:
      type:
      - string
      - 'null'
      title: Job title
      description: The job title of the person.
      example: CEO
    Deleted:
      type:
      - boolean
      - 'null'
      title: Deleted
      description: Flag to indicate if the object is deleted.
      example: true
    UpdatedAt:
      type:
      - string
      - 'null'
      title: Updated at (timestamp)
      description: The date and time when the object was last updated.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    CustomField:
      type: object
      x-apideck-schema-id: CustomField
      additionalProperties: false
      anyOf:
      - required:
        - id
      - required:
        - name
      x-apideck-strict-any-of:
      - required:
        - id
      - required:
        - name
      x-apideck-weights:
        id: critical
        value: critical
        name: medium
        description: edge-case
      properties:
        id:
          title: ID
          description: Unique identifier for the custom field.
          type:
          - string
          - 'null'
          example: '2389328923893298'
        name:
          title: Name
          type:
          - string
          - 'null'
          description: Name of the custom field.
          example: employee_level
        description:
          title: Description
          type:
          - string
          - 'null'
          description: More information about the custom field
          example: Employee Level
        value:
          anyOf:
          - type:
            - string
            - 'null'
            example: Uses Salesforce and Marketo
          - type:
            - number
            - 'null'
            example: 10
          - type:
            - boolean
            - 'null'
            example: true
          - type:
            - object
            - 'null'
            example:
              foo: bar
            additionalProperties: true
          - type: array
            items:
              anyOf:
              - type:
                - string
                - 'null'
                example: Uses Salesforce and Marketo
              - type:
                - number
                - 'null'
                example: 10
              - type:
                - boolean
                - 'null'
                example: true
              - type:
                - object
                - 'null'
                example:
                  foo: bar
                additionalProperties: true
    Birthday:
      type:
      - string
      - 'null'
      title: Birth Date
      description: The date of birth of the person.
      example: '2000-08-12'
      format: date
    Person:
      type: object
      title: Person
      x-apideck-schema-id: Person
      x-apideck-weights:
        id: low
        first_name: critical
        last_name: critical
        middle_name: low
        gender: medium
        initials: medium
        birthday: low
        deceased_on: low
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/IdOrNull'
        first_name:
          $ref: '#/components/schemas/FirstName'
        last_name:
          $ref: '#/components/schemas/LastName'
        middle_name:
          $ref: '#/components/schemas/MiddleName'
        gender:
          $ref: '#/components/schemas/Gender'
        initials:
          type:
          - string
          - 'null'
          title: Initials
          description: Initials of the person
          example: EM
        birthday:
          type:
          - string
          - 'null'
          description: Date of birth
          example: '2000-08-12'
          format: date
        deceased_on:
          type:
          - string
          - 'null'
          description: Date of death
          example: '2000-08-12'
          format: date
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
    Description:
      type:
      - string
      - 'null'
      title: Description
      description: A description of the object.
      example: A description
    Language:
      type:
      - string
      - 'null'
      example: EN
      description: language code according to ISO 639-1. For the United States - EN
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    Gender:
      type:
      - string
      - 'null'
      x-apideck-enum-id: genders
      title: Gender
      description: The gender represents the gender identity of a person.
      enum:
      - male
      - female
      - unisex
      - other
      - not_specified
      example: male
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    EmployeeSchedules:
      type: object
      x-apideck-schema-id: EmployeeSchedules
      properties:
        employee:
          $ref: '#/components/schemas/Employee'
        schedules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Schedule'
    UpdatedBy:
      type:
      - string
      - 'null'
      title: Updated by
      description: The user who last updated the object.
      example: '12345'
      readOnly: true
    PaymentUnit:
      type:
      - string
      - 'null'
      title: Payment Unit
      description: Unit of measurement for employee compensation.
      x-apideck-enum-id: payment_unit
      enum:
      - hour
      - week
      - month
      - year
      - paycheck
      - other
      example: year
    LastName:
      type:
      - string
      - 'null'
      title: Last name
      description: The last name of the person.
      example: Musk
    PaymentFrequency:
      type:
      - string
      - 'null'
      title: Payment Frequency
      description: Frequency of employee compensation.
      x-apideck-enum-id: payment_frequency
      enum:
      - weekly
      - biweekly
      - monthly
      - pro-rata
      - other
      example: monthly
    Timezone:
      title: Timezone
      description: The time zone related to the resource. The value is a string containing a standard time zone identifier, e.g. Europe/London.
      type:
      - string
      - 'null'
      example: Europe/London
    JobRole:
      type:
      - string
      - 'null'
      title: Job role
      description: The position and responsibilities of the person within the organization.
      example: Sales
    Address:
      type: object
      x-apideck-schema-id: Address
      additionalProperties: false
      x-apideck-weights:
        id: edge-case
        name: edge-case
        type: critical
        line1: high
        line2: low
        line3: edge-case
        line4: edge-case
        line5: edge-case
        street_number: low
        city: high
        string: low
        state: high
        postal_code: high
        country: high
        latitude: low
        longitude: low
        county: edge-case
        contact_name: edge-case
        salutation: edge-case
        phone_number: edge-case
        fax: edge-case
        email: edge-case
        website: edge-case
        row_version: edge-case
      properties:
        id:
          description: Unique identifier for the address.
          type:
          - string
          - 'null'
          example: '123'
        type:
          type:
          - string
          - 'null'
          description: The type of address.
          x-apideck-enum-id: addresses.type
          enum:
          - primary
          - secondary
          - home
          - office
          - shipping
          - billing
          - work
          - other
          example: primary
        string:
          type:
          - string
          - 'null'
          description: The address string. Some APIs don't provide structured address data.
          example: 25 Spring Street, Blackburn, VIC 3130
        name:
          description: The name of the address.
          type:
          - string
          - 'null'
          example: HQ US
        line1:
          type:
          - string
          - 'null'
          example: Main street
          description: 'Line 1 of the address e.g. number, street, suite, apt #, etc.'
        line2:
          type:
          - string
          - 'null'
          example: 'apt #'
          description: Line 2 of the address
        line3:
          type:
          - string
          - 'null'
          example: 'Suite #'
          description: Line 3 of the address
        line4:
          type:
          - string
          - 'null'
          example: delivery instructions
          description: Line 4 of the address
        line5:
          type:
          - string
          - 'null'
          example: 'Attention: Finance Dept'
          description: Line 5 of the address
        street_number:
          type:
          - string
          - 'null'
          example: '25'
          description: Street number
        city:
          type:
          - string
          - 'null'
          example: San Francisco
          description: Name of city.
        state:
          type:
          - string
          - 'null'
          example: CA
          description: Name of state
        postal_code:
          type:
          - string
          - 'null'
          example: '94104'
          description: Zip code or equivalent.
        country:
          type:
          - string
          - 'null'
          example: US
          description: country code according to ISO 3166-1 alpha-2.
        latitude:
          description: Latitude of the address
          type:
          - string
          - 'null'
          example: '40.759211'
        longitude:
          description: Longitude of the address
          type:
          - string
          - 'null'
          example: '-73.984638'
        county:
          type:
          - string
          - 'null'
          example: Santa Clara
          description: Address field that holds a sublocality, such as a county
        contact_name:
          description: Name of the contact person at the address
          type:
          - string
          - 'null'
          example: Elon Musk
        salutation:
          description: Salutation of the contact person at the address
          type:
          - string
          - 'null'
          example: Mr
        phone_number:
          description: Phone number of the address
          type:
          - string
          - 'null'
          example: 111-111-1111
        fax:
          description: Fax number of the address
          type:
          - string
          - 'null'
          example: 122-111-1111
        email:
          description: Email address of the address
          type:
          - string
          - 'null'
          example: elon@musk.com
        website:
          description: Website of the address
          type:
          - string
          - 'null'
          example: https://elonmusk.com
        notes:
          description: Additional notes
          type:
          - string
          - 'null'
          title: Notes
          example: Address notes or delivery instructions.
        row_version:
          $ref: '#/components/schemas/RowVersion'
    SocialSecurityNumber:
      type:
      - string
      - 'null'
      title: Social Security Number
      description: A unique identifier assigned by the government. This field is considered sensitive information and may be subject to special security and privacy restrictions.
      example: '123456789'
    CompanyName:
      type:
      - string
      - 'null'
      title: Company name
      description: The name of the company.
      example: SpaceX
    Team:
      type:
      - object
      - 'null'
      x-apideck-schema-id: Team
      description: The team the person is currently in.
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
          description: The unique identifier of the team.
          example: '1234'
        name:
          type:
          - string
          - 'null'
          description: The name of the team.
          example: Full Stack Engineers
    PassThroughBody:
      type: array
      description: The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources.
      items:
        type: object
        properties:
          service_id:
            type: string
            description: Identifier for the service to which this pass_through should be applied.
          operation_id:
            type: string
            description: Optional identifier for a workflow operation to which this pass_through should be applied. This is useful for Unify calls that are making more than one downstream request.
          extend_object:
            type: object
            additionalProperties: true
            description: Simple object allowing any properties for direct extension.
          extend_paths:
            type: array
            description: Array of objects for structured data modifications via paths.
            items:
              type: object
              properties:
                path:
                  type: string
                  description: JSONPath string specifying where to apply the value.
                  example: $.nested.property
                value:
                  description: The value to set at the specified path, can be any type.
                  example:
                    TaxClassificationRef:
                      value: EUC-99990201-V1-00020000
              required:
              - path
              - value
              additionalProperties: false
        required:
        - service_id
        additionalProperties: false
        writeOnly: true
    Schedule:
      type: object
      x-apideck-schema-id: Schedule
      x-apideck-weights:
        id: critical
        start_date: critical
        end_date: critical
        work_pattern: critical
      required:
      - id
      - start_date
      - end_date
      - work_pattern
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/Id'
        start_date:
          type: string
          description: The start date, inclusive, of the schedule period.
          pattern: ^\d{4}-\d{2}-\d{2}$
          example: '2022-04-08'
        end_date:
          type: string
          description: The end date, inclusive, of the schedule period.
          pattern: ^\d{4}-\d{2}-\d{2}$
          example: '2022-04-21'
        work_pattern:
          type: object
          properties:
            odd_weeks:
              type: object
              properties:
                hours_monday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 8
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_tuesday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 8
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_wednesday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 4
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_thursday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 7.5
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_friday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 4
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_saturday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 0
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_sunday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 0
                  minimum: 0
                  maximum: 24
                  readOnly: false
            even_weeks:
              type: object
              properties:
                hours_monday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 8
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_tuesday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 8
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_wednesday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 4
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_thursday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 7.5
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_friday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 4
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_saturday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 0
                  minimum: 0
                  maximum: 24
                  readOnly: false
                hours_sunday:
                  type: number
                  format: double
                  pattern: ^(\d{1,2})(\.\d{1,2})?$
                  example: 0
                  minimum: 0
                  maximum: 24
                  readOnly: false
    DownstreamId:
      type:
      - string
      - 'null'
      description: The third-party API ID of original entity
      example: '12345'
      readOnly: true
    SocialLink:
      type: object
      x-apideck-schema-id: SocialLink
      required:
      - url
      additionalProperties: false
      x-apideck-weights:
        id: edge-case
        url: critical
        type: critical
      properties:
        id:
          description: Unique identifier of the social link
          type:
          - string
          - 'null'
          example: '12345'
        url:
          description: URL of the social link, e.g. https://www.twitter.com/apideck
          type: string
          example: https://www.twitter.com/apideck
          minLength: 1
        type:
          description: Type of the social link, e.g. twitter
          type:
          - string
          - 'null'
          example: twitter
    MiddleName:
      type:
      - string
      - 'null'
      title: Middle name
      description: Middle name of the person.
      example: D.
    Initials:
      type:
      - string
      - 'null'
      title: Initials
      description: The initials of the person, usually derived from their first, middle, and last names.
      example: EM
    RecordUrl:
      type:
      - string
      - 'null'
      title: Record URL
      example: https://app.intercom.io/contacts/12345
    CompanyId:
      type:
      - string
      - 'null'
      title: Company ID
      description: The unique identifier of the company.
      example: '23456'
    RowVersion:
      type:
      - string
      - 'null'
      title: Row version
      description: A binary value used to detect updates to a object and prevent data conflicts. It is incremented each time an update is made to the object.
      example: 1-12345
    Tags:
      type:
      - array
      - 'null'
      x-apideck-schema-id: Tags
      items:
        type: string
      example:
      - New
    WritableId:
      type:
      - string
      - 'null'
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: false
    FirstName:
      type:
      - string
      - 'null'
      title: First name
      description: The first name of the person.
      example: Elon
    PhotoUrl:
      type:
      - string
      - 'null'
      title: Photo URL
      description: The URL of the photo of a person.
      example: https://unavatar.io/elon-musk
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    Pronouns:
      title: Pronouns
      description: The preferred pronouns of the person.
      type:
      - string
      - 'null'
      example: she,her
    Nationality:
      title: Nationality
      type:
      - string
      - 'null'
      example: US
      description: The nationality of the person, represented as a two-letter country code according to ISO 3166-1 alpha-2.
    EmploymentStatus:
      type:
      - string
      - 'null'
      example: active
      title: Employment status
      description: The employment status of the employee, indicating whether they are currently employed, inactive, terminated, or in another status.
      x-apideck-enum-id: employees.employment_status
      enum:
      - active
      - inactive
      - terminated
      - other
    BankAccount:
      type: object
      x-apideck-schema-id: BankAccount
      additionalProperties: false
      x-apideck-weights:
        account_number: critical
        account_name: medium
        account_type: medium
        iban: high
        bic: medium
        bsb_number: edge-case
        branch_identifier: low
        bank_code: low
        bank_name: medium
        currency: medium
        country: low
      properties:
        bank_name:
          type:
          - string
          - 'null'
          title: Bank Name
          description: The name of the bank or financial institution
          example: Chase Bank
        account_number:
          type:
          - string
          - 'null'
          title: Account Number
          description: The bank account number
          example: '123465'
        account_name:
          type:
          - string
          - 'null'
          title: Account Name
          description: The name of the bank account
          example: Main Operating Account
        account_type:
          type:
          - string
          - 'null'
          title: Account Type
          x-apideck-enum-id: bank-accounts.account_type
          enum:
          - bank_account
          - credit_card
          - other
          description: The type of bank account.
          example: credit_card
        iban:
          type:
          - string
          - 'null'
          title: IBAN
          description: International Bank Account Number
          example: GB33BUKB20201555555555
        bic:
          type:
          - string
          - 'null'
          title: BIC/SWIFT Code
          description: Bank Identifier Code / SWIFT Code
          example: CHASUS33
        routing_number:
          type:
          - string
          - 'null'
          title: Routing Number
          description: Bank routing number (US)
          example: '021000021'
        bsb_number:
          type:
          - string
          - 'null'
          title: BSB Number
          description: Bank State Branch number (Australia/New Zealand)
          example: 062-001
        branch_identifier:
          type:
          - string
          - 'null'
          title: Branch Identifier
          description: Bank branch identifier
          example: '001'
        bank_code:
          type:
          - string
          - 'null'
          title: Bank Code
          description: Bank code assigned by central bank
          example: BNH
        currency:
          $ref: '#/components/schemas/Currency'
        country:
          $ref: '#/components/schemas/Country'
    Employee:
      type: object
      x-apideck-schema-id: Employee
      x-apideck-weights:
        id: medium
        downstream_id: medium
        first_name: critical
        last_name: critical
        middle_name: medium
        display_name: edge-case
        preferred_name: medium
        initials: low
        salutation: medium
        title: critical
        marital_status: medium
        partner: low
        division: medium
        division_id: low
        department: low
        department_id: critical
        department_name: low
        team: critical
        company_id: critical
        company_name: medium
        employment_start_date: critical
        employment_end_date: critical
        leaving_reason: edge-case
        employee_number: critical
        employment_status: critical
        employment_role: critical
        manager: critical
        ethnicity: critical
        gender: critical
        direct_reports: edge-case
        social_security_number: edge-case
        birthday: critical
        deceased_on: low
        country_of_birth: high
        description: edge-case
        pronouns: medium
        preferred_language: high
        languages: low
        nationalities: high
        photo_url: medium
        timezone: low
        source: edge-case
        source_id: edge-case
        jobs: critical
        record_url: low
        compensations: critical
        works_remote: low
        addresses: critical
        phone_numbers: critical
        emails: critical
        custom_fields: critical
        social_links: edge-case
        bank_accounts: high
        tax_code: edge-case
        tax_id: edge-case
        dietary_preference: edge-case
        food_allergies: edge-case
        tags: low
        probation_period: low
        row_version: edge-case
        deleted: medium
        updated_by: edge-case
        created_by: edge-case
        updated_at: high
        created_at: medium
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/WritableId'
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
        first_name:
          $ref: '#/components/schemas/FirstName'
        last_name:
          $ref: '#/components/schemas/LastName'
        middle_name:
          $ref: '#/components/schemas/MiddleName'
        display_name:
          title: Display name
          description: The name used to display the employee, often a combination of their first and last names.
          type:
          - string
          - 'null'
          example: Technoking
        preferred_name:
          title: Preferred name
          description: The name the employee prefers to be addressed by, which may be different from their legal name.
          type:
          - string
          - 'null'
          example: Elon Musk
        initials:
          $ref: '#/components/schemas/Initials'
        salutation:
          $ref: '#/components/schemas/Salutation'
        title:
          $ref: '#/components/schemas/Title'
        marital_status:
          title: Marital status
          description: The marital status of the employee.
          type:
          - string
          - 'null'
          example: married
        partner:
          $ref: '#/components/schemas/Person'
        division:
          $ref: '#/components/schemas/Division'
        division_id:
          title: Division ID
          type:
          - string
          - 'null'
          description: Unique identifier of the division this employee belongs to.
          example: '12345'
        department:
          $ref: '#/components/schemas/DeprecatedDepartment'
        department_id:
          title: Department ID
          type:
          - string
          - 'null'
          description: Unique identifier of the department ID this employee belongs to.
          example: '12345'
        department_name:
          title: Department Name
          type:
          - string
          - 'null'
          description: Name of the department this employee belongs to.
          example: '12345'
        team:
          $ref: '#/components/schemas/Team'
        company_id:
          $ref: '#/components/schemas/CompanyId'
        company_name:
          $ref: '#/components/schemas/CompanyName'
        employment_start_date:
          type:
          - string
          - 'null'
          title: Employee start date
          description: A Start Date is the date that the employee started working at the company
          example: '2021-10-26'
        employment_end_date:
          type:
          - string
          - 'null'
          title: Employee end date
          description: An End Date is the date that the employee ended working at the company
          example: '2028-10-26'
        leaving_reason:
          type:
          - string
          - 'null'
          description: The reason because the employment ended.
          example: resigned
          x-apideck-enum-id: employees.leaving_reason
          enum:
          - dismissed
          - resigned
          - redundancy
          - retired
          - other
        employee_number:
          $ref: '#/components/schemas/EmployeeNumber'
        employment_status:
          $ref: '#/components/schemas/EmploymentStatus'
        employment_role:
          x-apideck-weights:
            type: critical
            sub_type: medium
          type: object
          properties:
            type:
              type:
              - string
              - 'null'
              title: Employment type
              description: The type of employment relationship the employee has with the organization.
              x-apideck-enum-id: employees.employment_role.type
              enum:
              - contractor
              - employee
              - freelance
              - temp
              - internship
              - other
            sub_type:
              type:
              - string
              - 'null'
              title: Employment sub type
              description: The work schedule of the employee.
              x-apideck-enum-id: employees.employment_role.sub_type
              enum:
              - full_time
              - part_time
              - hourly
              - other
              - not_specified
        ethnicity:
          type:
          - string
          - 'null'
          description: The ethnicity of the employee
          example: African American
        manager:
          x-apideck-weights:
            id: critical
            name: medium
            first_name: medium
            last_name: medium
            email: medium
            employment_status: low
          additionalProperties: false
          type: object
          properties:
            id:
              $ref: '#/components/schemas/WritableId'
            name:
              title: Manager name
              description: The name of the manager, often a combination of their first and last names.
              type:
              - string
              - 'null'
              example: Elon Musk
            first_name:
              $ref: '#/components/schemas/FirstName'
            last_name:
              $ref: '#/components/schemas/LastName'
            email:
              type:
              - string
              - 'null'
              title: Email address
              description: The email address of the manager.
              format: email
              example: elon@musk.com
            employment_status:
              $ref: '#/components/schemas/EmploymentStatus'
        direct_reports:
          type:
          - array
          - 'null'
          title: Direct reports
          description: Direct reports is an array of ids that reflect the individuals in an organizational hierarchy who are directly supervised by this specific employee.
          items:
            type: string
          example:
          - a0d636c6-43b3-4bde-8c70-85b707d992f4
          - a98lfd96-43b3-4bde-8c70-85b707d992e6
        social_security_number:
          $ref: '#/components/schemas/SocialSecurityNumber'
        birthday:
          $ref: '#/components/schemas/Birthday'
        deceased_on:
          $ref: '#/components/schemas/DeceasedOn'
        country_of_birth:
          $ref: '#/components/schemas/Country'
        description:
          $ref: '#/components/schemas/Description'
        gender:
          $ref: '#/components/schemas/Gender'
        pronouns:
          $ref: '#/components/schemas/Pronouns'
        preferred_language:
          $ref: '#/components/schemas/Language'
        languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
        nationalities:
          type: array
          items:
            $ref: '#/components/schemas/Nationality'
        photo_url:
          $ref: '#/components/schemas/PhotoUrl'
        timezone:
          $ref: '#/components/schemas/Timezone'
        source:
          title: Source
          type:
          - string
          - 'null'
          description: When the employee is imported as a new hire, this field indicates what system (e.g. the name of the ATS) this employee was imported from.
          example: lever
        source_id:
          title: Source ID
          type:
          - string
          - 'null'
          description: Unique identifier of the employee in the system this employee was imported from (e.g. the ID in the ATS).
          example: '12345'
        record_url:
          $ref: '#/components/schemas/RecordUrl'
        jobs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmployeeJob'
        compensations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmployeeCompensation'
        works_remote:
          title: Remote
          description: Indicates if the employee works from a remote location.
          type:
          - boolean
          - 'null'
          example: true
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        emails:
          type: array
          items:
            $ref: '#/components/schemas/Email'
        custom_fields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        social_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialLink'
        bank_accounts:
          type: array
          items:
            $ref: '#/components/schemas/BankAccount'
        tax_code:
          title: Tax Code
          type:
          - string
          - 'null'
          example: '1111'
        tax_id:
          title: Tax ID
          type:
          - string
          - 'null'
          example: 234-32-0000
        dietary_preference:
          type:
          - string
          - 'null'
          title: Dietary preference
          description: Indicate the employee's dietary preference.
          example: Veggie
        food_allergies:
          type:
          - array
          - 'null'
          title: Food allergies
          description: Indicate the employee's food allergies.
          items:
            type: string
          example:
          - No allergies
        probation_period:
          type: object
          title: Probation period
          properties:
            start_date:
              type:
              - string
              - 'null'
              title: Probation start date
              description: The date that the employee started their probation period at the company.
              example: '2021-10-01'
              format: date
            end_date:
              type:
              - string
              - 'null'
              title: Probation end date
              description: The date that the employee ended their probation period at the company.
              example: '2021-11-28'
              format: date
        tags:
          $ref: '#/components/schemas/Tags'
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
        row_version:
          $ref: '#/components/schemas/RowVersion'
        deleted:
          $ref: '#/components/schemas/Deleted'
        updated_by:
          $ref: '#/components/schemas/UpdatedBy'
        created_by:
          $ref: '#/components/schemas/CreatedBy'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
    GetEmployeeSchedulesResponse:
      type: object
      x-apideck-schema-id: GetEmployeeSchedulesResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: sage-hr
        resource:
          type: string
          description: Unified API resource name
          example: Employees
        operation:
          type: string
          description: Operation performed
          example: all
        data:
          $ref: '#/components/schemas/EmployeeSchedules'
        _raw:
          $ref: '#/components/schemas/Raw'
    PassThroughQuery:
      type: object
      additionalProperties: true
      properties:
        example_downstream_property:
          type: string
          description: All passthrough query parameters are passed along to the connector as is (?pass_through[search]=leads becomes ?search=leads)
      example:
        search: San Francisco
    PhoneNumber:
      type: object
      x-apideck-schema-id: PhoneNumber
      required:
      - number
      additionalProperties: false
      x-apideck-weights:
        number: critical
        type: critical
        id: edge-case
        country_code: edge-case
        area_code: edge-case
        extension: edge-case
      properties:
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the phone number
          example: '12345'
        country_code:
          title: Country code
          description: The country code of the phone number, e.g. +1
          type:
          - string
          - 'null'
          example: '1'
        area_code:
          title: Area code
          description: The area code of the phone number, e.g. 323
          type:
          - string
          - 'null'
          example: '323'
        number:
          type: string
          title: Phone number
          description: The phone number
          example: 111-111-1111
          minLength: 1
        extension:
          type:
          - string
          - 'null'
          title: Phone extension
          description: The extension of the phone number
          example: '105'
        type:
          type:
          - string
          - 'null'
          description: The type of phone number
          x-apideck-enum-id: phone_numbers.type
          enum:
          - primary
          - secondary
          - home
          - work
          - office
          - mobile
          - assistant
          - fax
          - direct-dial-in
          - personal
          - billing
          - other
          example: primary
  responses:
    UnexpectedErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnexpectedErrorResponse'
    PaymentRequiredResponse:
      description: Payment Required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredResponse'
    UnauthorizedResponse:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedResponse'
    GetEmployeeSchedulesResponse:
      description: EmployeeSchedules
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetEmployeeSchedulesResponse'
    UnprocessableResponse:
      description: Unprocessable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableResponse'
    BadRequestResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestResponse'
    NotFoundResponse:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'To access our API, you need to sign up and obtain your unique API key. Each Unify application is assigned a single API key. You can locate your API key in the Configuration Settings section of your Apideck application. Additionally, your application’s application_id is available on the same page.


        Authenticate your API requests by including your test or live secret API key in the request header.


        - Bearer authorization header: `Authorization: Bearer "YOUR_API_KEY_HERE"`

        - Application id header: `x-apideck-app-id: "YOUR_APP_ID_HERE"`


        You should use the public keys on the SDKs and the secret keys to authenticate API requests.


        **Do not share or include your secret API keys on client side code.** Your API keys carry significant privileges. Please ensure to keep them 100% secure and be sure to not share your secret API keys in areas that are publicly accessible like GitHub.


        Learn how to set the Authorization header inside Postman https://learning.postman.com/docs/postman/sending-api-requests/authorization/#api-key


        Go to Unify to grab your API KEY https://app.apideck.com/unify/api-keys

        '
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
x-webhooks:
  x-sdk-exclude: true
  x-speakeasy-ignore: true
  EmployeeCreated:
    post:
      summary: Employee Created
      description: Event broadcast when an employee has been created.
      operationId: employeeCreated
      x-apideck-event-type: hris.employee.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/HrisEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/HrisWebhookEvent'
            example:
              payload:
                event_type: hris.employee.created
                unified_api: hris
                service_id: bamboo
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/hris/employees/123456ASDF
                entity_type: employee
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  EmployeeUpdated:
    post:
      summary: Employee Updated
      description: Event broadcast when an employee has been updated.
      operationId: employeeUpdated
      x-apideck-event-type: hris.employee.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/HrisEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/HrisWebhookEvent'
            example:
              payload:
                event_type: hris.employee.updated
                unified_api: hris
                service_id: bamboo
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/hris/employees/123456ASDF
                entity_type: employee
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  EmployeeTerminated:
    post:
      summary: Employee Terminated
      description: Event broadcast when an employee has been terminated.
      operationId: employeeTerminated
      x-apideck-event-type: hris.employee.terminated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/HrisEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/HrisWebhookEvent'
            example:
              payload:
                event_type: hris.employee.terminated
                unified_api: hris
                service_id: bamboo
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/hris/employees/123456ASDF
                entity_type: employee
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  EmployeeDeleted:
    post:
      summary: Employee Deleted
      description: Event broadcast when an employee has been deleted.
      operationId: employeeDeleted
      x-apideck-event-type: hris.employee.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/HrisEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/HrisWebhookEvent'
            example:
              payload:
                event_type: hris.employee.deleted
                unified_api: hris
                service_id: bamboo
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/hris/employees/123456ASDF
                entity_type: employee
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  CompanyCreated:
    post:
      summary: Company Created
      description: Event broadcast when a company has been created.
      operationId: companyCreated
      x-apideck-event-type: hris.company.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/HrisEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/HrisWebhookEvent'
            example:
              payload:
                event_type: hris.company.created
                unified_api: hris
                service_id: bamboo
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/hris/companies/123456ASDF
                entity_type: company
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  CompanyUpdated:
    post:
      summary: Company Updated
      description: Event broadcast when a company has been updated.
      operationId: companyUpdated
      x-apideck-event-type: hris.company.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/HrisEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/HrisWebhookEvent'
            example:
              payload:
                event_type: hris.company.updated
                unified_api: hris
                service_id: bamboo
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/hris/companies/123456ASDF
                entity_type: company
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  CompanyDeleted:
    post:
      summary: Company Deleted
      description: Event broadcast when a company has been deleted.
      operationId: companyDeleted
      x-apideck-event-type: hris.company.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/HrisEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/HrisWebhookEvent'
            example:
              payload:
                event_type: hris.company.deleted
                unified_api: hris
                service_id: bamboo
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/hris/companies/123456ASDF
                entity_type: company
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
