openapi: 3.2.0
info:
  version: 10.24.12
  title: Apideck CRM Activities API
  description: Welcome to the CRM API.
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  x-logo:
    url: https://developers.apideck.com/icon.png
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-apideck-api: crm
  x-apideck-sdk-support: true
servers:
- url: https://unify.apideck.com
  description: Production
security:
- apiKey: []
  applicationId: []
  consumerId: []
tags:
- name: Activities
  description: The Activity resource represents a logged event or task, such as a meeting, call, or email, including details like type, date, duration, and associations with contacts, companies, or opportunities.
  x-apideck-resource-id: activities
  x-apideck-model:
    $ref: '#/components/schemas/Activity'
paths:
  /crm/activities:
    get:
      tags:
      - Activities
      operationId: activitiesAll
      summary: Apideck List activities
      description: List activities
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/activitiesFilter'
      - $ref: '#/components/parameters/activitiesSort'
      - $ref: '#/components/parameters/passThrough'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: hubspot
        description: Hubspot will only return activities from the last 30 days when using the `filter[updated_since]` parameter, with a maximum of 10.000 records. More info [here](https://legacydocs.hubspot.com/docs/methods/engagements/get-recent-engagements). Use `filter[type]=call` to get custom fields for call activities. When using both `filter[type]=call` and `filter[updated_since]` together, you will get partial response data as the calls search endpoint does not support many data fields. Use only one filter to get better data fields.
      - connector: salesforce
        description: 'Salesforce imposes a maximum offset limit of 2000. Exceeding this offset will result in an error from Salesforce. For result sets larger than 2000 items, it is necessary to set the pagination limit to 200, as this will enforce the use of batchSize for pagination. Note that setting a limit lower than 200 will not reduce the batchSize due to Salesforce''s minimum batch size policy of 200, as detailed in their documentation [here](https://developer.salesforce.com/docs/atlas.en-us.250.0.api_rest.meta/api_rest/headers_queryoptions.htm) and will have no effect. In Salesforce, to get list of tasks, calls or emails, please use filter "type": "task" to ensure proper handling.'
      responses:
        '200':
          $ref: '#/components/responses/GetActivitiesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: crm
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source: {}
    post:
      tags:
      - Activities
      operationId: activitiesAdd
      summary: Apideck Create activity
      description: Create activity
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: salesforce
        description: 'In Salesforce, when creating tasks, calls, or emails, please specify "type": "task" with correct `event_sub_type` value in the request body to ensure proper handling.'
      - connector: planhat
        description: While creating an activity, the type should always be `task`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
      responses:
        '201':
          $ref: '#/components/responses/CreateActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: crm
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          activity:
            activity_datetime: '2021-05-01T12:00:00.000Z'
            duration_seconds: 1800
            user_id: '12345'
            account_id: '12345'
            contact_id: '12345'
            company_id: '12345'
            opportunity_id: '12345'
            lead_id: '12345'
            owner_id: '12345'
            campaign_id: '12345'
            case_id: '12345'
            asset_id: '12345'
            contract_id: '12345'
            product_id: '12345'
            solution_id: '12345'
            custom_object_id: '12345'
            type: meeting
            title: Meeting
            description: More info about the meeting
            note: An internal note about the meeting
            location: Space
            location_address:
              id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            all_day_event: false
            private: true
            group_event: true
            event_sub_type: debrief
            group_event_type: Proposed
            child: false
            archived: false
            deleted: false
            show_as: busy
            done: false
            start_datetime: '2021-05-01T12:00:00.000Z'
            end_datetime: '2021-05-01T12:30:00.000Z'
            activity_date: '2021-05-01'
            end_date: '2021-05-01'
            recurrent: false
            reminder_datetime: '2021-05-01T17:00:00.000Z'
            reminder_set: false
            video_conference_url: https://meet.example.com/j/88120759396
            video_conference_id: zoom:88120759396
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            attendees:
            - name: Elon Musk
              first_name: Elon
              middle_name: D.
              last_name: Musk
              prefix: Mr.
              suffix: PhD
              email_address: elon@musk.com
              is_organizer: true
              status: accepted
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
  /crm/activities/{id}:
    get:
      tags:
      - Activities
      operationId: activitiesOne
      summary: Apideck Get activity
      description: Get activity
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: crm
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    patch:
      tags:
      - Activities
      operationId: activitiesUpdate
      summary: Apideck Update activity
      description: Update activity
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: salesforce
        description: 'In Salesforce, when updating tasks, calls, or emails, please specify "type": "task" in the request body to ensure proper handling.'
      - connector: planhat
        description: While updating an activity, the type should always be `task`.
      - connector: hubspot
        description: 'To update custom fields for call activities, use `"type": "call"` in the request body.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
      responses:
        '200':
          $ref: '#/components/responses/UpdateActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: crm
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          activity:
            activity_datetime: '2021-05-01T12:00:00.000Z'
            duration_seconds: 1800
            user_id: '12345'
            account_id: '12345'
            contact_id: '12345'
            company_id: '12345'
            opportunity_id: '12345'
            lead_id: '12345'
            owner_id: '12345'
            campaign_id: '12345'
            case_id: '12345'
            asset_id: '12345'
            contract_id: '12345'
            product_id: '12345'
            solution_id: '12345'
            custom_object_id: '12345'
            type: meeting
            title: Meeting
            description: More info about the meeting
            note: An internal note about the meeting
            location: Space
            location_address:
              id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            all_day_event: false
            private: true
            group_event: true
            event_sub_type: debrief
            group_event_type: Proposed
            child: false
            archived: false
            deleted: false
            show_as: busy
            done: false
            start_datetime: '2021-05-01T12:00:00.000Z'
            end_datetime: '2021-05-01T12:30:00.000Z'
            activity_date: '2021-05-01'
            end_date: '2021-05-01'
            recurrent: false
            reminder_datetime: '2021-05-01T17:00:00.000Z'
            reminder_set: false
            video_conference_url: https://meet.example.com/j/88120759396
            video_conference_id: zoom:88120759396
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            attendees:
            - name: Elon Musk
              first_name: Elon
              middle_name: D.
              last_name: Musk
              prefix: Mr.
              suffix: PhD
              email_address: elon@musk.com
              is_organizer: true
              status: accepted
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
    delete:
      tags:
      - Activities
      operationId: activitiesDelete
      summary: Apideck Delete activity
      description: Delete activity
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: salesforce
        description: This endpoint is mapped to Salesforce Events; tasks are not included. As a workaround we recommended using the Proxy API.
      responses:
        '200':
          $ref: '#/components/responses/DeleteActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: crm
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
components:
  schemas:
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    ActivitiesFilter:
      type: object
      x-apideck-schema-id: ActivitiesFilter
      example:
        updated_since: '2020-09-30T07:43:32.000Z'
      properties:
        company_id:
          type: string
          description: Company ID to filter on
          example: '1234'
        owner_id:
          type: string
          description: Owner ID to filter on
          example: '1234'
        contact_id:
          type: string
          description: Primary contact ID to filter on
          example: '1234'
        updated_since:
          type: string
          title: Updated since (timestamp)
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
        type:
          type: string
          title: Type
          description: Type to filter on
          format: string
          example: Task
      additionalProperties: false
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    Meta:
      type: object
      x-apideck-schema-id: Meta
      description: Response metadata
      properties:
        items_on_page:
          type: integer
          description: Number of items returned in the data property of the response
          example: 50
        cursors:
          type: object
          description: Cursors to navigate to previous or next pages through the API
          properties:
            previous:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the previous page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjE=
            current:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the current page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjI=
            next:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the next page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjM=
    Activity:
      type: object
      x-apideck-schema-id: Activity
      additionalProperties: false
      required:
      - type
      x-apideck-weights:
        id: critical
        downstream_id: edge-case
        activity_datetime: high
        duration_seconds: medium
        user_id: edge-case
        account_id: edge-case
        contact_id: edge-case
        company_id: edge-case
        lead_id: edge-case
        opportunity_id: edge-case
        owner_id: high
        campaign_id: edge-case
        case_id: edge-case
        asset_id: edge-case
        contract_id: edge-case
        product_id: edge-case
        solution_id: edge-case
        custom_object_id: edge-case
        type: critical
        title: critical
        description: medium
        note: medium
        location: medium
        location_address: medium
        all_day_event: medium
        private: low
        group_event: edge-case
        event_sub_type: medium
        group_event_type: edge-case
        child: low
        archived: low
        deleted: low
        show_as: edge-case
        done: medium
        start_datetime: high
        end_datetime: high
        duration_minutes: edge-case
        activity_date: medium
        end_date: medium
        attendees: edge-case
        reminder_set: edge-case
        reminder_datetime: edge-case
        video_conference_url: edge-case
        video_conference_id: edge-case
        updated_at: high
      properties:
        id:
          description: The unique identifier of the activity
          type: string
          readOnly: true
          example: '12345'
        downstream_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of original entity
          example: '12345'
          readOnly: true
        activity_datetime:
          description: The date and time of the activity
          type:
          - string
          - 'null'
          example: '2021-05-01T12:00:00.000Z'
        duration_seconds:
          description: The duration of the activity in seconds
          type:
          - integer
          - 'null'
          example: 1800
          minimum: 0
        user_id:
          description: The user related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        account_id:
          description: The account related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        contact_id:
          description: The contact related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        company_id:
          description: The company related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        opportunity_id:
          description: The opportunity related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        lead_id:
          description: The lead related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        owner_id:
          description: The owner of the activity
          type:
          - string
          - 'null'
          example: '12345'
        campaign_id:
          description: The campaign related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        case_id:
          description: The case related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        asset_id:
          description: The asset related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        contract_id:
          description: The contract related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        product_id:
          description: The product related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        solution_id:
          description: The solution related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        custom_object_id:
          description: The custom object related to the activity
          type:
          - string
          - 'null'
          example: '12345'
        type:
          description: The type of the activity
          type:
          - string
          - 'null'
          x-apideck-enum-id: activities.type
          enum:
          - call
          - meeting
          - email
          - note
          - task
          - deadline
          - send-letter
          - send-quote
          - other
          example: meeting
        title:
          description: The title of the activity
          type:
          - string
          - 'null'
          example: Meeting
        description:
          description: A description of the activity
          type:
          - string
          - 'null'
          example: More info about the meeting
        note:
          description: An internal note about the activity
          title: Note (internal)
          type:
          - string
          - 'null'
          example: An internal note about the meeting
        location:
          description: The location of the activity
          type:
          - string
          - 'null'
          example: Space
        location_address:
          $ref: '#/components/schemas/Address'
        all_day_event:
          description: Whether the Activity is an all day event or not
          type:
          - boolean
          - 'null'
          example: false
        private:
          description: Whether the Activity is private or not
          type:
          - boolean
          - 'null'
          example: true
        group_event:
          description: Whether the Activity is a group event or not
          type:
          - boolean
          - 'null'
          example: true
        event_sub_type:
          description: The sub type of the group event
          type:
          - string
          - 'null'
          example: debrief
        group_event_type:
          description: The type of the group event
          type:
          - string
          - 'null'
          example: Proposed
        child:
          description: Whether the activity is a child of another activity or not
          type:
          - boolean
          - 'null'
          example: false
        archived:
          description: Whether the activity is archived or not
          type:
          - boolean
          - 'null'
          example: false
        deleted:
          description: Whether the activity is deleted or not
          type:
          - boolean
          - 'null'
          example: false
        show_as:
          type:
          - string
          - 'null'
          x-apideck-enum-id: activities.show_as
          enum:
          - free
          - busy
          example: busy
        done:
          title: Done
          description: Whether the Activity is done or not
          type:
          - boolean
          - 'null'
          example: false
        start_datetime:
          description: The start date and time of the activity
          type:
          - string
          - 'null'
          example: '2021-05-01T12:00:00.000Z'
        end_datetime:
          description: The end date and time of the activity
          type:
          - string
          - 'null'
          example: '2021-05-01T12:30:00.000Z'
        duration_minutes:
          description: The duration of the activity in minutes
          type:
          - integer
          - 'null'
          example: 30
          readOnly: true
        activity_date:
          description: The date of the activity
          type:
          - string
          - 'null'
          example: '2021-05-01'
        end_date:
          description: The end date of the activity
          type:
          - string
          - 'null'
          example: '2021-05-01'
        recurrent:
          description: Whether the activity is recurrent or not
          type: boolean
          example: false
        reminder_datetime:
          description: The date and time of the reminder
          type:
          - string
          - 'null'
          example: '2021-05-01T17:00:00.000Z'
        reminder_set:
          description: Whether the reminder is set or not
          type:
          - boolean
          - 'null'
          example: false
        video_conference_url:
          description: The URL of the video conference
          title: Meeting URL
          type:
          - string
          - 'null'
          example: https://meet.example.com/j/88120759396
        video_conference_id:
          description: The ID of the video conference
          title: Meeting ID
          type:
          - string
          - 'null'
          example: zoom:88120759396
        custom_fields:
          description: Custom fields of the activity
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        attendees:
          type: array
          items:
            $ref: '#/components/schemas/ActivityAttendee'
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
        updated_by:
          description: The user who last updated the activity
          type:
          - string
          - 'null'
          example: '12345'
          readOnly: true
        created_by:
          description: The user who created the activity
          type:
          - string
          - 'null'
          example: '12345'
          readOnly: true
        updated_at:
          description: The date and time when the activity was last updated
          type:
          - string
          - 'null'
          example: '2020-09-30T07:43:32.000Z'
          readOnly: true
        created_at:
          description: The date and time when the activity was created
          type:
          - string
          - 'null'
          example: '2020-09-30T07:43:32.000Z'
          readOnly: true
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
    RowVersion:
      type:
      - string
      - 'null'
      title: Row version
      description: A binary value used to detect updates to a object and prevent data conflicts. It is incremented each time an update is made to the object.
      example: 1-12345
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    GetActivitiesResponse:
      type: object
      x-apideck-schema-id: GetActivitiesResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: zoho-crm
        resource:
          type: string
          description: Unified API resource name
          example: activities
        operation:
          type: string
          description: Operation performed
          example: all
        data:
          type: array
          items:
            $ref: '#/components/schemas/Activity'
        _raw:
          $ref: '#/components/schemas/Raw'
        meta:
          $ref: '#/components/schemas/Meta'
        links:
          $ref: '#/components/schemas/Links'
    DeleteActivityResponse:
      type: object
      x-apideck-schema-id: DeleteActivityResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: zoho-crm
        resource:
          type: string
          description: Unified API resource name
          example: activities
        operation:
          type: string
          description: Operation performed
          example: delete
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    SortDirection:
      type: string
      x-apideck-schema-id: SortDirection
      description: The direction in which to sort the results
      x-apideck-enum-id: sort_direction
      enum:
      - asc
      - desc
      default: asc
    UpdateActivityResponse:
      type: object
      x-apideck-schema-id: UpdateActivityResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: zoho-crm
        resource:
          type: string
          description: Unified API resource name
          example: activities
        operation:
          type: string
          description: Operation performed
          example: update
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    Links:
      type: object
      x-apideck-schema-id: Links
      description: Links to navigate to previous or next pages through the API
      properties:
        previous:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        current:
          type: string
          description: Link to navigate to the current page through the API
          example: https://unify.apideck.com/crm/companies
        next:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    Address:
      type: object
      x-apideck-schema-id: Address
      additionalProperties: false
      x-apideck-weights:
        id: edge-case
        name: edge-case
        type: critical
        line1: high
        line2: low
        line3: edge-case
        line4: edge-case
        line5: edge-case
        street_number: low
        city: high
        string: low
        state: high
        postal_code: high
        country: high
        latitude: low
        longitude: low
        county: edge-case
        contact_name: edge-case
        salutation: edge-case
        phone_number: edge-case
        fax: edge-case
        email: edge-case
        website: edge-case
        row_version: edge-case
      properties:
        id:
          description: Unique identifier for the address.
          type:
          - string
          - 'null'
          example: '123'
        type:
          type:
          - string
          - 'null'
          description: The type of address.
          x-apideck-enum-id: addresses.type
          enum:
          - primary
          - secondary
          - home
          - office
          - shipping
          - billing
          - work
          - other
          example: primary
        string:
          type:
          - string
          - 'null'
          description: The address string. Some APIs don't provide structured address data.
          example: 25 Spring Street, Blackburn, VIC 3130
        name:
          description: The name of the address.
          type:
          - string
          - 'null'
          example: HQ US
        line1:
          type:
          - string
          - 'null'
          example: Main street
          description: 'Line 1 of the address e.g. number, street, suite, apt #, etc.'
        line2:
          type:
          - string
          - 'null'
          example: 'apt #'
          description: Line 2 of the address
        line3:
          type:
          - string
          - 'null'
          example: 'Suite #'
          description: Line 3 of the address
        line4:
          type:
          - string
          - 'null'
          example: delivery instructions
          description: Line 4 of the address
        line5:
          type:
          - string
          - 'null'
          example: 'Attention: Finance Dept'
          description: Line 5 of the address
        street_number:
          type:
          - string
          - 'null'
          example: '25'
          description: Street number
        city:
          type:
          - string
          - 'null'
          example: San Francisco
          description: Name of city.
        state:
          type:
          - string
          - 'null'
          example: CA
          description: Name of state
        postal_code:
          type:
          - string
          - 'null'
          example: '94104'
          description: Zip code or equivalent.
        country:
          type:
          - string
          - 'null'
          example: US
          description: country code according to ISO 3166-1 alpha-2.
        latitude:
          description: Latitude of the address
          type:
          - string
          - 'null'
          example: '40.759211'
        longitude:
          description: Longitude of the address
          type:
          - string
          - 'null'
          example: '-73.984638'
        county:
          type:
          - string
          - 'null'
          example: Santa Clara
          description: Address field that holds a sublocality, such as a county
        contact_name:
          description: Name of the contact person at the address
          type:
          - string
          - 'null'
          example: Elon Musk
        salutation:
          description: Salutation of the contact person at the address
          type:
          - string
          - 'null'
          example: Mr
        phone_number:
          description: Phone number of the address
          type:
          - string
          - 'null'
          example: 111-111-1111
        fax:
          description: Fax number of the address
          type:
          - string
          - 'null'
          example: 122-111-1111
        email:
          description: Email address of the address
          type:
          - string
          - 'null'
          example: elon@musk.com
        website:
          description: Website of the address
          type:
          - string
          - 'null'
          example: https://elonmusk.com
        notes:
          description: Additional notes
          type:
          - string
          - 'null'
          title: Notes
          example: Address notes or delivery instructions.
        row_version:
          $ref: '#/components/schemas/RowVersion'
    CreateActivityResponse:
      type: object
      x-apideck-schema-id: CreateActivityResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: zoho-crm
        resource:
          type: string
          description: Unified API resource name
          example: activities
        operation:
          type: string
          description: Operation performed
          example: add
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    ActivityAttendee:
      type: object
      x-apideck-schema-id: ActivityAttendee
      x-pii:
      - name
      - first_name
      - middle_name
      - last_name
      - email_address
      x-apideck-weights:
        id: critical
        name: critical
        first_name: high
        middle_name: low
        last_name: high
        prefix: low
        suffix: edge-case
        email_address: medium
        is_organizer: medium
        status: medium
        user_id: low
      properties:
        id:
          description: Unique identifier for the attendee
          type:
          - string
          - 'null'
          example: '12345'
          readOnly: true
        name:
          description: Full name of the attendee
          type:
          - string
          - 'null'
          example: Elon Musk
          minLength: 1
        first_name:
          description: First name of the attendee
          type:
          - string
          - 'null'
          example: Elon
        middle_name:
          description: Middle name of the attendee
          type:
          - string
          - 'null'
          example: D.
        last_name:
          description: Last name of the attendee
          type:
          - string
          - 'null'
          example: Musk
        prefix:
          description: Prefix of the attendee
          type:
          - string
          - 'null'
          example: Mr.
        suffix:
          description: Suffix of the attendee
          type:
          - string
          - 'null'
          example: PhD
        email_address:
          description: Email address of the attendee
          type:
          - string
          - 'null'
          example: elon@musk.com
        is_organizer:
          description: Whether the attendee is the organizer of the activity
          type:
          - boolean
          - 'null'
          example: true
        status:
          description: Status of the attendee
          type:
          - string
          - 'null'
          x-apideck-enum-id: activity-attendees.status
          enum:
          - accepted
          - tentative
          - declined
          example: accepted
        user_id:
          description: The identifier for a related user
          type:
          - string
          - 'null'
          example: '12345'
          readOnly: true
        contact_id:
          description: The identifier for a related contact
          type:
          - string
          - 'null'
          example: '12345'
          readOnly: true
        updated_at:
          description: The last time the attendee was updated (ISO 8601)
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-08-12T20:43:21.291Z'
          readOnly: true
        created_at:
          description: The time the attendee was created (ISO 8601)
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-08-12T20:43:21.291Z'
          readOnly: true
      additionalProperties: false
    PassThroughBody:
      type: array
      description: The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources.
      items:
        type: object
        properties:
          service_id:
            type: string
            description: Identifier for the service to which this pass_through should be applied.
          operation_id:
            type: string
            description: Optional identifier for a workflow operation to which this pass_through should be applied. This is useful for Unify calls that are making more than one downstream request.
          extend_object:
            type: object
            additionalProperties: true
            description: Simple object allowing any properties for direct extension.
          extend_paths:
            type: array
            description: Array of objects for structured data modifications via paths.
            items:
              type: object
              properties:
                path:
                  type: string
                  description: JSONPath string specifying where to apply the value.
                  example: $.nested.property
                value:
                  description: The value to set at the specified path, can be any type.
                  example:
                    TaxClassificationRef:
                      value: EUC-99990201-V1-00020000
              required:
              - path
              - value
              additionalProperties: false
        required:
        - service_id
        additionalProperties: false
        writeOnly: true
    CustomField:
      type: object
      x-apideck-schema-id: CustomField
      additionalProperties: false
      anyOf:
      - required:
        - id
      - required:
        - name
      x-apideck-strict-any-of:
      - required:
        - id
      - required:
        - name
      x-apideck-weights:
        id: critical
        value: critical
        name: medium
        description: edge-case
      properties:
        id:
          title: ID
          description: Unique identifier for the custom field.
          type:
          - string
          - 'null'
          example: '2389328923893298'
        name:
          title: Name
          type:
          - string
          - 'null'
          description: Name of the custom field.
          example: employee_level
        description:
          title: Description
          type:
          - string
          - 'null'
          description: More information about the custom field
          example: Employee Level
        value:
          anyOf:
          - type:
            - string
            - 'null'
            example: Uses Salesforce and Marketo
          - type:
            - number
            - 'null'
            example: 10
          - type:
            - boolean
            - 'null'
            example: true
          - type:
            - object
            - 'null'
            example:
              foo: bar
            additionalProperties: true
          - type: array
            items:
              anyOf:
              - type:
                - string
                - 'null'
                example: Uses Salesforce and Marketo
              - type:
                - number
                - 'null'
                example: 10
              - type:
                - boolean
                - 'null'
                example: true
              - type:
                - object
                - 'null'
                example:
                  foo: bar
                additionalProperties: true
    GetActivityResponse:
      type: object
      x-apideck-schema-id: GetActivityResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: zoho-crm
        resource:
          type: string
          description: Unified API resource name
          example: activities
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/Activity'
        _raw:
          $ref: '#/components/schemas/Raw'
    ActivitiesSort:
      type: object
      x-apideck-schema-id: ActivitiesSort
      example:
        by: created_at
        direction: desc
      properties:
        by:
          type: string
          x-apideck-enum-id: activities.sort_by
          description: The field on which to sort the Activities
          enum:
          - created_at
          - updated_at
          example: created_at
        direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
    PassThroughQuery:
      type: object
      additionalProperties: true
      properties:
        example_downstream_property:
          type: string
          description: All passthrough query parameters are passed along to the connector as is (?pass_through[search]=leads becomes ?search=leads)
      example:
        search: San Francisco
    UnifiedId:
      title: UnifiedId
      type: object
      x-apideck-schema-id: Id
      description: A object containing a unique identifier for the resource that was created, updated, or deleted.
      required:
      - id
      properties:
        id:
          title: Id
          description: The unique identifier of the resource
          type: string
          readOnly: true
          example: '12345'
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
  responses:
    UnexpectedErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnexpectedErrorResponse'
      description: Unexpected error
    PaymentRequiredResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredResponse'
      description: Payment Required
    CreateActivityResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateActivityResponse'
      description: Activity created
    UnprocessableResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableResponse'
      description: Unprocessable
    BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestResponse'
      description: Bad Request
    GetActivityResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetActivityResponse'
      description: Activity
      links:
        company:
          operationId: companiesOne
          parameters:
            id: $response.body#/data/company_id
        contact:
          operationId: contactsOne
          parameters:
            id: $response.body#/data/contact_id
        opportunity:
          operationId: opportunitiesOne
          parameters:
            id: $response.body#/data/opportunity_id
        lead:
          operationId: leadsOne
          parameters:
            id: $response.body#/data/lead_id
        owner:
          operationId: usersOne
          parameters:
            id: $response.body#/data/owner_id
    DeleteActivityResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteActivityResponse'
      description: Activity deleted
    UpdateActivityResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateActivityResponse'
      description: Activity updated
    NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
      description: The specified resource was not found
    UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedResponse'
      description: Unauthorized
    GetActivitiesResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetActivitiesResponse'
      description: Activities
  parameters:
    raw:
      name: raw
      in: query
      description: Include raw response. Mostly used for debugging purposes
      schema:
        type: boolean
        default: false
    limit:
      name: limit
      in: query
      description: Number of results to return. Minimum 1, Maximum 200, Default 20
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    applicationId:
      name: x-apideck-app-id
      in: header
      required: true
      description: The ID of your Unify application
      schema:
        type: string
        minLength: 1
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      x-speakeasy-name-override: appId
    id:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the record you are acting upon.
    cursor:
      name: cursor
      in: query
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      schema:
        type:
        - string
        - 'null'
    activitiesSort:
      name: sort
      in: query
      description: Apply sorting
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/ActivitiesSort'
    serviceId:
      name: x-apideck-service-id
      in: header
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      schema:
        type: string
      example: salesforce
      x-speakeasy-name-override: serviceId
    passThrough:
      name: pass_through
      in: query
      description: 'Optional unmapped key/values that will be passed through to downstream as query parameters. Ie: ?pass_through[search]=leads becomes ?search=leads'
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PassThroughQuery'
    activitiesFilter:
      name: filter
      in: query
      description: Apply filters
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/ActivitiesFilter'
    consumerId:
      name: x-apideck-consumer-id
      in: header
      required: true
      description: ID of the consumer which you want to get or push data from
      schema:
        type: string
      example: test-consumer
      x-speakeasy-name-override: consumerId
    fields:
      name: fields
      in: query
      description: 'The ''fields'' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields "name", "email" and "addresses.city". If any other fields are available, they will be excluded.'
      example: id,updated_at
      schema:
        type:
        - string
        - 'null'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'To access our API, you need to sign up and obtain your unique API key. Each Unify application is assigned a single API key. You can locate your API key in the Configuration Settings section of your Apideck application. Additionally, your application’s application_id is available on the same page.


        Authenticate your API requests by including your test or live secret API key in the request header.


        - Bearer authorization header: `Authorization: Bearer "YOUR_API_KEY_HERE"`

        - Application id header: `x-apideck-app-id: "YOUR_APP_ID_HERE"`


        You should use the public keys on the SDKs and the secret keys to authenticate API requests.


        **Do not share or include your secret API keys on client side code.** Your API keys carry significant privileges. Please ensure to keep them 100% secure and be sure to not share your secret API keys in areas that are publicly accessible like GitHub.


        Learn how to set the Authorization header inside Postman https://learning.postman.com/docs/postman/sending-api-requests/authorization/#api-key


        Go to Unify to grab your API KEY https://app.apideck.com/unify/api-keys

        '
    applicationId:
      type: apiKey
      in: header
      name: x-apideck-app-id
      description: The ID of your Unify application
    consumerId:
      type: apiKey
      in: header
      name: x-apideck-consumer-id
      description: The ID of the consumer which you want to get or push data from
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
x-webhooks:
  x-sdk-exclude: true
  x-speakeasy-ignore: true
  ActivityCreated:
    post:
      summary: Activity Created
      description: Event broadcast when an activity has been created.
      operationId: activityCreated
      x-apideck-event-type: crm.activity.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.activity.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/activities/123456ASDF
                entity_type: activity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  ActivityUpdated:
    post:
      summary: Activity Updated
      description: Event broadcast when an activity has been updated.
      operationId: activityUpdated
      x-apideck-event-type: crm.activity.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.activity.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/activities/123456ASDF
                entity_type: activity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  ActivityDeleted:
    post:
      summary: Activity Deleted
      description: Event broadcast when an activity has been deleted.
      operationId: activityDeleted
      x-apideck-event-type: crm.activity.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.activity.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/activities/123456ASDF
                entity_type: activity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  CompanyCreated:
    post:
      summary: Company Created
      description: Event broadcast when a company has been created.
      operationId: companyCreated
      x-apideck-event-type: crm.company.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.company.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/companies/123456ASDF
                entity_type: company
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  CompanyUpdated:
    post:
      summary: Company Updated
      description: Event broadcast when a company has been updated.
      operationId: companyUpdated
      x-apideck-event-type: crm.company.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.company.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/companies/123456ASDF
                entity_type: company
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  CompanyDeleted:
    post:
      summary: Company Deleted
      description: Event broadcast when a company has been deleted.
      operationId: companyDeleted
      x-apideck-event-type: crm.company.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.company.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/companies/123456ASDF
                entity_type: company
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  ContactCreated:
    post:
      summary: Contact Created
      description: Event broadcast when a contact has been created.
      operationId: contactCreated
      x-apideck-event-type: crm.contact.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.contact.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/contacts/123456ASDF
                entity_type: contact
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  ContactUpdated:
    post:
      summary: Contact Updated
      description: Event broadcast when a contact has been updated.
      operationId: contactUpdated
      x-apideck-event-type: crm.contact.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.contact.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/contacts/123456ASDF
                entity_type: contact
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  ContactDeleted:
    post:
      summary: Contact Deleted
      description: Event broadcast when a contact has been deleted.
      operationId: contactDeleted
      x-apideck-event-type: crm.contact.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.contact.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/contacts/123456ASDF
                entity_type: contact
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  LeadCreated:
    post:
      summary: Lead Created
      description: Event broadcast when a lead has been created.
      operationId: leadCreated
      x-apideck-event-type: crm.lead.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.lead.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/leads/123456ASDF
                entity_type: lead
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  LeadUpdated:
    post:
      summary: Lead Updated
      description: Event broadcast when a lead has been updated.
      operationId: leadUpdated
      x-apideck-event-type: crm.lead.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.lead.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/leads/123456ASDF
                entity_type: lead
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  LeadDeleted:
    post:
      summary: Lead Deleted
      description: Event broadcast when a lead has been deleted.
      operationId: leadDeleted
      x-apideck-event-type: crm.lead.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.lead.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/leads/123456ASDF
                entity_type: lead
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  NoteCreated:
    post:
      summary: Note Created
      description: Event broadcast when a note has been created.
      operationId: noteCreated
      x-apideck-event-type: crm.note.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.note.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/notes/123456ASDF
                entity_type: note
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  NoteUpdated:
    post:
      summary: Note Updated
      description: Event broadcast when a note has been updated.
      operationId: noteUpdated
      x-apideck-event-type: crm.note.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.note.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/notes/123456ASDF
                entity_type: note
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  NoteDeleted:
    post:
      summary: Note Deleted
      description: Event broadcast when a note has been deleted.
      operationId: noteDeleted
      x-apideck-event-type: crm.note.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.note.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/notes/123456ASDF
                entity_type: note
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  OpportunityCreated:
    post:
      summary: Opportunity Created
      description: Event broadcast when an opportunity has been created.
      operationId: opportunityCreated
      x-apideck-event-type: crm.opportunity.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.opportunity.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/opportunities/123456ASDF
                entity_type: opportunity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  OpportunityUpdated:
    post:
      summary: Opportunity Updated
      description: Event broadcast when an opportunity has been updated.
      operationId: opportunityUpdated
      x-apideck-event-type: crm.opportunity.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.opportunity.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/opportunities/123456ASDF
                entity_type: opportunity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  OpportunityDeleted:
    post:
      summary: Opportunity Deleted
      description: Event broadcast when an opportunity has been deleted.
      operationId: opportunityDeleted
      x-apideck-event-type: crm.opportunity.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.opportunity.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/opportunities/123456ASDF
                entity_type: opportunity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
