openapi: 3.2.0
info:
  version: 10.24.12
  title: Apideck Accounting Bank Feed Accounts API
  description: Welcome to the Accounting API.
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-apideck-api: accounting
  x-apideck-sdk-support: true
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://unify.apideck.com
security:
- apiKey: []
tags:
- name: Bank Feed Accounts
  description: A Bank Feed Account represents a connected financial institution account, including account details and connection status for transaction imports.
  x-apideck-resource-id: bank-feed-accounts
  x-apideck-model:
    $ref: '#/components/schemas/BankFeedAccount'
paths:
  /accounting/bank-feed-accounts:
    get:
      tags:
      - Bank Feed Accounts
      operationId: bankFeedAccountsAll
      summary: Apideck List Bank Feed Accounts
      description: List Bank Feed Accounts
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/passThrough'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: xero
        description: 'Bank Feed Accounts in Xero represent bank accounts connected to Xero''s Bank Feeds feature, which automatically imports bank transactions into Xero on a daily basis.

          For more information on setting up and using Bank Feeds with Xero, see the [Bank Feeds for Xero guide](https://developers.apideck.com/guides/bank-feeds-xero).

          '
      responses:
        '200':
          $ref: '#/components/responses/GetBankFeedAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source: {}
    post:
      tags:
      - Bank Feed Accounts
      operationId: bankFeedAccountsAdd
      summary: Apideck Create Bank Feed Account
      description: Create Bank Feed Account
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: xero
        description: 'Bank Feed Accounts in Xero represent bank accounts connected to Xero''s Bank Feeds feature, which automatically imports bank transactions into Xero on a daily basis.

          For more information on setting up and using Bank Feeds with Xero, see the [Bank Feeds for Xero guide](https://developers.apideck.com/guides/bank-feeds-xero).

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankFeedAccount'
      responses:
        '201':
          $ref: '#/components/responses/CreateBankFeedAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          bankFeedAccount:
            bank_account_type: bank
            source_account_id: src_456
            target_account_id: tgt_789
            target_account_name: Main Company Checking
            target_account_number: NL91ABNA0417164300
            currency: USD
            feed_status: pending
            country: US
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
  /accounting/bank-feed-accounts/{id}:
    get:
      tags:
      - Bank Feed Accounts
      operationId: bankFeedAccountsOne
      summary: Apideck Get Bank Feed Account
      description: Get Bank Feed Account
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      x-apideck-gotchas: null
      responses:
        '200':
          $ref: '#/components/responses/GetBankFeedAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    patch:
      tags:
      - Bank Feed Accounts
      operationId: bankFeedAccountsUpdate
      summary: Apideck Update Bank Feed Account
      description: Update Bank Feed Account
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas: null
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankFeedAccount'
      responses:
        '200':
          $ref: '#/components/responses/UpdateBankFeedAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          bankFeedAccount:
            bank_account_type: bank
            source_account_id: src_456
            target_account_id: tgt_789
            target_account_name: Main Company Checking
            target_account_number: NL91ABNA0417164300
            currency: USD
            feed_status: pending
            country: US
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
    delete:
      tags:
      - Bank Feed Accounts
      operationId: bankFeedAccountsDelete
      summary: Apideck Delete Bank Feed Account
      description: Delete Bank Feed Account
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas: null
      responses:
        '200':
          $ref: '#/components/responses/DeleteBankFeedAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
components:
  schemas:
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    Country:
      type:
      - string
      - 'null'
      example: US
      title: Country Code
      description: Country code according to ISO 3166-1 alpha-2.
      minLength: 2
      maxLength: 2
    Currency:
      type:
      - string
      - 'null'
      title: Currency
      description: Indicates the associated currency for an amount of money. Values correspond to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).
      example: USD
      x-apideck-enum-id: currencies
      x-apideck-enum-coverage-ignore: true
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRC
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - ETH
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
        description: Pakistani rupee
      - name: PLN
        description: Polish złoty
      - name: PYG
        description: Paraguayan guaraní
      - name: QAR
        description: Qatari riyal
      - name: RON
        description: Romanian leu
      - name: RSD
        description: Serbian dinar
      - name: RUB
        description: Russian ruble
      - name: RWF
        description: Rwandan franc
      - name: SAR
        description: Saudi riyal
      - name: SBD
        description: Solomon Islands dollar
      - name: SCR
        description: Seychelles rupee
      - name: SDG
        description: Sudanese pound
      - name: SEK
        description: Swedish krona
      - name: SGD
        description: Singapore dollar
      - name: SHP
        description: Saint Helena pound
      - name: SLL
        description: Sierra Leonean leone
      - name: SOS
        description: Somali shilling
      - name: SRD
        description: Surinamese dollar
      - name: SSP
        description: South Sudanese pound
      - name: STD
        description: São Tomé and Príncipe dobra
      - name: SVC
        description: Salvadoran colón
      - name: SYP
        description: Syrian pound
      - name: SZL
        description: Swazi lilangeni
      - name: THB
        description: Thai baht
      - name: TJS
        description: Tajikstani somoni
      - name: TMT
        description: Turkmenistan manat
      - name: TND
        description: Tunisian dinar
      - name: TOP
        description: Tongan pa'anga
      - name: TRY
        description: Turkish lira
      - name: TTD
        description: Trinidad and Tobago dollar
      - name: TWD
        description: New Taiwan dollar
      - name: TZS
        description: Tanzanian shilling
      - name: UAH
        description: Ukrainian hryvnia
      - name: UGX
        description: Ugandan shilling
      - name: USD
        description: United States dollar
      - name: USN
        description: United States dollar (next day)
      - name: USS
        description: United States dollar (same day)
      - name: UYI
        description: Uruguay Peso en Unidedades Indexadas
      - name: UYU
        description: Uruguyan peso
      - name: UZS
        description: Uzbekistan som
      - name: VEF
        description: Venezuelan bolívar soberano
      - name: VND
        description: Vietnamese đồng
      - name: VUV
        description: Vanuatu vatu
      - name: WST
        description: Samoan tala
      - name: XAF
        description: CFA franc BEAC
      - name: XAG
        description: Silver
      - name: XAU
        description: Gold
      - name: XBA
        description: European Composite Unit
      - name: XBB
        description: European Monetary Unit
      - name: XBC
        description: European Unit of Account 9
      - name: XBD
        description: European Unit of Account 17
      - name: XCD
        description: East Caribbean dollar
      - name: XDR
        description: Special drawing rights (International Monetary Fund)
      - name: XOF
        description: CFA franc BCEAO
      - name: XPD
        description: Palladium
      - name: XPF
        description: CFP franc
      - name: XPT
        description: Platinum
      - name: XTS
        description: Code reserved for testing
      - name: XXX
        description: No currency
      - name: YER
        description: Yemeni rial
      - name: ZAR
        description: South African rand
      - name: ZMK
        description: Zambian kwacha
      - name: ZMW
        description: Zambian kwacha
      - name: BTC
        description: Bitcoin
      - name: ETH
        description: Ether
    UpdatedBy:
      type:
      - string
      - 'null'
      title: Updated by
      description: The user who last updated the object.
      example: '12345'
      readOnly: true
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    BankFeedAccount:
      type: object
      x-apideck-schema-id: BankFeedAccount
      additionalProperties: false
      x-apideck-weights:
        id: critical
        bank_account_type: high
        source_account_id: high
        target_account_id: high
        target_account_name: high
        target_account_number: high
        currency: medium
        feed_status: medium
        country: medium
        created_at: low
        updated_at: low
        updated_by: low
        created_by: low
      required:
      - id
      x-apideck-strict-required:
      - bank_account_type
      - source_account_id
      properties:
        id:
          $ref: '#/components/schemas/Id'
        bank_account_type:
          type: string
          title: Bank Account Type
          description: Type of the bank account.
          x-apideck-enum-id: bank_feed_accounts.account_type
          enum:
          - bank
          - credit_card
          example: bank
        source_account_id:
          type: string
          title: Source Account ID
          description: The source account's unique identifier.
          example: src_456
        target_account_id:
          type: string
          title: Target Account ID
          description: The target account's unique identifier in the accounting connector.
          example: tgt_789
        target_account_name:
          type: string
          title: Target Account Name
          description: Name associated with the target account.
          example: Main Company Checking
        target_account_number:
          type: string
          title: Target Account Number
          description: Account number of the destination bank account.
          example: NL91ABNA0417164300
        currency:
          $ref: '#/components/schemas/Currency'
        feed_status:
          type: string
          title: Feed Status
          description: Current status of the bank feed.
          x-apideck-enum-id: bank_feeds.status
          enum:
          - pending
          - rejected
          example: pending
        country:
          $ref: '#/components/schemas/Country'
        custom_fields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        updated_by:
          $ref: '#/components/schemas/UpdatedBy'
        created_by:
          $ref: '#/components/schemas/CreatedBy'
    Meta:
      type: object
      x-apideck-schema-id: Meta
      description: Response metadata
      properties:
        items_on_page:
          type: integer
          description: Number of items returned in the data property of the response
          example: 50
        cursors:
          type: object
          description: Cursors to navigate to previous or next pages through the API
          properties:
            previous:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the previous page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjE=
            current:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the current page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjI=
            next:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the next page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjM=
    CreatedBy:
      type:
      - string
      - 'null'
      title: Created by
      description: The user who created the object.
      example: '12345'
      readOnly: true
    CreateBankFeedAccountResponse:
      type: object
      x-apideck-schema-id: CreateBankFeedAccountResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: bills
        operation:
          type: string
          description: Operation performed
          example: add
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    DeleteBankFeedAccountResponse:
      type: object
      x-apideck-schema-id: DeleteBankFeedAccountResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: bank-feed-accounts
        operation:
          type: string
          description: Operation performed
          example: delete
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    Id:
      type: string
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: true
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    Links:
      type: object
      x-apideck-schema-id: Links
      description: Links to navigate to previous or next pages through the API
      properties:
        previous:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        current:
          type: string
          description: Link to navigate to the current page through the API
          example: https://unify.apideck.com/crm/companies
        next:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    UpdatedAt:
      type:
      - string
      - 'null'
      title: Updated at (timestamp)
      description: The date and time when the object was last updated.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    CustomField:
      type: object
      x-apideck-schema-id: CustomField
      additionalProperties: false
      anyOf:
      - required:
        - id
      - required:
        - name
      x-apideck-strict-any-of:
      - required:
        - id
      - required:
        - name
      x-apideck-weights:
        id: critical
        value: critical
        name: medium
        description: edge-case
      properties:
        id:
          title: ID
          description: Unique identifier for the custom field.
          type:
          - string
          - 'null'
          example: '2389328923893298'
        name:
          title: Name
          type:
          - string
          - 'null'
          description: Name of the custom field.
          example: employee_level
        description:
          title: Description
          type:
          - string
          - 'null'
          description: More information about the custom field
          example: Employee Level
        value:
          anyOf:
          - type:
            - string
            - 'null'
            example: Uses Salesforce and Marketo
          - type:
            - number
            - 'null'
            example: 10
          - type:
            - boolean
            - 'null'
            example: true
          - type:
            - object
            - 'null'
            example:
              foo: bar
            additionalProperties: true
          - type: array
            items:
              anyOf:
              - type:
                - string
                - 'null'
                example: Uses Salesforce and Marketo
              - type:
                - number
                - 'null'
                example: 10
              - type:
                - boolean
                - 'null'
                example: true
              - type:
                - object
                - 'null'
                example:
                  foo: bar
                additionalProperties: true
    GetBankFeedAccountsResponse:
      type: object
      x-apideck-schema-id: GetBankFeedAccountsResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: bank-feed-accounts
        operation:
          type: string
          description: Operation performed
          example: all
        data:
          type: array
          items:
            $ref: '#/components/schemas/BankFeedAccount'
        meta:
          $ref: '#/components/schemas/Meta'
        links:
          $ref: '#/components/schemas/Links'
        _raw:
          $ref: '#/components/schemas/Raw'
    PassThroughQuery:
      type: object
      additionalProperties: true
      properties:
        example_downstream_property:
          type: string
          description: All passthrough query parameters are passed along to the connector as is (?pass_through[search]=leads becomes ?search=leads)
      example:
        search: San Francisco
    UnifiedId:
      title: UnifiedId
      type: object
      x-apideck-schema-id: Id
      description: A object containing a unique identifier for the resource that was created, updated, or deleted.
      required:
      - id
      properties:
        id:
          title: Id
          description: The unique identifier of the resource
          type: string
          readOnly: true
          example: '12345'
    GetBankFeedAccountResponse:
      type: object
      x-apideck-schema-id: GetBankFeedAccountResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: bank-feed-accounts
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/BankFeedAccount'
        _raw:
          $ref: '#/components/schemas/Raw'
    UpdateBankFeedAccountResponse:
      type: object
      x-apideck-schema-id: UpdateBankFeedAccountResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: bank-feed-accounts
        operation:
          type: string
          description: Operation performed
          example: update
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    CreatedAt:
      type:
      - string
      - 'null'
      title: Created at (timestamp)
      description: The date and time when the object was created.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
  responses:
    UnexpectedErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnexpectedErrorResponse'
      description: Unexpected error
    GetBankFeedAccountsResponse:
      description: Bank Feed Accounts
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetBankFeedAccountsResponse'
    GetBankFeedAccountResponse:
      description: Bank Feed Accounts
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetBankFeedAccountResponse'
    PaymentRequiredResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredResponse'
      description: Payment Required
    UnprocessableResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableResponse'
      description: Unprocessable
    BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestResponse'
      description: Bad Request
    DeleteBankFeedAccountResponse:
      description: Bank Feed Accounts
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteBankFeedAccountResponse'
    NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
      description: The specified resource was not found
    UpdateBankFeedAccountResponse:
      description: Bank Feed Accounts
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateBankFeedAccountResponse'
    CreateBankFeedAccountResponse:
      description: Bank Feed Accounts
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateBankFeedAccountResponse'
    UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedResponse'
      description: Unauthorized
  parameters:
    raw:
      name: raw
      in: query
      description: Include raw response. Mostly used for debugging purposes
      schema:
        type: boolean
        default: false
    limit:
      name: limit
      in: query
      description: Number of results to return. Minimum 1, Maximum 200, Default 20
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    applicationId:
      name: x-apideck-app-id
      in: header
      required: true
      description: The ID of your Unify application
      schema:
        type: string
        minLength: 1
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      x-speakeasy-name-override: appId
    id:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the record you are acting upon.
    cursor:
      name: cursor
      in: query
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      schema:
        type:
        - string
        - 'null'
    companyId:
      name: x-apideck-company-id
      in: header
      description: The ID of the company to scope requests to. For connectors that support multi-company, this overrides the default company configured in connection settings.
      schema:
        type: string
      example: '12345'
      x-speakeasy-name-override: companyId
    serviceId:
      name: x-apideck-service-id
      in: header
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      schema:
        type: string
      example: salesforce
      x-speakeasy-name-override: serviceId
    passThrough:
      name: pass_through
      in: query
      description: 'Optional unmapped key/values that will be passed through to downstream as query parameters. Ie: ?pass_through[search]=leads becomes ?search=leads'
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PassThroughQuery'
    consumerId:
      name: x-apideck-consumer-id
      in: header
      required: true
      description: ID of the consumer which you want to get or push data from
      schema:
        type: string
      example: test-consumer
      x-speakeasy-name-override: consumerId
    fields:
      name: fields
      in: query
      description: 'The ''fields'' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields "name", "email" and "addresses.city". If any other fields are available, they will be excluded.'
      example: id,updated_at
      schema:
        type:
        - string
        - 'null'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'To access our API, you need to sign up and obtain your unique API key. Each Unify application is assigned a single API key. You can locate your API key in the Configuration Settings section of your Apideck application. Additionally, your application’s application_id is available on the same page.


        Authenticate your API requests by including your test or live secret API key in the request header.


        - Bearer authorization header: `Authorization: Bearer "YOUR_API_KEY_HERE"`

        - Application id header: `x-apideck-app-id: "YOUR_APP_ID_HERE"`


        You should use the public keys on the SDKs and the secret keys to authenticate API requests.


        **Do not share or include your secret API keys on client side code.** Your API keys carry significant privileges. Please ensure to keep them 100% secure and be sure to not share your secret API keys in areas that are publicly accessible like GitHub.


        Learn how to set the Authorization header inside Postman https://learning.postman.com/docs/postman/sending-api-requests/authorization/#api-key


        Go to Unify to grab your API KEY https://app.apideck.com/unify/api-keys

        '
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
x-webhooks:
  x-sdk-exclude: true
  x-speakeasy-ignore: true
  CustomerCreated:
    post:
      summary: Customer Created
      operationId: customerCreated
      x-apideck-event-type: accounting.customer.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.customer.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/customers/123456ASDF
                entity_type: customer
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a customer has been created.
  CustomerUpdated:
    post:
      summary: Customer Updated
      operationId: customerUpdated
      x-apideck-event-type: accounting.customer.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.customer.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/customers/123456ASDF
                entity_type: customer
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a customer has been updated.
  CustomerDeleted:
    post:
      summary: Customer Deleted
      operationId: customerDeleted
      x-apideck-event-type: accounting.customer.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.customer.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/customers/123456ASDF
                entity_type: customer
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a customer has been deleted.
  InvoiceCreated:
    post:
      summary: Invoice Created
      operationId: invoiceCreated
      x-apideck-event-type: accounting.invoice.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoices/123456ASDF
                entity_type: invoice
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been created.
  InvoiceUpdated:
    post:
      summary: Invoice Updated
      operationId: invoiceUpdated
      x-apideck-event-type: accounting.invoice.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoices/123456ASDF
                entity_type: invoice
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been updated.
  InvoiceDeleted:
    post:
      summary: Invoice Deleted
      operationId: invoiceDeleted
      x-apideck-event-type: accounting.invoice.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoices/123456ASDF
                entity_type: invoice
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been deleted.
  InvoiceItemCreated:
    post:
      summary: Invoice Item Created
      operationId: invoiceItemCreated
      x-apideck-event-type: accounting.invoice_item.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice_item.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoice_items/123456ASDF
                entity_type: invoice_item
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been item created.
  InvoiceItemUpdated:
    post:
      summary: Invoice Item Updated
      operationId: invoiceItemUpdated
      x-apideck-event-type: accounting.invoice_item.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice_item.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoice_items/123456ASDF
                entity_type: invoice_item
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been item updated.
  InvoiceItemDeleted:
    post:
      summary: Invoice Item Deleted
      operationId: invoiceItemDeleted
      x-apideck-event-type: accounting.invoice_item.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice_item.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoice_items/123456ASDF
                entity_type: invoice_item
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been item deleted.
  LedgerAccountCreated:
    post:
      summary: Ledger Account Created
      operationId: ledgerAccountCreated
      x-apideck-event-type: accounting.ledger_account.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.ledger_account.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/ledger_accounts/123456ASDF
                entity_type: ledger_account
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a ledger has been account created.
  LedgerAccountUpdated:
    post:
      summary: Ledger Account Updated
      operationId: ledgerAccountUpdated
      x-apideck-event-type: accounting.ledger_account.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.ledger_account.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/ledger_accounts/123456ASDF
                entity_type: ledger_account
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a ledger has been account updated.
  LedgerAccountDeleted:
    post:
      summary: Ledger Account Deleted
      operationId: ledgerAccountDeleted
      x-apideck-event-type: accounting.ledger_account.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.ledger_account.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/ledger_accounts/123456ASDF
                entity_type: ledger_account
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a ledger has been account deleted.
  TaxRateCreated:
    post:
      summary: Tax Rate Created
      operationId: taxRateCreated
      x-apideck-event-type: accounting.tax_rate.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.tax_rate.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/tax_rates/123456ASDF
                entity_type: tax_rate
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a tax has been rate created.
  TaxRateUpdated:
    post:
      summary: Tax Rate Updated
      operationId: taxRateUpdated
      x-apideck-event-type: accounting.tax_rate.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.tax_rate.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/tax_rates/123456ASDF
                entity_type: tax_rate
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a tax has been rate updated.
  TaxRateDeleted:
    post:
      summary: Tax Rate Deleted
      operationId: taxRateDeleted
      x-apideck-event-type: accounting.tax_rate.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.tax_rate.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/tax_rates/123456ASDF
                entity_type: tax_rate
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a tax has been rate deleted.
  PurchaseOrderCreated:
    post:
      summary: Purchase Order Created
      operationId: purchaseOrderCreated
      x-apideck-event-type: accounting.purchase_order.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.purchase_order.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/purchase_orders/123456ASDF
                entity_type: purchase_order
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a purchase has been order created.
  PurchaseOrderDeleted:
    post:
      summary: Purchase Order Deleted
      operationId: purchaseOrderDeleted
      x-apideck-event-type: accounting.purchase_order.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.purchase_order.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/purchase_orders/123456ASDF
                entity_type: purchase_order
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a purchase has been order deleted.
  PurchaseOrderUpdated:
    post:
      summary: Purchase Order Updated
      operationId: purchaseOrderUpdated
      x-apideck-event-type: accounting.purchase_order.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.purchase_order.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/purchase_orders/123456ASDF
                entity_type: purchase_order
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a purchase has been order updated.
  ExpenseUpdated:
    post:
      summary: Expense Updated
      description: Event broadcast when an expense has been updated.
      operationId: expenseUpdated
      x-apideck-event-type: accounting.expense.updated
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.expense.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/expenses/123456ASDF
                entity_type: expense
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          type: string
        example: accounting.expense.updated
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      security: []
  ExpenseDeleted:
    post:
      summary: Expense Deleted
      description: Event broadcast when an expense has been deleted.
      operationId: expenseDeleted
      x-apideck-event-type: accounting.expense.deleted
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.expense.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/expenses/123456ASDF
                entity_type: expense
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          type: string
        example: accounting.expense.deleted
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      security: []
  ExpenseCreated:
    post:
      summary: Expense Created
      description: Event broadcast when an expense has been created.
      operationId: expenseCreated
      x-apideck-event-type: accounting.expense.created
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.expense.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/expenses/123456ASDF
                entity_type: expense
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          type: string
        example: accounting.expense.created
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      security: []
  QuoteDeleted:
    post:
      summary: Quote Deleted
      description: Event broadcast when a quote has been deleted.
      operationId: quoteDeleted
      x-apideck-event-type: accounting.quote.deleted
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvent'
            example:
              payload:
                event_type: accounting.quote.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/quotes/123456ASDF
                entity_type: quote
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
  QuoteCreated:
    post:
      summary: Quote Created
      description: Event broadcast when a quote has been created.
      operationId: quoteCreated
      x-apideck-event-type: accounting.quote.created
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvent'
            example:
              payload:
                event_type: accounting.quote.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/quotes/123456ASDF
                entity_type: quote
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
  QuoteUpdated:
    post:
      summary: Quote Updated
      description: Event broadcast when a quote has been updated.
      operationId: quoteUpdated
      x-apideck-event-type: accounting.quote.updated
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvent'
            example:
              payload:
                event_type: accounting.quote.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/quotes/123456ASDF
                entity_type: quote
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
  ProjectUpdated:
    post:
      summary: Project Updated
      description: Event broadcast when a project has been updated.
      operationId: projectUpdated
      x-apideck-event-type: accounting.project.updated
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.project.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/projects/123456ASDF
                entity_type: project
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
  ProjectCreated:
    post:
      summary: Project Created
      description: Event broadcast when a project has been created.
      operationId: projectCreated
      x-apideck-event-type: accounting.project.created
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.project.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/projects/123456ASDF
                entity_type: project
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
  ProjectDeleted:
    post:
      summary: Project Deleted
      description: Event broadcast when a project has been deleted.
      operationId: projectDeleted
      x-apideck-event-type: accounting.project.deleted
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.project.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
[...]
