openapi: 3.2.0
info:
  version: 10.24.12
  title: Apideck Accounting Invoices API
  description: Welcome to the Accounting API.
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-apideck-api: accounting
  x-apideck-sdk-support: true
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://unify.apideck.com
security:
- apiKey: []
tags:
- name: Invoices
  description: An Invoice represents a sales document sent to customers, including line items, taxes, discounts, totals, due date, and payment status.
  x-apideck-resource-id: invoices
  x-apideck-model:
    $ref: '#/components/schemas/Invoice'
paths:
  /accounting/invoices:
    get:
      tags:
      - Invoices
      operationId: invoicesAll
      summary: Apideck List Invoices
      description: List Invoices
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/invoicesFilter'
      - $ref: '#/components/parameters/invoicesSort'
      - $ref: '#/components/parameters/passThrough'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: clearbooks-uk
        description: Clearbooks does not support setting the pagination size.
      - connector: netsuite
        description: 'The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used within 15 minutes after its creation.

          '
      - connector: xero
        description: 'Invoices in Xero can be tax inclusive, tax exclusive, or no tax. The `tax_inclusive` field is set to `true` (tax inclusive), `false` (tax exclusive), or `null` (no tax). Line items include `tax_rate` references that link to the tax-rates resource.

          '
      - connector: quickbooks
        description: 'QuickBooks uses tax codes rather than tax rates. The `tax_rate` on line items references a tax code, which may not include the actual percentage value. To get the actual rate, retrieve the full tax rate details via the tax-rates endpoint.

          '
      responses:
        '200':
          $ref: '#/components/responses/GetInvoicesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source: {}
    post:
      tags:
      - Invoices
      operationId: invoicesAdd
      summary: Apideck Create Invoice
      description: Create Invoice
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: xero
        description: 'When providing both customer.id and customer.display_name (or customer.name), Xero will update the contact''s name if the ContactID exists. If the ContactID doesn''t exist, Xero will automatically create a new contact using the provided name. This allows for automatic contact creation but may update existing contact names if the display_name differs from the stored name.

          '
      - connector: quickbooks
        description: Quickbooks offers limited (regional) support for applying discount on a Line Item. Including discount_percentage or discount_amount applies to entire invoice. The default type for a Line Item is a sales item if no type has been provided.
      - connector: procountor-fi
        description: ''
        Procountor only accepts the following values for the language field: EN, FI, SV, ET, NO, and DA.
        Procountor only accepts the following values for the payment_method field: BANK_TRANSFER, DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH, DOMESTIC_PAYMENT_PLUSGIRO, DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.
        Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE, EDIFACT, PAPER_INVOICE, NO_SENDING.
      - connector: microsoft-dynamics-365-business-central
        description: 'If you encounter a ''400 Bad Request'' error indicating "Control ''fieldName'' is read-only" it means the ''editable'' property for this field in Microsoft Dynamics 365 Business Central is currently set to false. To resolve this issue and make the field writable, simply update the ''editable'' property to true in Microsoft Dynamics 365 Business Central.

          '
      - connector: freshbooks
        description: 'The status field can be set to either "submitted", "partially_paid", "paid" or "draft". The due_date and invoice_date fields are required for the invoice to be created.

          '
      - connector: zoho-books
        description: 'By default, the status of the invoice will be set to "draft".

          '
      - connector: netsuite
        description: 'Netsuite only supports one tracking category at a time so only the first item in the tracking_categories list will be used. While creating an invoice, revenue start date and revenue end date should be passed in the custom fields object inside the line items.

          '
      - connector: workday
        description: 'It is required to provide tracking_categories.id in the line items, which corresponds to the worktag/cost_center_id in Workday. It is required to provide the item.id in the line items.

          '
      - connector: myob-acumatica
        description: 'When filling line items, you can either link an existing item by providing the item code or create a new item by filling in the item details. Using both options at the same time is not supported.

          '
      - connector: acumatica
        description: 'When filling line items, you can either link an existing item by providing the item code or create a new item by filling in the item details. Using both options at the same time is not supported.

          '
      - connector: access-financials
        description: 'Access Financials creates invoices as live/posted transactions immediately. Live transactions cannot be updated, so to correct an invoice you must create a credit note and issue a new invoice.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '201':
          $ref: '#/components/responses/CreateInvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          invoice:
            display_id: '123456'
            type: service
            number: OIT00546
            customer:
              id: '12345'
              display_name: Windsurf Shop
              name: Windsurf Shop
              email: boring@boring.com
            company_id: '12345'
            location_id: '12345'
            department_id: '12345'
            invoice_date: '2020-09-30'
            due_date: '2020-09-30'
            terms: Net 30 days
            terms_id: '12345'
            po_number: '90000117'
            reference: INV-2024-001
            status: draft
            invoice_sent: true
            currency: USD
            currency_rate: 0.69
            tax_inclusive: true
            sub_total: 27500
            total_tax: 2500
            tax_code: '1234'
            discount_percentage: 5.5
            discount_amount: 25
            total: 27500
            balance: 27500
            deposit: 0
            customer_memo: Thank you for your business and have a great day!
            tracking_category:
              id: '123456'
              name: New York
            tracking_categories:
            - id: '123456'
              code: '100'
              name: New York
              parent_id: '123456'
              parent_name: New York
            line_items:
            - id: '12345'
              row_id: '12345'
              code: 120-C
              line_number: 1
              description: Model Y is a fully electric, mid-size SUV, with seating for up to seven, dual motor AWD and unparalleled protection.
              type: sales_item
              tax_amount: 27500
              total_amount: 27500
              quantity: 1
              unit_price: 27500.5
              unit_of_measure: pc.
              discount_percentage: 0.01
              discount_amount: 19.99
              service_date: '2024-01-15'
              category_id: '12345'
              location_id: '12345'
              department_id: '12345'
              subsidiary_id: '12345'
              shipping_id: '12345'
              memo: Some memo
              prepaid: true
              item:
                id: '12344'
                code: 120-C
                name: Model Y
              tax_applicable_on: Domestic_Purchase_of_Goods_and_Services
              tax_recoverability: Fully_Recoverable
              tax_method: Due_to_Supplier
              worktags:
              - id: '123456'
                value: New York
              tax_rate:
                id: '123456'
                code: N-T
                rate: 10
              tracking_categories:
              - id: '123456'
                code: '100'
                name: New York
                parent_id: '123456'
                parent_name: New York
              ledger_account:
                id: '123456'
                name: Bank account
                nominal_code: N091
                code: '453'
                parent_id: '123456'
                display_id: '123456'
              custom_fields:
              - id: '2389328923893298'
                name: employee_level
                description: Employee Level
                value: Uses Salesforce and Marketo
              row_version: 1-12345
            billing_address:
              id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            shipping_address:
              id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            template_id: '123456'
            source_document_url: https://www.invoicesolution.com/invoice/123456
            payment_allocations:
            - id: '123456'
              allocated_amount: 1000
              date: '2020-09-30T07:43:32.000Z'
            payment_method: cash
            channel: email
            language: EN
            accounting_by_row: false
            bank_account:
              bank_name: Chase Bank
              account_number: '123465'
              account_name: Main Operating Account
              account_type: credit_card
              iban: GB33BUKB20201555555555
              bic: CHASUS33
              routing_number: '021000021'
              bsb_number: 062-001
              branch_identifier: '001'
              bank_code: BNH
              currency: USD
              country: US
            ledger_account:
              id: '123456'
              name: Bank account
              nominal_code: N091
              code: '453'
              parent_id: '123456'
              display_id: '123456'
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            row_version: 1-12345
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
  /accounting/invoices/{id}:
    get:
      tags:
      - Invoices
      operationId: invoicesOne
      summary: Apideck Get Invoice
      description: Get Invoice
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetInvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    patch:
      tags:
      - Invoices
      operationId: invoicesUpdate
      summary: Apideck Update Invoice
      description: Update Invoice
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: quickbooks
        description: 'Quickbooks offers limited (regional) support for applying discount on a Line Item.  Including discount_percentage or discount_amount applies to entire invoice.  The default type for a Line Item is a sales item if no type has been provided. When setting status to `void`, do not include any other fields in the request body.

          '
      - connector: procountor-fi
        description: ''
        Procountor only accepts the following values for the language field: EN, FI, SV, ET, NO, and DA.
        Procountor only accepts the following values for the payment_method field: BANK_TRANSFER, DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH, DOMESTIC_PAYMENT_PLUSGIRO, DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.
        Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE, EDIFACT, PAPER_INVOICE, NO_SENDING.
      - connector: exact-online
        description: To configure the shipping address for invoices, it is recommended to update the customer resource. If there is a need to change this property, modifying the customer information is advised.
      - connector: xero
        description: For updating invoices, there are some limitations. Check out [here](https://developers.apideck.com/connectors/xero/docs/application_owner+oauth_credentials#1-limitations-and-rules-for-updating-xero-invoices)
      - connector: xero
        description: 'Invoices in Xero can be tax inclusive, tax exclusive, or no tax. Set `tax_inclusive` to `true` (amounts include tax), `false` (amounts exclude tax), or `null` (no tax applied). When updating, changing `tax_inclusive` recalculates all line item amounts.

          '
      - connector: quickbooks
        description: 'When setting tax rates on line items, QuickBooks requires valid tax codes. The `tax_rate.id` must reference an existing tax code from the tax-rates endpoint. QuickBooks automatically calculates tax amounts based on the tax code''s rate.

          '
      - connector: freshbooks
        description: 'The status field can be set to either "submitted" or "draft". The other available statuses are set by the Freshbooks API and cannot be updated manually. The due_date and invoice_date fields are required for the due date to be updated.

          '
      - connector: zoho-books
        description: 'The allowed values for the status field are "draft", "submitted", and "void" when using the update method.

          Please ensure that status updates are sent separately from other invoice updates.

          '
      - connector: netsuite
        description: Netsuite only supports one tracking category at a time so only the first item in the tracking_categories list will be used.
      - connector: sage-business-cloud-accounting
        description: 'To fetch service items, you must include filter[type]=service in your request parameters

          '
      - connector: workday
        description: 'It is required to provide tracking_categories.id in the line items, which corresponds to the worktag/cost_center_id in Workday. It is required to provide the item.id in the line items. Workday only supports `sales_item` and `service` types for line items and this is required.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          $ref: '#/components/responses/UpdateInvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          invoice:
            display_id: '123456'
            type: service
            number: OIT00546
            customer:
              id: '12345'
              display_name: Windsurf Shop
              name: Windsurf Shop
              email: boring@boring.com
            company_id: '12345'
            location_id: '12345'
            department_id: '12345'
            invoice_date: '2020-09-30'
            due_date: '2020-09-30'
            terms: Net 30 days
            terms_id: '12345'
            po_number: '90000117'
            reference: INV-2024-001
            status: draft
            invoice_sent: true
            currency: USD
            currency_rate: 0.69
            tax_inclusive: true
            sub_total: 27500
            total_tax: 2500
            tax_code: '1234'
            discount_percentage: 5.5
            discount_amount: 25
            total: 27500
            balance: 27500
            deposit: 0
            customer_memo: Thank you for your business and have a great day!
            tracking_category:
              id: '123456'
              name: New York
            tracking_categories:
            - id: '123456'
              code: '100'
              name: New York
              parent_id: '123456'
              parent_name: New York
            line_items:
            - id: '12345'
              row_id: '12345'
              code: 120-C
              line_number: 1
              description: Model Y is a fully electric, mid-size SUV, with seating for up to seven, dual motor AWD and unparalleled protection.
              type: sales_item
              tax_amount: 27500
              total_amount: 27500
              quantity: 1
              unit_price: 27500.5
              unit_of_measure: pc.
              discount_percentage: 0.01
              discount_amount: 19.99
              service_date: '2024-01-15'
              category_id: '12345'
              location_id: '12345'
              department_id: '12345'
              subsidiary_id: '12345'
              shipping_id: '12345'
              memo: Some memo
              prepaid: true
              item:
                id: '12344'
                code: 120-C
                name: Model Y
              tax_applicable_on: Domestic_Purchase_of_Goods_and_Services
              tax_recoverability: Fully_Recoverable
              tax_method: Due_to_Supplier
              worktags:
              - id: '123456'
                value: New York
              tax_rate:
                id: '123456'
                code: N-T
                rate: 10
              tracking_categories:
              - id: '123456'
                code: '100'
                name: New York
                parent_id: '123456'
                parent_name: New York
              ledger_account:
                id: '123456'
                name: Bank account
                nominal_code: N091
                code: '453'
                parent_id: '123456'
                display_id: '123456'
              custom_fields:
              - id: '2389328923893298'
                name: employee_level
                description: Employee Level
                value: Uses Salesforce and Marketo
              row_version: 1-12345
            billing_address:
              id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            shipping_address:
              id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            template_id: '123456'
            source_document_url: https://www.invoicesolution.com/invoice/123456
            payment_allocations:
            - id: '123456'
              allocated_amount: 1000
              date: '2020-09-30T07:43:32.000Z'
            payment_method: cash
            channel: email
            language: EN
            accounting_by_row: false
            bank_account:
              bank_name: Chase Bank
              account_number: '123465'
              account_name: Main Operating Account
              account_type: credit_card
              iban: GB33BUKB20201555555555
              bic: CHASUS33
              routing_number: '021000021'
              bsb_number: 062-001
              branch_identifier: '001'
              bank_code: BNH
              currency: USD
              country: US
            ledger_account:
              id: '123456'
              name: Bank account
              nominal_code: N091
              code: '453'
              parent_id: '123456'
              display_id: '123456'
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            row_version: 1-12345
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
    delete:
      tags:
      - Invoices
      operationId: invoicesDelete
      summary: Apideck Delete Invoice
      description: Delete Invoice
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: freshbooks
        description: 'Delete will set the invoice to inactive and will soft delete it, meaning it will stop appearing in the list API call. However, it can still be found via the get by id call.

          '
      responses:
        '200':
          $ref: '#/components/responses/DeleteInvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
components:
  parameters:
    raw:
      name: raw
      in: query
      description: Include raw response. Mostly used for debugging purposes
      schema:
        type: boolean
        default: false
    applicationId:
      name: x-apideck-app-id
      in: header
      required: true
      description: The ID of your Unify application
      schema:
        type: string
        minLength: 1
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      x-speakeasy-name-override: appId
    cursor:
      name: cursor
      in: query
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      schema:
        type:
        - string
        - 'null'
    invoicesFilter:
      name: filter
      in: query
      description: Apply filters
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/InvoicesFilter'
    id:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the record you are acting upon.
    invoicesSort:
      name: sort
      in: query
      description: Apply sorting
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/InvoicesSort'
    serviceId:
      name: x-apideck-service-id
      in: header
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      schema:
        type: string
      example: salesforce
      x-speakeasy-name-override: serviceId
    fields:
      name: fields
      in: query
      description: 'The ''fields'' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields "name", "email" and "addresses.city". If any other fields are available, they will be excluded.'
      example: id,updated_at
      schema:
        type:
        - string
        - 'null'
    limit:
      name: limit
      in: query
      description: Number of results to return. Minimum 1, Maximum 200, Default 20
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    companyId:
      name: x-apideck-company-id
      in: header
      description: The ID of the company to scope requests to. For connectors that support multi-company, this overrides the default company configured in connection settings.
      schema:
        type: string
      example: '12345'
      x-speakeasy-name-override: companyId
    passThrough:
      name: pass_through
      in: query
      description: 'Optional unmapped key/values that will be passed through to downstream as query parameters. Ie: ?pass_through[search]=leads becomes ?search=leads'
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PassThroughQuery'
    consumerId:
      name: x-apideck-consumer-id
      in: header
      required: true
      description: ID of the consumer which you want to get or push data from
      schema:
        type: string
      example: test-consumer
      x-speakeasy-name-override: consumerId
  schemas:
    UnitPrice:
      type:
      - number
      - 'null'
      title: Unit price
      example: 27500.5
    LinkedTrackingCategory:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedTrackingCategory
      x-apideck-weights:
        id: critical
        code: medium
      properties:
        id:
          title: Tracking Category ID
          description: The unique identifier for the tracking category.
          type: string
          example: '123456'
        code:
          type:
          - string
          - 'null'
          title: Tracking Category Code
          description: The code of the tracking category.
          example: '100'
        name:
          type:
          - string
          - 'null'
          title: Tracking Category Name
          description: The name of the tracking category.
          example: New York
        parent_id:
          type: string
          title: Parent Tracking Category ID
          description: The unique identifier for the parent tracking category.
          example: '123456'
        parent_name:
          type:
          - string
          - 'null'
          title: Parent Tracking Category Name
          description: The name of the parent tracking category.
          example: New York
    Quantity:
      type:
      - number
      - 'null'
      title: Quantity
      example: 1
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    TaxInclusive:
      type:
      - boolean
      - 'null'
      title: Tax inclusive
      description: Amounts are including tax
      example: true
    LinkedTaxRate:
      type: object
      x-apideck-schema-id: LinkedTaxRate
      additionalProperties: false
      x-apideck-weights:
        id: medium
        code: medium
        name: medium
        rate: medium
      properties:
        id:
          type:
          - string
          - 'null'
          title: The ID of the object.
          description: The ID of the object.
          example: '123456'
        code:
          type:
          - string
          - 'null'
          title: Tax rate code
          description: Tax rate code
          example: N-T
        name:
          type:
          - string
          - 'null'
          title: Name
          description: Name of the tax rate
          example: GST on Purchases
          readOnly: true
        rate:
          type:
          - number
          - 'null'
          title: Rate
          description: Rate of the tax rate
          example: 10
    UnitOfMeasure:
      type:
      - string
      - 'null'
      title: Unit of measure
      description: 'Description of the unit type the item is sold as, ie: kg, hour.'
      example: pc.
    LinkedTrackingCategories:
      type:
      - array
      - 'null'
      x-apideck-schema-id: LinkedTrackingCategories
      title: Linked tracking categories
      description: A list of linked tracking categories.
      items:
        $ref: '#/components/schemas/LinkedTrackingCategory'
    InvoicesSort:
      type: object
      x-apideck-schema-id: InvoicesSort
      example:
        by: updated_at
        direction: desc
      properties:
        by:
          type: string
          x-apideck-enum-id: invoices.sort_by
          description: The field on which to sort the Invoices
          enum:
          - created_at
          - updated_at
          example: updated_at
        direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
    GetInvoiceResponse:
      type: object
      x-apideck-schema-id: GetInvoiceResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: invoices
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/Invoice'
        _raw:
          $ref: '#/components/schemas/Raw'
    CurrencyRate:
      type:
      - number
      - 'null'
      title: Currency Exchange Rate
      description: Currency Exchange Rate at the time entity was recorded/generated.
      example: 0.69
    LinkedWorktag:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedWorktag
      x-apideck-weights:
        id: critical
        value: critical
      properties:
        id:
          type: string
          title: Worktag ID
          description: The unique identifier for the worktag.
          example: '123456'
        value:
          type:
          - string
          - 'null'
          title: Worktag Value
          description: The value of the worktag.
          example: New York
    BankCode:
      type:
      - string
      - 'null'
      title: Bank Code
      description: Bank code assigned by central bank
      example: BNH
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    Currency:
      type:
      - string
      - 'null'
      title: Currency
      description: Indicates the associated currency for an amount of money. Values correspond to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).
      example: USD
      x-apideck-enum-id: currencies
      x-apideck-enum-coverage-ignore: true
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRC
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - ETH
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
        description: Pakistani rupee
      - name: PLN
        description: Polish złoty
      - name: PYG
        description: Paraguayan guaraní
      - name: QAR
        description: Qatari riyal
      - name: RON
        description: Romanian leu
      - name: RSD
        description: Serbian dinar
      - name: RUB
        description: Russian ruble
      - name: RWF
        description: Rwandan franc
      - name: SAR
        description: Saudi riyal
      - name: SBD
        description: Solomon Islands dollar
      - name: SCR
        description: Seychelles rupee
      - name: SDG
        description: Sudanese pound
      - name: SEK
        description: Swedish krona
      - name: SGD
        description: Singapore dollar
      - name: SHP
        description: Saint Helena pound
      - name: SLL
        description: Sierra Leonean leone
      - name: SOS
        description: Somali shilling
      - name: SRD
        description: Surinamese dollar
      - name: SSP
        description: South Sudanese pound
      - name: STD
        description: São Tomé and Príncipe dobra
      - name: SVC
        description: Salvadoran colón
      - name: SYP
        description: Syrian pound
      - name: SZL
        description: Swazi lilangeni
      - name: THB
        description: Thai baht
      - name: TJS
        description: Tajikstani somoni
      - name: TMT
        description: Turkmenistan manat
      - name: TND
        description: Tunisian dinar
      - name: TOP
        description: Tongan pa'anga
      - name: TRY
        description: Turkish lira
      - name: TTD
        description: Trinidad and Tobago dollar
      - name: TWD
        description: New Taiwan dollar
      - name: TZS
        description: Tanzanian shilling
      - name: UAH
        description: Ukrainian hryvnia
      - name: UGX
        description: Ugandan shilling
      - name: USD
        description: United States dollar
      - name: USN
        description: United States dollar (next day)
      - name: USS
        description: United States dollar (same day)
      - name: UYI
        description: Uruguay Peso en Unidedades Indexadas
      - name: UYU
        description: Uruguyan peso
      - name: UZS
        description: Uzbekistan som
      - name: VEF
        description: Venezuelan bolívar soberano
      - name: VND
        description: Vietnamese đồng
      - name: VUV
        description: Vanuatu vatu
      - name: WST
        description: Samoan tala
      - name: XAF
        description: CFA franc BEAC
      - name: XAG
        description: Silver
      - name: XAU
        description: Gold
      - name: XBA
        description: European Composite Unit
      - name: XBB
        description: European Monetary Unit
      - name: XBC
        description: European Unit of Account 9
      - name: XBD
        description: European Unit of Account 17
      - name: XCD
        description: East Caribbean dollar
      - name: XDR
        description: Special drawing rights (International Monetary Fund)
      - name: XOF
        description: CFA franc BCEAO
      - name: XPD
        description: Palladium
      - name: XPF
        description: CFP franc
      - name: XPT
        description: Platinum
      - name: XTS
        description: Code reserved for testing
      - name: XXX
        description: No currency
      - name: YER
        description: Yemeni rial
      - name: ZAR
        description: South African rand
      - name: ZMK
        description: Zambian kwacha
      - name: ZMW
        description: Zambian kwacha
      - name: BTC
        description: Bitcoin
      - name: ETH
        description: Ether
    CreatedAt:
      type:
      - string
      - 'null'
      title: Created at (timestamp)
      description: The date and time when the object was created.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    AccountingByRow:
      type:
      - boolean
      - 'null'
      title: Accounting by Row
      description: Indicates if accounting by row is used (true) or not (false). Accounting by row means that a separate ledger transaction is created for each row.
      example: false
    Country:
      type:
      - string
      - 'null'
      example: US
      title: Country Code
      description: Country code according to ISO 3166-1 alpha-2.
      minLength: 2
      maxLength: 2
    InvoicesFilter:
      type: object
      x-apideck-schema-id: InvoicesFilter
      example:
        updated_since: '2020-09-30T07:43:32.000Z'
        created_since: '2020-09-30T07:43:32.000Z'
        number: OIT00546
        supplier_id: '123'
      properties:
        updated_since:
          type: string
          title: Updated since (timestamp)
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
        created_since:
          type: string
          title: Created since (timestamp)
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
        number:
          type: string
          title: Invoice number
          description: Invoice number to search for
          example: OIT00546
        supplier_id:
          type: string
          title: Supplier ID
          description: Supplier ID to filter invoices by
          example: '123'
      additionalProperties: false
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    LinkedLedgerAccount:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedLedgerAccount
      additionalProperties: false
      x-apideck-weights:
        id: medium
        nominal_code: medium
        code: medium
        name: medium
        parent_id: low
        display_id: low
      properties:
        id:
          title: Account ID
          description: The unique identifier for the account.
          type: string
          example: '123456'
        name:
          type:
          - string
          - 'null'
          title: Account Name
          description: The name of the account.
          example: Bank account
        nominal_code:
          type:
          - string
          - 'null'
          title: Nominal Code
          description: The nominal code of the account.
          example: N091
        code:
          type:
          - string
          - 'null'
          title: Code
          description: The code assigned to the account.
          example: '453'
        parent_id:
          type:
          - string
          - 'null'
          title: Parent ID
          description: The parent ID of the account.
          example: '123456'
        display_id:
          type:
          - string
          - 'null'
          title: Display ID
          description: The display ID of the account.
          example: '123456'
    AccountingCompanyId:
      type:
      - string
      - 'null'
      title: CompanyId
      description: The company ID the transaction belongs to
      example: '12345'
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    Meta:
      type: object
      x-apideck-schema-id: Meta
      description: Response metadata
      properties:
        items_on_page:
          type: integer
          description: Number of items returned in the data property of the response
          example: 50
        cursors:
          type: object
          description: Cursors to navigate to previous or next pages through the API
          properties:
            previous:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the previous page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjE=
            current:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the current page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjI=
            next:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the next page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjM=
    CreatedBy:
      type:
      - string
      - 'null'
      title: Created by
      description: The user who created the object.
      example: '12345'
      readOnly: true
    CreateInvoiceResponse:
      type: object
      x-apideck-schema-id: CreateInvoiceResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: invoices
        operation:
          type: string
          description: Operation performed
          example: add
        data:
          $ref: '#/components/schemas/InvoiceResponse'
        _raw:
          $ref: '#/components/schemas/Raw'
    Id:
      type: string
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: true
    BIC:
      type:
      - string
      - 'null'
      title: BIC/SWIFT Code
      description: Bank Identifier Code / SWIFT Code
      example: CHASUS33
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    LinkedInvoiceItem:
      type: object
      x-apideck-schema-id: LinkedInvoiceItem
      x-apideck-weights:
        id: medium
        code: medium
        name: medium
      properties:
        id:
          type:
          - string
          - 'null'
          title: Item ID
          description: ID of the linked item. A reference to the [invoice item](https://developers.apideck.com/apis/accounting/reference#tag/Invoice-Items) that was used to create this line item
          example: '12344'
        code:
          type:
          - string
          - 'null'
          title: Item code
          description: User defined item code
          example: 120-C
        name:
          type:
          - string
          - 'null'
          title: Item name
          description: User defined item name
          example: Model Y
    TermsId:
      type:
      - string
      - 'null'
      title: Payment Terms ID
      description: The ID of the payment terms
      example: '12345'
      readOnly: false
    UpdatedAt:
      type:
      - string
      - 'null'
      title: Updated at (timestamp)
      description: The date and time when the object was last updated.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    BranchIdentifier:
      type:
      - string
      - 'null'
      title: Branch Identifier
      description: Bank branch identifier
      example: '001'
    CustomField:
      type: object
      x-apideck-schema-id: CustomField
      additionalProperties: false
      anyOf:
      - required:
        - id
      - required:
        - name
      x-apideck-strict-any-of:
      - required:
        - id
      - required:
        - name
      x-apideck-weights:
        id: critical
        value: critical
        name: medium
        description: edge-case
      properties:
        id:
          title: ID
          description: Unique identifier for the custom field.
          type:
          - string
          - 'null'
          example: '2389328923893298'
        name:
          title: Name
          type:
          - string
          - 'null'
          description: Name of the custom field.
          example: employee_level
        description:
          title: Description
          type:
          - string
          - 'null'
          description: More information about the custom field
          example: Employee Level
        value:
          anyOf:
          - type:
            - string
            - 'null'
            example: Uses Salesforce and Marketo
          - type:
            - number
            - 'null'
            example: 10
          - type:
            - boolean
            - 'null'
            example: true
          - type:
            - object
            - 'null'
            example:
              foo: bar
            additionalProperties: true
          - type: array
            items:
              anyOf:
              - type:
                - string
                - 'null'
                example: Uses Salesforce and Marketo
              - type:
                - number
                - 'null'
                example: 10
              - type:
                - boolean
                - 'null'
                example: true
              - type:
                - object
                - 'null'
                example:
                  foo: bar
                additionalProperties: true
    DisplayId:
      type:
      - string
      - 'null'
      title: Display id
      description: Id to be displayed.
      example: '123456'
    Links:
      type: object
      x-apideck-schema-id: Links
      description: Links to navigate to previous or next pages through the API
      properties:
        previous:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        current:
          type: string
          description: Link to navigate to the current page through the API
          example: https://unify.apideck.com/crm/companies
        next:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    Language:
      type:
      - string
      - 'null'
      example: EN
      description: language code according to ISO 639-1. For the United States - EN
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    UpdatedBy:
      type:
      - string
      - 'null'
      title: Updated by
      description: The user who last updated the object.
      example: '12345'
      readOnly: true
    LineNumber:
      title: Line number
      type:
      - integer
      - 'null'
      description: Line number of the resource
      example: 1
    LinkedCustomer:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedCustomer
      title: LinkedCustomer
      description: The customer this entity is linked to.
      x-apideck-weights:
        id: medium
        display_id: medium
        display_name: medium
        name: medium
        company_name: medium
      properties:
        id:
          type: string
          title: Customer ID
          description: The ID of the customer this entity is linked to.
          example: '12345'
        display_id:
          type:
          - string
          - 'null'
          title: Display ID
          description: The display ID of the customer.
          example: CUST00101
          readOnly: true
        display_name:
          type:
          - string
          - 'null'
          title: Display Name
          description: The display name of the customer.
          example: Windsurf Shop
        name:
          type: string
          title: Name
          description: The name of the customer. Deprecated, use display_name instead.
          example: Windsurf Shop
          deprecated: true
        company_name:
          type:
          - string
          - 'null'
          title: Company Name
          description: The company name of the customer.
          example: The boring company
          readOnly: true
        email:
          type: string
          title: Email
          description: The email address of the customer.
          example: boring@boring.com
    InvoiceLineItem:
      type: object
      title: Invoice Line Item
      x-apideck-schema-id: InvoiceLineItem
      additionalProperties: false
      x-apideck-weights:
        id: high
        row_id: edge-case
        code: medium
        line_number: medium
        description: high
        type: medium
        tax_amount: high
        total_amount: high
        quantity: high
        unit_price: high
        unit_of_measure: edge-case
        discount_percentage: low
        discount_amount: low
        service_date: medium
        category_id: low
        location_id: low
        department_id: low
        subsidiary_id: edge-case
        shipping_id: edge-case
        memo: low
        prepaid: edge-case
        tax_applicable_on: edge-case
        tax_recoverability: edge-case
        tax_method: edge-case
        worktags: edge-case
        item: high
        tax_rate: medium
        ledger_account: low
        tracking_categories: low
        custom_fields: medium
        row_version: edge-case
        created_at: edge-case
        updated_at: high
        updated_by: edge-case
        created_by: edge-case
      properties:
        id:
          $ref: '#/components/schemas/WritableId'
        row_id:
          type: string
          title: Row ID
          description: Row ID
          example: '12345'
        code:
          type:
          - string
          - 'null'
          title: Item code
          description: User defined item code
          example: 120-C
        line_number:
          $ref: '#/components/schemas/LineNumber'
        description:
          type:
          - string
          - 'null'
          title: Description
          description: User defined description
          example: Model Y is a fully electric, mid-size SUV, with seating for up to seven, dual motor AWD and unparalleled protection.
        type:
          type:
          - string
          - 'null'
          title: Type
          description: Item type
          example: sales_item
          x-apideck-enum-id: invoices.lines-items.type
          enum:
          - sales_item
          - discount
          - info
          - sub_total
          - service
          - other
        tax_amount:
          type:
          - number
          - 'null'
          title: Tax amount
          description: Tax amount
          example: 27500
        total_amount:
          type:
          - number
          - 'null'
          title: Total amount
          description: Total amount of the line item
          example: 27500
        quantity:
          $ref: '#/components/schemas/Quantity'
        unit_price:
          $ref: '#/components/schemas/UnitPrice'
        unit_of_measure:
          $ref: '#/components/schemas/UnitOfMeasure'
        discount_percentage:
          type:
          - number
          - 'null'
          title: Discount Percentage
          description: Discount percentage applied to the line item when supported downstream.
          example: 0.01
        discount_amount:
          type:
          - number
          - 'null'
          title: Discount Amount
          description: Discount amount applied to the line item when supported downstream.
          example: 19.99
        service_date:
          type:
          - string
          - 'null'
          format: date
          title: Service Date
          description: Date on which the service was provided or performed - YYYY-MM-DD.
          example: '2024-01-15'
        category_id:
          type:
          - string
          - 'null'
          title: Category ID
          description: ID of the category of the line item
          example: '12345'
        location_id:
          $ref: '#/components/schemas/LocationId'
        department_id:
          $ref: '#/components/schemas/DepartmentId'
        subsidiary_id:
          $ref: '#/components/schemas/SubsidiaryId'
        shipping_id:
          type:
          - string
          - 'null'
          title: Shipping ID
          description: ID of the shipping of the line item
          example: '12345'
        memo:
          type:
          - string
          - 'null'
          title: Memo
          description: Memo
          example: Some memo
        prepaid:
          type:
          - boolean
          - 'null'
          title: Prepaid
          description: Whether the line item is prepaid
          example: true
        item:
          $ref: '#/components/schemas/LinkedInvoiceItem'
        tax_applicable_on:
          type:
          - string
          - 'null'
          title: Tax Applicable On
          description: Tax applicable on
          example: Domestic_Purchase_of_Goods_and_Services
        tax_recoverability:
          type:
          - string
          - 'null'
          title: Tax Recoverability
          description: Tax recoverability
          example: Fully_Recoverable
        tax_method:
          type:
          - string
          - 'null'
          title: Tax method
          description: Method of tax calculation
          example: Due_to_Supplier
        worktags:
          type: array
          description: Worktags of the line item. This is currently only supported in Workday.
          items:
            $ref: '#/components/schemas/LinkedWorktag'
        tax_rate:
          $ref: '#/components/schemas/LinkedTaxRate'
        tracking_categories:
          $ref: '#/components/schemas/LinkedTrackingCategories'
        ledger_account:
          $ref: '#/components/schemas/LinkedLedgerAccount'
        custom_fields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        row_version:
          $ref: '#/components/schemas/RowVersion'
        updated_by:
          $ref: '#/components/schemas/UpdatedBy'
        created_by:
          $ref: '#/components/schemas/CreatedBy'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
    BankName:
      type:
      - string
      - 'null'
      title: Bank Name
      description: The name of the bank or financial institution
      example: Chase Bank
    InvoiceResponse:
      type: object
      x-apideck-schema-id: InvoiceResponse
      properties:
        id:
          $ref: '#/components/schemas/Id'
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
    BankAccountNumber:
      type:
      - string
      - 'null'
      title: Account Number
      description: The bank account number
      example: '123465'
    SortDirection:
      type: string
      x-apideck-schema-id: SortDirection
      description: The direction in which to sort the results
      x-apideck-enum-id: sort_direction
      enum:
      - asc
      - desc
      default: asc
    LocationId:
      type:
      - string
      - 'null'
      title: Location ID
      description: The ID of the location
      example: '12345'
      readOnly: false
    Address:
      type: object
      x-apideck-schema-id: Address
      additionalProperties: false
      x-apideck-weights:
        id: edge-case
        name: edge-case
        type: critical
        line1: high
        line2: low
        line3: edge-case
        line4: edge-case
        line5: edge-case
        street_number: low
        city: high
        string: low
        state: high
        postal_code: high
        country: high
        latitude: low
        longitude: low
        county: edge-case
        contact_name: edge-case
        salutation: edge-case
        phone_number: edge-case
        fax: edge-case
        email: edge-case
        website: edge-case
        row_version: edge-case
      properties:
        id:
          description: Unique identifier for the address.
          type:
          - string
          - 'null'
          example: '123'
        type:
          type:
          - string
          - 'null'
          description: The type of address.
          x-apideck-enum-id: addresses.type
          enum:
          - primary
          - secondary
          - home
          - office
          - shipping
          - billing
          - work
          - other
          example: primary
        string:
          type:
          - string
          - 'null'
          description: The address string. Some APIs don't provide structured address data.
          example: 25 Spring Street, Blackburn, VIC 3130
        name:
          description: The name of the address.
          type:
          - string
          - 'null'
          example: HQ US
        line1:
          type:
          - string
          - 'null'
          example: Main street
          description: 'Line 1 of the address e.g. number, street, suite, apt #, etc.'
        line2:
          type:
          - string
          - 'null'
          example: 'apt #'
          description: Line 2 of the address
        line3:
          type:
          - string
          - 'null'
          example: 'Suite #'
          description: Line 3 of the address
        line4:
          type:
          - string
          - 'null'
          example: delivery instructions
          description: Line 4 of the address
        line5:
          type:
          - string
          - 'null'
          example: 'Attention: Finance Dept'
          description: Line 5 of the address
        street_number:
          type:
          - string
          - 'null'
          example: '25'
          description: Street number
        city:
          type:
          - string
          - 'null'
          example: San Francisco
          description: Name of city.
        state:
          type:
          - string
          - 'null'
          example: CA
          description: Name of state
        postal_code:
          type:
          - string
          - 'null'
          example: '94104'
          description: Zip code or equivalent.
        country:
          type:
          - string
          - 'null'
          example: US
          description: country code according to ISO 3166-1 alpha-2.
        latitude:
          description: Latitude of the address
          type:
          - string
          - 'null'
          example: '40.759211'
        longitude:
          description: Longitude of the address
          type:
          - string
          - 'null'
          example: '-73.984638'
        county:
          type:
          - string
          - 'null'
          example: Santa Clara
          description: Address field that holds a sublocality, such as a county
        contact_name:
          description: Name of the contact person at the address
          type:
          - string
          - 'null'
          example: Elon Musk
        salutation:
          description: Salutation of the contact person at the address
          type:
          - string
          - 'null'
          example: Mr
        phone_number:
          description: Phone number of the address
          type:
          - string
          - 'null'
          example: 111-111-1111
        fax:
          description: Fax number of the address
          type:
          - string
          - 'null'
          example: 122-111-1111
        email:
          description: Email address of the address
          type:
          - string
          - 'null'
          example: elon@musk.com
        website:
          description: Website of the address
          type:
          - string
          - 'null'
          example: https://elonmusk.com
        notes:
          description: Additional notes
          type:
          - string
          - 'null'
          title: Notes
          example: Address notes or delivery instructions.
        row_version:
          $ref: '#/components/schemas/RowVersion'
    PaymentMethod:
      type:
      - string
      - 'null'
      title: Payment method
      description: Payment method used for the transaction, such as cash, credit card, bank transfer, or check
      example: cash
    PassThroughBody:
      type: array
      description: The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources.
      items:
        type: object
        properties:
          service_id:
            type: string
            description: Identifier for the service to which this pass_through should be applied.
          operation_id:
            type: string
            description: Optional identifier for a workflow operation to which this pass_through should be applied. This is useful for Unify calls that are making more than one downstream request.
          extend_object:
            type: object
            additionalProperties: true
            description: Simple object allowing any properties for direct extension.
          extend_paths:
            type: array
            description: Array of objects for structured data modifications via paths.
            items:
              type: object
              properties:
                path:
                  type: string
                  description: JSONPath string specifying where to apply the value.
                  example: $.nested.property
                value:
                  description: The value to set at the specified path, can be any type.
                  example:
                    TaxClassificationRef:
                      value: EUC-99990201-V1-00020000
              required:
              - path
              - value
              additionalProperties: false
        required:
        - service_id
        additionalProperties: false
        writeOnly: true
    Channel:
      type:
      - string
      - 'null'
      title: Channel
      description: The channel through which the transaction is processed.
      example: email
    DownstreamId:
      type:
      - string
      - 'null'
      description: The third-party API ID of original entity
      example: '12345'
      readOnly: true
    BSBNumber:
      type:
      - string
      - 'null'
      title: BSB Number
      description: Bank State Branch number (Australia/New Zealand)
      example: 062-001
    GetInvoicesResponse:
      type: object
      x-apideck-schema-id: GetInvoicesResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: invoices
        operation:
          type: string
          description: Operation performed
          example: all
        data:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
        meta:
          $ref: '#/components/schemas/Meta'
        links:
          $ref: '#/components/schemas/Links'
        _raw:
          $ref: '#/components/schemas/Raw'
    IBAN:
      type:
      - string
      - 'null'
      title: IBAN
      description: International Bank Account Number
      example: GB33BUKB20201555555555
    RoutingNumber:
      type:
      - string
      - 'null'
      title: Routing Number
      description: Bank routing number (US)
      example: '021000021'
    SubsidiaryId:
      type:
      - string
      - 'null'
      title: Subsidiary ID
      description: The ID of the subsidiary
      example: '12345'
      readOnly: false
    DeprecatedLinkedTrackingCategory:
      type:
      - object
      - 'null'
      x-apideck-schema-id: DeprecatedLinkedTrackingCategory
      x-apideck-weights:
        id: critical
      deprecated: true
      properties:
        id:
          title: Tracking Category ID
          description: The unique identifier for the tracking category.
          type: string
          example: '123456'
        name:
          type:
          - string
          - 'null'
          title: Tracking Category Name
          description: The name of the tracking category.
          example: New York
    DeleteInvoiceResponse:
      type: object
      x-apideck-schema-id: DeleteInvoiceResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: invoices
        operation:
          type: string
          description: Operation performed
          example: delete
        data:
          $ref: '#/components/schemas/InvoiceResponse'
        _raw:
          $ref: '#/components/schemas/Raw'
    RowVersion:
      type:
      - string
      - 'null'
      title: Row version
      description: A binary value used to detect updates to a object and prevent data conflicts. It is incremented each time an update is made to the object.
      example: 1-12345
    WritableId:
      type:
      - string
      - 'null'
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: false
    UpdateInvoiceResponse:
      type: object
      x-apideck-schema-id: UpdateInvoiceResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: invoices
        operation:
          type: string
          description: Operation performed
          example: update
        data:
          $ref: '#/components/schemas/InvoiceResponse'
        _raw:
          $ref: '#/components/schemas/Raw'
    DepartmentId:
      type:
      - string
      - 'null'
      title: Department ID
      description: The ID of the department
      example: '12345'
      readOnly: false
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    BankAccountName:
      type:
      - string
      - 'null'
      title: Account Name
      description: The name of the bank account
      example: Main Operating Account
    Reference:
      type:
      - string
      - 'null'
      title: Reference
      description: Optional reference identifier for the transaction.
      example: INV-2024-001
    BankAccount:
      type: object
      x-apideck-schema-id: BankAccount
      additionalProperties: false
      x-apideck-weights:
        account_number: critical
        account_name: medium
        account_type: medium
        iban: high
        bic: medium
        bsb_number: edge-case
        branch_identifier: low
        bank_code: low
        bank_name: medium
        currency: medium
        country: low
      properties:
        bank_name:
          $ref: '#/components/schemas/BankName'
        account_number:
          $ref: '#/components/schemas/BankAccountNumber'
        account_name:
          $ref: '#/components/schemas/BankAccountName'
        account_type:
          type:
          - string
          - 'null'
          title: Account Type
          x-apideck-enum-id: bank-accounts.account_type
          enum:
          - bank_account
          - credit_card
          - other
          description: The type of bank account.
          example: credit_card
        iban:
          $ref: '#/components/schemas/IBAN'
        bic:
          $ref: '#/components/schemas/BIC'
        routing_number:
          $ref: '#/components/schemas/RoutingNumber'
        bsb_number:
          $ref: '#/components/schemas/BSBNumber'
        branch_identifier:
          $ref: '#/components/schemas/BranchIdentifier'
        bank_code:
          $ref: '#/components/schemas/BankCode'
        currency:
          $ref: '#/components/schemas/Currency'
        country:
          $ref: '#/components/schemas/Country'
    PassThroughQuery:
      type: object
      additionalProperties: true
      properties:
        example_downstream_property:
          type: string
          description: All passthrough query parameters are passed along to the connector as is (?pass_through[search]=leads becomes ?search=leads)
      example:
        search: San Francisco
    Invoice:
      type: object
      x-apideck-schema-id: Invoice
      additionalProperties: false
      x-apideck-weights:
        id: critical
        downstream_id: low
        display_id: low
        type: high
        number: high
        customer: high
        company_id: middle
        location_id: low
        department_id: low
        invoice_date: edge-case
        due_date: edge-case
        terms: low
        terms_id: edge-case
        po_number: low
        reference: low
        status: critical
        invoice_sent: low
        currency: medium
        currency_rate: low
        tax_inclusive: low
        sub_total: high
        total_tax: high
        tax_code: medium
        discount_percentage: medium
        discount_amount: medium
        total: critical
        balance: high
        deposit: low
        customer_memo: low
        line_items: critical
        billing_address: high
        shipping_address: medium
        template_id: edge-case
        source_document_url: edge-case
        payment_method: low
        channel: low
        language: low
        accounting_by_row: edge-case
        bank_account: low
        ledger_account: edge-case
        tracking_category: low
        tracking_categories: low
        row_version: edge-case
        custom_fields: medium
        updated_by: low
        created_by: low
        created_at: high
        updated_at: high
      properties:
        id:
          $ref: '#/components/schemas/Id'
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
        display_id:
          $ref: '#/components/schemas/DisplayId'
        type:
          type:
          - string
          - 'null'
          title: Invoice type
          description: Invoice type
          x-apideck-enum-id: invoices.type
          enum:
          - standard
          - credit
          - service
          - product
          - supplier
          - other
          example: service
        number:
          type:
          - string
          - 'null'
          title: Invoice number
          description: Invoice number.
          example: OIT00546
        customer:
          $ref: '#/components/schemas/LinkedCustomer'
        company_id:
          $ref: '#/components/schemas/AccountingCompanyId'
        location_id:
          $ref: '#/components/schemas/LocationId'
        department_id:
          $ref: '#/components/schemas/DepartmentId'
        invoice_date:
          type:
          - string
          - 'null'
          title: Invoice date
          description: Date invoice was issued - YYYY-MM-DD.
          format: date
          example: '2020-09-30'
        due_date:
          type:
          - string
          - 'null'
          title: Due date
          description: The invoice due date is the date on which a payment or invoice is scheduled to be received by the seller - YYYY-MM-DD.
          format: date
          example: '2020-09-30'
        terms:
          type:
          - string
          - 'null'
          title: Terms
          description: Terms of payment.
          example: Net 30 days
        terms_id:
          $ref: '#/components/schemas/TermsId'
        po_number:
          type:
          - string
          - 'null'
          title: Purchase Order number
          description: A PO Number uniquely identifies a purchase order and is generally defined by the buyer. The buyer will match the PO number in the invoice to the Purchase Order.
          example: '90000117'
        reference:
          $ref: '#/components/schemas/Reference'
        status:
          type:
          - string
          - 'null'
          title: Status
          description: Invoice status
          example: draft
          x-apideck-enum-id: invoices.status
          enum:
          - draft
          - submitted
          - authorised
          - partially_paid
          - paid
          - unpaid
          - void
          - credit
          - deleted
          - posted
        invoice_sent:
          type: boolean
          title: Invoice Sent
          description: Invoice sent to contact/customer.
          example: true
        currency:
          $ref: '#/components/schemas/Currency'
        currency_rate:
          $ref: '#/components/schemas/CurrencyRate'
        tax_inclusive:
          $ref: '#/components/schemas/TaxInclusive'
        sub_total:
          title: Sub-total amount
          description: Sub-total amount, normally before tax.
          type:
          - number
          - 'null'
          example: 27500
        total_tax:
          type:
          - number
          - 'null'
          title: Total tax amount
          description: Total tax amount applied to this invoice.
          example: 2500
        tax_code:
          type:
          - string
          - 'null'
          title: Tax Code
          description: Applicable tax id/code override if tax is not supplied on a line item basis.
          example: '1234'
        discount_percentage:
          type:
          - number
          - 'null'
          title: Discount Percent
          description: Discount percentage applied to this invoice.
          example: 5.5
        discount_amount:
          type:
          - number
          - 'null'
          title: Discount Amount
          description: Discount amount applied to this invoice.
          example: 25
        total:
          type:
          - number
          - 'null'
          title: Total amount
          description: Total amount of invoice, including tax.
          example: 27500
        balance:
          type:
          - number
          - 'null'
          title: Balance
          description: Balance of invoice due.
          example: 27500
        deposit:
          type:
          - number
          - 'null'
[...]
