openapi: 3.2.0
info:
  version: 10.24.12
  title: Apideck Accounting Locations API
  description: Welcome to the Accounting API.
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-apideck-api: accounting
  x-apideck-sdk-support: true
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://unify.apideck.com
security:
- apiKey: []
tags:
- name: Locations
  description: A Location represents a physical business site, including name, address, and status for multi-location tracking.
  x-apideck-resource-id: locations
  x-apideck-model:
    $ref: '#/components/schemas/AccountingLocation'
paths:
  /accounting/locations:
    get:
      tags:
      - Locations
      operationId: locationsAll
      summary: Apideck List Locations
      description: List Locations
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/accountingLocationsFilter'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: netsuite
        description: 'The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used within 15 minutes after its creation.

          '
      responses:
        '200':
          $ref: '#/components/responses/GetAccountingLocationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source: {}
    post:
      tags:
      - Locations
      operationId: locationsAdd
      summary: Apideck Create Location
      description: Create Location
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      security:
      - apiKey: []
      x-apideck-gotchas: null
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingLocation'
      responses:
        '201':
          $ref: '#/components/responses/CreateAccountingLocationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          location:
            parent_id: '12345'
            display_id: '123456'
            company_name: SpaceX
            display_name: 11 UT - South Jordan
            status: active
            addresses:
            - id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            subsidiaries:
            - name: SpaceX
            row_version: 1-12345
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
  /accounting/locations/{id}:
    get:
      tags:
      - Locations
      operationId: locationsOne
      summary: Apideck Get Location
      description: Get Location
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetAccountingLocationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    patch:
      tags:
      - Locations
      operationId: locationsUpdate
      summary: Apideck Update Location
      description: Update Location
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas: null
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingLocation'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAccountingLocationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          location:
            parent_id: '12345'
            display_id: '123456'
            company_name: SpaceX
            display_name: 11 UT - South Jordan
            status: active
            addresses:
            - id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            subsidiaries:
            - name: SpaceX
            row_version: 1-12345
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
    delete:
      tags:
      - Locations
      operationId: locationsDelete
      summary: Apideck Delete Location
      description: Delete Location
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteAccountingLocationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
components:
  schemas:
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    UpdatedBy:
      type:
      - string
      - 'null'
      title: Updated by
      description: The user who last updated the object.
      example: '12345'
      readOnly: true
    UnifiedId:
      title: UnifiedId
      type: object
      x-apideck-schema-id: Id
      description: A object containing a unique identifier for the resource that was created, updated, or deleted.
      required:
      - id
      properties:
        id:
          title: Id
          description: The unique identifier of the resource
          type: string
          readOnly: true
          example: '12345'
    UpdateAccountingLocationResponse:
      type: object
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: locations
        operation:
          type: string
          description: Operation performed
          example: update
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    AccountingLocationsFilter:
      type: object
      x-apideck-schema-id: AccountingLocationsFilter
      example:
        subsidiary: '1'
      properties:
        subsidiary:
          type: string
          title: Subsidiary Id
          description: Id of the subsidiary to search for
          example: '1'
      additionalProperties: false
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    DeleteAccountingLocationResponse:
      type: object
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: locations
        operation:
          type: string
          description: Operation performed
          example: delete
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    Meta:
      type: object
      x-apideck-schema-id: Meta
      description: Response metadata
      properties:
        items_on_page:
          type: integer
          description: Number of items returned in the data property of the response
          example: 50
        cursors:
          type: object
          description: Cursors to navigate to previous or next pages through the API
          properties:
            previous:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the previous page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjE=
            current:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the current page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjI=
            next:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the next page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjM=
    CreateAccountingLocationResponse:
      type: object
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: locations
        operation:
          type: string
          description: Operation performed
          example: add
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    CreatedBy:
      type:
      - string
      - 'null'
      title: Created by
      description: The user who created the object.
      example: '12345'
      readOnly: true
    GetAccountingLocationsResponse:
      type: object
      x-apideck-schema-id: GetAccountingLocationsResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: subsidiaries
        operation:
          type: string
          description: Operation performed
          example: all
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccountingLocation'
        meta:
          $ref: '#/components/schemas/Meta'
        links:
          $ref: '#/components/schemas/Links'
        _raw:
          $ref: '#/components/schemas/Raw'
    RowVersion:
      type:
      - string
      - 'null'
      title: Row version
      description: A binary value used to detect updates to a object and prevent data conflicts. It is incremented each time an update is made to the object.
      example: 1-12345
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    WritableId:
      type:
      - string
      - 'null'
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: false
    Id:
      type: string
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: true
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    Links:
      type: object
      x-apideck-schema-id: Links
      description: Links to navigate to previous or next pages through the API
      properties:
        previous:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        current:
          type: string
          description: Link to navigate to the current page through the API
          example: https://unify.apideck.com/crm/companies
        next:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM
    SubsidiaryReference:
      type: object
      x-apideck-schema-id: SubsidiaryReference
      x-apideck-weights:
        id: critical
        name: low
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/Id'
        name:
          $ref: '#/components/schemas/CompanyName'
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    Address:
      type: object
      x-apideck-schema-id: Address
      additionalProperties: false
      x-apideck-weights:
        id: edge-case
        name: edge-case
        type: critical
        line1: high
        line2: low
        line3: edge-case
        line4: edge-case
        line5: edge-case
        street_number: low
        city: high
        string: low
        state: high
        postal_code: high
        country: high
        latitude: low
        longitude: low
        county: edge-case
        contact_name: edge-case
        salutation: edge-case
        phone_number: edge-case
        fax: edge-case
        email: edge-case
        website: edge-case
        row_version: edge-case
      properties:
        id:
          description: Unique identifier for the address.
          type:
          - string
          - 'null'
          example: '123'
        type:
          type:
          - string
          - 'null'
          description: The type of address.
          x-apideck-enum-id: addresses.type
          enum:
          - primary
          - secondary
          - home
          - office
          - shipping
          - billing
          - work
          - other
          example: primary
        string:
          type:
          - string
          - 'null'
          description: The address string. Some APIs don't provide structured address data.
          example: 25 Spring Street, Blackburn, VIC 3130
        name:
          description: The name of the address.
          type:
          - string
          - 'null'
          example: HQ US
        line1:
          type:
          - string
          - 'null'
          example: Main street
          description: 'Line 1 of the address e.g. number, street, suite, apt #, etc.'
        line2:
          type:
          - string
          - 'null'
          example: 'apt #'
          description: Line 2 of the address
        line3:
          type:
          - string
          - 'null'
          example: 'Suite #'
          description: Line 3 of the address
        line4:
          type:
          - string
          - 'null'
          example: delivery instructions
          description: Line 4 of the address
        line5:
          type:
          - string
          - 'null'
          example: 'Attention: Finance Dept'
          description: Line 5 of the address
        street_number:
          type:
          - string
          - 'null'
          example: '25'
          description: Street number
        city:
          type:
          - string
          - 'null'
          example: San Francisco
          description: Name of city.
        state:
          type:
          - string
          - 'null'
          example: CA
          description: Name of state
        postal_code:
          type:
          - string
          - 'null'
          example: '94104'
          description: Zip code or equivalent.
        country:
          type:
          - string
          - 'null'
          example: US
          description: country code according to ISO 3166-1 alpha-2.
        latitude:
          description: Latitude of the address
          type:
          - string
          - 'null'
          example: '40.759211'
        longitude:
          description: Longitude of the address
          type:
          - string
          - 'null'
          example: '-73.984638'
        county:
          type:
          - string
          - 'null'
          example: Santa Clara
          description: Address field that holds a sublocality, such as a county
        contact_name:
          description: Name of the contact person at the address
          type:
          - string
          - 'null'
          example: Elon Musk
        salutation:
          description: Salutation of the contact person at the address
          type:
          - string
          - 'null'
          example: Mr
        phone_number:
          description: Phone number of the address
          type:
          - string
          - 'null'
          example: 111-111-1111
        fax:
          description: Fax number of the address
          type:
          - string
          - 'null'
          example: 122-111-1111
        email:
          description: Email address of the address
          type:
          - string
          - 'null'
          example: elon@musk.com
        website:
          description: Website of the address
          type:
          - string
          - 'null'
          example: https://elonmusk.com
        notes:
          description: Additional notes
          type:
          - string
          - 'null'
          title: Notes
          example: Address notes or delivery instructions.
        row_version:
          $ref: '#/components/schemas/RowVersion'
    CompanyName:
      type:
      - string
      - 'null'
      title: Company name
      description: The name of the company.
      example: SpaceX
    PassThroughBody:
      type: array
      description: The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources.
      items:
        type: object
        properties:
          service_id:
            type: string
            description: Identifier for the service to which this pass_through should be applied.
          operation_id:
            type: string
            description: Optional identifier for a workflow operation to which this pass_through should be applied. This is useful for Unify calls that are making more than one downstream request.
          extend_object:
            type: object
            additionalProperties: true
            description: Simple object allowing any properties for direct extension.
          extend_paths:
            type: array
            description: Array of objects for structured data modifications via paths.
            items:
              type: object
              properties:
                path:
                  type: string
                  description: JSONPath string specifying where to apply the value.
                  example: $.nested.property
                value:
                  description: The value to set at the specified path, can be any type.
                  example:
                    TaxClassificationRef:
                      value: EUC-99990201-V1-00020000
              required:
              - path
              - value
              additionalProperties: false
        required:
        - service_id
        additionalProperties: false
        writeOnly: true
    GetAccountingLocationResponse:
      type: object
      x-apideck-schema-id: GetAccountingLocationResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: subsidiaries
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/AccountingLocation'
        _raw:
          $ref: '#/components/schemas/Raw'
    UpdatedAt:
      type:
      - string
      - 'null'
      title: Updated at (timestamp)
      description: The date and time when the object was last updated.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    DisplayId:
      type:
      - string
      - 'null'
      title: Display id
      description: Id to be displayed.
      example: '123456'
    AccountingLocation:
      type: object
      x-apideck-schema-id: AccountingLocation
      x-apideck-weights:
        id: medium
        parent_id: low
        company_name: medium
        display_name: critical
        display_id: medium
        downstream_id: low
        status: critical
        addresses: low
        subsidiaries: low
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/Id'
        parent_id:
          $ref: '#/components/schemas/WritableId'
        display_id:
          $ref: '#/components/schemas/DisplayId'
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
        company_name:
          $ref: '#/components/schemas/CompanyName'
        display_name:
          type:
          - string
          - 'null'
          title: Location display name
          description: The display name of the location.
          example: 11 UT - South Jordan
        status:
          type: string
          title: Location status
          description: Based on the status some functionality is enabled or disabled.
          x-apideck-enum-id: location.status
          enum:
          - active
          - inactive
          example: active
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        subsidiaries:
          type: array
          items:
            $ref: '#/components/schemas/SubsidiaryReference'
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
        row_version:
          $ref: '#/components/schemas/RowVersion'
        updated_by:
          $ref: '#/components/schemas/UpdatedBy'
        created_by:
          $ref: '#/components/schemas/CreatedBy'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
    DownstreamId:
      type:
      - string
      - 'null'
      description: The third-party API ID of original entity
      example: '12345'
      readOnly: true
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    CreatedAt:
      type:
      - string
      - 'null'
      title: Created at (timestamp)
      description: The date and time when the object was created.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
  responses:
    UnexpectedErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnexpectedErrorResponse'
      description: Unexpected error
    UpdateAccountingLocationResponse:
      description: Location
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateAccountingLocationResponse'
    PaymentRequiredResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredResponse'
      description: Payment Required
    CreateAccountingLocationResponse:
      description: Location
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateAccountingLocationResponse'
    GetAccountingLocationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetAccountingLocationResponse'
      description: Location
    UnprocessableResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableResponse'
      description: Unprocessable
    BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestResponse'
      description: Bad Request
    GetAccountingLocationsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetAccountingLocationsResponse'
      description: Locations
    NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
      description: The specified resource was not found
    DeleteAccountingLocationResponse:
      description: Location deleted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteAccountingLocationResponse'
    UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedResponse'
      description: Unauthorized
  parameters:
    raw:
      name: raw
      in: query
      description: Include raw response. Mostly used for debugging purposes
      schema:
        type: boolean
        default: false
    limit:
      name: limit
      in: query
      description: Number of results to return. Minimum 1, Maximum 200, Default 20
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    applicationId:
      name: x-apideck-app-id
      in: header
      required: true
      description: The ID of your Unify application
      schema:
        type: string
        minLength: 1
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      x-speakeasy-name-override: appId
    id:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the record you are acting upon.
    cursor:
      name: cursor
      in: query
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      schema:
        type:
        - string
        - 'null'
    accountingLocationsFilter:
      name: filter
      in: query
      description: Apply filters
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/AccountingLocationsFilter'
    companyId:
      name: x-apideck-company-id
      in: header
      description: The ID of the company to scope requests to. For connectors that support multi-company, this overrides the default company configured in connection settings.
      schema:
        type: string
      example: '12345'
      x-speakeasy-name-override: companyId
    serviceId:
      name: x-apideck-service-id
      in: header
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      schema:
        type: string
      example: salesforce
      x-speakeasy-name-override: serviceId
    consumerId:
      name: x-apideck-consumer-id
      in: header
      required: true
      description: ID of the consumer which you want to get or push data from
      schema:
        type: string
      example: test-consumer
      x-speakeasy-name-override: consumerId
    fields:
      name: fields
      in: query
      description: 'The ''fields'' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields "name", "email" and "addresses.city". If any other fields are available, they will be excluded.'
      example: id,updated_at
      schema:
        type:
        - string
        - 'null'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'To access our API, you need to sign up and obtain your unique API key. Each Unify application is assigned a single API key. You can locate your API key in the Configuration Settings section of your Apideck application. Additionally, your application’s application_id is available on the same page.


        Authenticate your API requests by including your test or live secret API key in the request header.


        - Bearer authorization header: `Authorization: Bearer "YOUR_API_KEY_HERE"`

        - Application id header: `x-apideck-app-id: "YOUR_APP_ID_HERE"`


        You should use the public keys on the SDKs and the secret keys to authenticate API requests.


        **Do not share or include your secret API keys on client side code.** Your API keys carry significant privileges. Please ensure to keep them 100% secure and be sure to not share your secret API keys in areas that are publicly accessible like GitHub.


        Learn how to set the Authorization header inside Postman https://learning.postman.com/docs/postman/sending-api-requests/authorization/#api-key


        Go to Unify to grab your API KEY https://app.apideck.com/unify/api-keys

        '
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
x-webhooks:
  x-sdk-exclude: true
  x-speakeasy-ignore: true
  CustomerCreated:
    post:
      summary: Customer Created
      operationId: customerCreated
      x-apideck-event-type: accounting.customer.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.customer.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/customers/123456ASDF
                entity_type: customer
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a customer has been created.
  CustomerUpdated:
    post:
      summary: Customer Updated
      operationId: customerUpdated
      x-apideck-event-type: accounting.customer.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.customer.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/customers/123456ASDF
                entity_type: customer
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a customer has been updated.
  CustomerDeleted:
    post:
      summary: Customer Deleted
      operationId: customerDeleted
      x-apideck-event-type: accounting.customer.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.customer.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/customers/123456ASDF
                entity_type: customer
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a customer has been deleted.
  InvoiceCreated:
    post:
      summary: Invoice Created
      operationId: invoiceCreated
      x-apideck-event-type: accounting.invoice.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoices/123456ASDF
                entity_type: invoice
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been created.
  InvoiceUpdated:
    post:
      summary: Invoice Updated
      operationId: invoiceUpdated
      x-apideck-event-type: accounting.invoice.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoices/123456ASDF
                entity_type: invoice
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been updated.
  InvoiceDeleted:
    post:
      summary: Invoice Deleted
      operationId: invoiceDeleted
      x-apideck-event-type: accounting.invoice.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoices/123456ASDF
                entity_type: invoice
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been deleted.
  InvoiceItemCreated:
    post:
      summary: Invoice Item Created
      operationId: invoiceItemCreated
      x-apideck-event-type: accounting.invoice_item.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice_item.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoice_items/123456ASDF
                entity_type: invoice_item
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been item created.
  InvoiceItemUpdated:
    post:
      summary: Invoice Item Updated
      operationId: invoiceItemUpdated
      x-apideck-event-type: accounting.invoice_item.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice_item.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoice_items/123456ASDF
                entity_type: invoice_item
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been item updated.
  InvoiceItemDeleted:
    post:
      summary: Invoice Item Deleted
      operationId: invoiceItemDeleted
      x-apideck-event-type: accounting.invoice_item.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice_item.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoice_items/123456ASDF
                entity_type: invoice_item
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been item deleted.
  LedgerAccountCreated:
    post:
      summary: Ledger Account Created
      operationId: ledgerAccountCreated
      x-apideck-event-type: accounting.ledger_account.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.ledger_account.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/ledger_accounts/123456ASDF
                entity_type: ledger_account
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a ledger has been account created.
  LedgerAccountUpdated:
    post:
      summary: Ledger Account Updated
      operationId: ledgerAccountUpdated
      x-apideck-event-type: accounting.ledger_account.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.ledger_account.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/ledger_accounts/123456ASDF
                entity_type: ledger_account
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a ledger has been account updated.
  LedgerAccountDeleted:
    post:
      summary: Ledger Account Deleted
      operationId: ledgerAccountDeleted
      x-apideck-event-type: accounting.ledger_account.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.ledger_account.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/ledger_accounts/123456ASDF
                entity_type: ledger_account
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a ledger has been account deleted.
  TaxRateCreated:
    post:
      summary: Tax Rate Created
      operationId: taxRateCreated
      x-apideck-event-type: accounting.tax_rate.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.tax_rate.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/tax_rates/123456ASDF
                entity_type: tax_rate
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a tax has been rate created.
  TaxRateUpdated:
    post:
      summary: Tax Rate Updated
      operationId: taxRateUpdated
      x-apideck-event-type: accounting.tax_rate.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.tax_rate.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/tax_rates/123456ASDF
                entity_type: tax_rate
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a tax has been rate updated.
  TaxRateDeleted:
    post:
      summary: Tax Rate Deleted
      operationId: taxRateDeleted
      x-apideck-event-type: accounting.tax_rate.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.tax_rate.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/tax_rates/123456ASDF
                entity_type: tax_rate
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a tax has been rate deleted.
  PurchaseOrderCreated:
    post:
      summary: Purchase Order Created
      operationId: purchaseOrderCreated
      x-apideck-event-type: accounting.purchase_order.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.purchase_order.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/purchase_orders/123456ASDF
                entity_type: purchase_order
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a purchase has been order created.
  PurchaseOrderDeleted:
    post:
      summary: Purchase Order Deleted
      operationId: purchaseOrderDeleted
      x-apideck-event-type: accounting.purchase_order.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.purchase_order.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/purchase_orders/123456ASDF
                entity_type: purchase_order
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a purchase has been order deleted.
  PurchaseOrderUpdated:
    post:
      summary: Purchase Order Updated
      operationId: purchaseOrderUpdated
      x-apideck-event-type: accounting.purchase_order.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.purchase_order.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/purchase_orders/123456ASDF
                entity_type: purchase_order
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a purchase has been order updated.
  ExpenseUpdated:
    post:
      summary: Expense Updated
      description: Event broadcast when an expense has been updated.
      operationId: expenseUpdated
      x-apideck-event-type: accounting.expense.updated
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.expense.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/expenses/123456ASDF
                entity_type: expense
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          type: string
        example: accounting.expense.updated
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      security: []
  ExpenseDeleted:
    post:
      summary: Expense Deleted
      description: Event broadcast when an expense has been deleted.
      operationId: expenseDeleted
      x-apideck-event-type: accounting.expense.deleted
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.expense.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/expenses/123456ASDF
                entity_type: expense
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          type: string
        example: accounting.expense.deleted
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      security: []
  ExpenseCreated:
    post:
      summary: Expense Created
      description: Event broadcast when an expense has been created.
      operationId: expenseCreated
      x-apideck-event-type: accounting.expense.created
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.expense.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/expenses/123456ASDF
                entity_type: expense
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          type: string
        example: accounting.expense.created
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      security: []
  QuoteDeleted:
    post:
      summary: Quote Deleted
      description: Event broadcast when a quote has been deleted.
      operationId: quoteDeleted
      x-apideck-event-type: accounting.quote.deleted
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvent'
            example:
              payload:
                event_type: accounting.quote.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/quotes/123456ASDF
                entity_type: quote
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
  QuoteCreated:
    post:
      summary: Quote Created
      description: Event broadcast when a quote has been created.
      operationId: quoteCreated
      x-apideck-event-type: accounting.quote.created
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvent'
            example:
              payload:
                event_type: accounting.quote.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/quotes/123456ASDF
                entity_type: quote
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
  QuoteUpdated:
    post:
      summary: Quote Updated
      description: Event broadcast when a quote has been updated.
      operationId: quoteUpdated
      x-apideck-event-type: accounting.quote.updated
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvent'
            example:
              payload:
                event_type: accounting.quote.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/quotes/123456ASDF
                entity_type: quote
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
  ProjectUpdated:
    post:
      summary: Project Updated
      description: Event broadcast when a project has been updated.
      operationId: projectUpdated
      x-apideck-event-type: accounting.project.updated
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.project.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/projects/123456ASDF
                entity_type: project
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
  ProjectCreated:
    post:
      summary: Project Created
      description: Event broadcast when a project has been created.
      operationId: projectCreated
      x-apideck-event-type: accounting.project.created
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.project.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/projects/123456ASDF
                entity_type: project
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
  ProjectDeleted:
    post:
      summary: Project Deleted
      description: Event broadcast when a project has been deleted.
      operationId: projectDeleted
      x-apideck-event-type: accounting.project.deleted
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.project.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/projects/123456ASDF
                entity_type: project
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
      parameters: []
      security: []
