openapi: 3.2.0
info:
  title: Apideck Employees API
  version: 10.24.12
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-refined-note:
  - x-apideck-api differs across the merged source definitions and was not carried
  x-apideck-sdk-support: true
  x-logo:
    url: https://developers.apideck.com/icon.png
  description: 'Operations tagged Employees across 2 of this provider''s published API definitions: apideck-accounting-openapi.yml, apideck-hris-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://unify.apideck.com
security:
- apiKey: []
tags:
- name: Employees
  description: An Employee represents an individual within the organization for accounting purposes, including name, department, hire date, and employment status.
  x-apideck-resource-id: employees
  x-apideck-model:
    $ref: '#/components/schemas/AccountingEmployee'
paths:
  /accounting/employees:
    get:
      tags:
      - Employees
      operationId: employeesAll
      summary: Apideck List Employees
      description: List Employees
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/accountingEmployeesFilter'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetAccountingEmployeesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source: {}
    post:
      tags:
      - Employees
      operationId: employeesAdd
      summary: Apideck Create Employee
      description: Create Employee
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingEmployee'
      responses:
        '201':
          $ref: '#/components/responses/CreateAccountingEmployeeResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          employee:
            display_id: '123456'
            first_name: John
            last_name: Doe
            display_name: John Doe
            emails:
            - id: '123'
              email: elon@musk.com
              type: primary
            employee_number: EMP-001
            job_title: Senior Accountant
            status: active
            is_contractor: false
            department:
              display_id: '123456'
              name: Acme Inc.
            location:
              id: '123456'
              display_id: '123456'
              name: New York Office
            manager:
              id: '12345'
              name: Jane Smith
            hire_date: '2020-01-15'
            termination_date: '2025-12-31'
            gender: male
            birth_date: '1990-05-20'
            subsidiary:
              display_id: '123456'
              name: Acme Inc.
            tracking_categories:
            - id: '123456'
              code: '100'
              name: New York
              parent_id: '123456'
              parent_name: New York
            currency: USD
            notes: Some notes about this employee
            addresses:
            - id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            phone_numbers:
            - id: '12345'
              country_code: '1'
              area_code: '323'
              number: 111-111-1111
              extension: '105'
              type: primary
            bank_account:
              bank_name: Chase Bank
              account_number: '123465'
              account_name: Main Operating Account
              account_type: credit_card
              iban: GB33BUKB20201555555555
              bic: CHASUS33
              routing_number: '021000021'
              bsb_number: 062-001
              branch_identifier: '001'
              bank_code: BNH
              currency: USD
              country: US
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            row_version: 1-12345
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
    servers:
    - url: https://unify.apideck.com
  /accounting/employees/{id}:
    get:
      tags:
      - Employees
      operationId: employeesOne
      summary: Apideck Get Employee
      description: Get Employee
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetAccountingEmployeeResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    patch:
      tags:
      - Employees
      operationId: employeesUpdate
      summary: Apideck Update Employee
      description: Update Employee
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingEmployee'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAccountingEmployeeResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          employee:
            display_id: '123456'
            first_name: John
            last_name: Doe
            display_name: John Doe
            emails:
            - id: '123'
              email: elon@musk.com
              type: primary
            employee_number: EMP-001
            job_title: Senior Accountant
            status: active
            is_contractor: false
            department:
              display_id: '123456'
              name: Acme Inc.
            location:
              id: '123456'
              display_id: '123456'
              name: New York Office
            manager:
              id: '12345'
              name: Jane Smith
            hire_date: '2020-01-15'
            termination_date: '2025-12-31'
            gender: male
            birth_date: '1990-05-20'
            subsidiary:
              display_id: '123456'
              name: Acme Inc.
            tracking_categories:
            - id: '123456'
              code: '100'
              name: New York
              parent_id: '123456'
              parent_name: New York
            currency: USD
            notes: Some notes about this employee
            addresses:
            - id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            phone_numbers:
            - id: '12345'
              country_code: '1'
              area_code: '323'
              number: 111-111-1111
              extension: '105'
              type: primary
            bank_account:
              bank_name: Chase Bank
              account_number: '123465'
              account_name: Main Operating Account
              account_type: credit_card
              iban: GB33BUKB20201555555555
              bic: CHASUS33
              routing_number: '021000021'
              bsb_number: 062-001
              branch_identifier: '001'
              bank_code: BNH
              currency: USD
              country: US
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            row_version: 1-12345
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
    delete:
      tags:
      - Employees
      operationId: employeesDelete
      summary: Apideck Delete Employee
      description: Delete Employee
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteAccountingEmployeeResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    servers:
    - url: https://unify.apideck.com
  /hris/employees:
    get:
      tags:
      - Employees
      operationId: employeesAll
      summary: Apideck List Employees
      description: Apideck operates as a stateless Unified API, which means that the list endpoint only provides a portion of the employee model. This is due to the fact that most HRIS systems do not readily provide all data in every call. However, you can access the complete employee model through an employee detail call.
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/employeesFilter'
      - $ref: '#/components/parameters/employeesSort'
      - $ref: '#/components/parameters/passThrough'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: nmbrs
        description: We keep track of the "List Employees" response for NMBRS virtual webhooks events, which contains fewer fields compared to the "Get Employee" response.
      - connector: ceridian-dayforce
        description: 'The Ceridian Dayforce "List Employees" endpoint only returns employee IDs by default. To get full employee details, use the "Get Employee" endpoint. For virtual webhook events on Ceridian Dayforce, we monitor the "List Employees" response, which has a very small set of fields in comparison to the "Get Employee" response. This is the reason why we only support `hris.employee.created` events for this connector.

          '
      - connector: hibob
        description: 'HiBob allows you to define employee fields that aren''t included by default on the ''List Employees'' response. By using the fields parameter, you can specifically request these properties to be part of your response.

          Additionally, if your Unify plan has the ''Custom Field Mapping'' feature, you can map these properties to your responses. Once mapped, they will be included in the custom_mappings property within Unify responses.

          Important to know is that HiBob has permission controls for users to determine which data will be available on their API. This can lead to specific fields not being available (example: `birthday`).

          For getting custom field values, please use the ''Get Employee'' (employeesOne) call instead of ''List Employees''.

          '
      - connector: paylocity
        description: For virtual webhook events on Paylocity, we monitor the "List Employees" response, which has a very small set of fields in comparison of the "Get Employee" response.
      - connector: sage-hr
        description: 'The minimum pagination `limit` is 50, since Sage HR does not support pagination with a lower limit. Pagination for Sage HR only support per 50 limits. Without the employment_status filter it will only return active employees. To fetch terminated employees, you need to include the employment_status filter with the value "terminated".

          '
      - connector: sap-successfactors
        description: The custom fields are mapped only when they are in the personalInfoNav.
      - connector: hr-works
        description: The employment_status supports filtering on 'active'.
      - connector: bamboohr
        description: The employment role field will return "other" for list calls when the employee is terminated. To fetch the correct employment role data, you need to call the employee detail endpoint.
      - connector: rippling
        description: Include pass_through[include_terminated] in the query params to include terminated employees in the response.
      - connector: workday
        description: To avoid request timeouts when fetching all employees, it's recommended to use a limit of 20. Workday can return large amounts of data per employee, and requests exceeding 30 seconds will timeout with an "Endpoint request timed out" error.
      - connector: fourth
        description: 'The `leaving_reason` field in Fourth is a string and not an enum. We will return `"other"` if there is a leaving reason. You can use `custom_mappings` to get the actual value.

          The `manager.id` field may be empty even when `manager.name` is present. This occurs when the manager is a former employee who is not included in the active employees list. In such cases, the manager''s EmployeeID cannot be resolved from the PayrollNumber lookup.

          '
      responses:
        '200':
          $ref: '#/components/responses/GetEmployeesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: hris
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source: {}
    post:
      tags:
      - Employees
      operationId: employeesAdd
      summary: Apideck Create Employee
      description: Create Employee
      x-apideck-gotchas:
      - connector: hibob
        description: 'When creating an employee is required by Hibob to include the following Unifiy fields: first_name, last_name, employment_start_date, jobs[0].location.name and an email with a primary type must be provided within the emails field.

          For countries hibob doesn''t accept iso code or name values so just the country common name. Example ''United States''

          HiBob API just accepts one compensation, so for the request it will be considered the first one sent in the array and the payment unit is sent yearly by default.

          '
      - connector: humaans-io
        description: 'When creating an employee in Humaans, it is mandatory to include the following Unify fields: first_name, last_name, title, employment_start_date, jobs[0].location.id. Additionally, within the ''emails'' field, you must provide an email with a ''primary'' type. Furthermore, if the employee is remote, the primary address city will be used as the remote city, and this value should be valid."

          '
      - connector: nmbrs
        description: 'When creating an employee, the `employment_role.type` values accepted for NMbrs are `employee`, `contractor` and `freelance`.


          **Important**: Nmbrs requires nationality data (`nationalities` field) for employees with type "payroll". When nationality is not provided:

          - Employees with `employment_role.type: "employee"` are automatically created as "external" type instead of "payroll" to avoid validation errors

          - This may affect payroll processing, benefits eligibility, and reporting in Nmbrs

          - To create employees as "payroll" type, ensure the `nationalities` field contains at least one ISO country code

          - Contractors and freelancers are always created as "external" type regardless of nationality

          '
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Employee'
      responses:
        '201':
          $ref: '#/components/responses/CreateEmployeeResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: hris
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          employee:
            id: '12345'
            first_name: Elon
            last_name: Musk
            middle_name: D.
            display_name: Technoking
            preferred_name: Elon Musk
            initials: EM
            salutation: Mr
            title: CEO
            marital_status: married
            partner:
              first_name: Elon
              last_name: Musk
              middle_name: D.
              gender: male
              initials: EM
              birthday: '2000-08-12'
              deceased_on: '2000-08-12'
            division: Europe
            division_id: '12345'
            department: R&D
            department_id: '12345'
            department_name: '12345'
            team:
              id: '1234'
              name: Full Stack Engineers
            company_id: '23456'
            company_name: SpaceX
            employment_start_date: '2021-10-26'
            employment_end_date: '2028-10-26'
            leaving_reason: resigned
            employee_number: 123456-AB
            employment_status: active
            employment_role:
              type: contractor
              sub_type: full_time
            ethnicity: African American
            manager:
              id: '12345'
              name: Elon Musk
              first_name: Elon
              last_name: Musk
              email: elon@musk.com
              employment_status: active
            direct_reports:
            - a0d636c6-43b3-4bde-8c70-85b707d992f4
            - a98lfd96-43b3-4bde-8c70-85b707d992e6
            social_security_number: '123456789'
            birthday: '2000-08-12'
            deceased_on: '2000-08-12'
            country_of_birth: US
            description: A description
            gender: male
            pronouns: she,her
            preferred_language: EN
            languages:
            - EN
            nationalities:
            - US
            photo_url: https://unavatar.io/elon-musk
            timezone: Europe/London
            source: lever
            source_id: '12345'
            record_url: https://app.intercom.io/contacts/12345
            jobs:
            - title: CEO
              role: Sales
              start_date: '2020-08-12'
              end_date: '2020-08-12'
              compensation_rate: 72000
              currency: USD
              payment_unit: year
              hired_at: '2020-08-12'
              is_primary: true
              is_manager: true
              status: active
              location:
                id: '123'
                type: primary
                string: 25 Spring Street, Blackburn, VIC 3130
                name: HQ US
                line1: Main street
                line2: 'apt #'
                line3: 'Suite #'
                line4: delivery instructions
                line5: 'Attention: Finance Dept'
                street_number: '25'
                city: San Francisco
                state: CA
                postal_code: '94104'
                country: US
                latitude: '40.759211'
                longitude: '-73.984638'
                county: Santa Clara
                contact_name: Elon Musk
                salutation: Mr
                phone_number: 111-111-1111
                fax: 122-111-1111
                email: elon@musk.com
                website: https://elonmusk.com
                notes: Address notes or delivery instructions.
                row_version: 1-12345
            compensations:
            - id: '3404301363494309004'
              job_id: '3490439050957906679'
              rate: 50
              payment_unit: hour
              flsa_status: nonexempt
              effective_date: '2021-06-11'
            works_remote: true
            addresses:
            - id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            phone_numbers:
            - id: '12345'
              country_code: '1'
              area_code: '323'
              number: 111-111-1111
              extension: '105'
              type: primary
            emails:
            - id: '123'
              email: elon@musk.com
              type: primary
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            social_links:
            - id: '12345'
              url: https://www.twitter.com/apideck
              type: twitter
            bank_accounts:
            - bank_name: Chase Bank
              account_number: '123465'
              account_name: Main Operating Account
              account_type: credit_card
              iban: GB33BUKB20201555555555
              bic: CHASUS33
              routing_number: '021000021'
              bsb_number: 062-001
              branch_identifier: '001'
              bank_code: BNH
              currency: USD
              country: US
            tax_code: '1111'
            tax_id: 234-32-0000
            dietary_preference: Veggie
            food_allergies:
            - No allergies
            probation_period:
              start_date: '2021-10-01'
              end_date: '2021-11-28'
            tags:
            - New
            row_version: 1-12345
            deleted: true
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
    servers:
    - url: https://unify.apideck.com
  /hris/employees/{id}:
    get:
      tags:
      - Employees
      operationId: employeesOne
      summary: Apideck Get Employee
      description: Get Employee
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/employeesOneFilter'
      - $ref: '#/components/parameters/passThrough'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: hibob
        description: 'HiBob allows you to define employee fields that aren''t included by default on the ''Get Employee'' response. By using the fields parameter, you can specifically request these properties to be part of your response.

          Additionally, if your Unify plan has the ''Custom Field Mapping'' feature, you can map these properties to your responses. Once mapped, they will be included in the custom_mappings property within Unify responses.

          Important to know is that HiBob has permission controls for users to determine which data will be available on their API. This can lead to specific fields not being available (example: `birthday`).

          '
      - connector: sap-successfactors
        description: The custom fields are mapped only when they are in the personalInfoNav.
      - connector: charliehr
        description: The jobs array compensation data includes only the data related to the first compensation. For more comprehensive compensation data, please refer to the compensations array.
      - connector: sympa
        description: The employment end data and jobs array are only available on the 'Get Employee' response.
      - connector: fourth
        description: 'The `leaving_reason` field in Fourth is a string and not an enum. We will return `"other"` if there is a leaving reason. You can use `custom_mappings` to get the actual value.

          The `manager.id` field may be empty even when `manager.name` is present. This occurs when the manager is a former employee who is not included in the active employees list. In such cases, the manager''s EmployeeID cannot be resolved from the PayrollNumber lookup.

          '
      - connector: liantis
        description: 'Liantis does not provide name fields such as `first_name`, `last_name`, or `display_name` on the Get Employee response.

          Additionally, the fields returned by the Get Employee endpoint differ from those returned by List Employees, as they use different upstream API endpoints with different data structures.

          '
      responses:
        '200':
          $ref: '#/components/responses/GetEmployeeResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: hris
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    patch:
      tags:
      - Employees
      operationId: employeesUpdate
      summary: Apideck Update Employee
      description: Update Employee
      x-apideck-gotchas:
      - connector: hibob
        description: Certain fields like address, compensations, and title cannot be updated via the HiBob API.
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Employee'
      responses:
        '200':
          $ref: '#/components/responses/UpdateEmployeeResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: hris
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          employee:
            id: '12345'
            first_name: Elon
            last_name: Musk
            middle_name: D.
            display_name: Technoking
            preferred_name: Elon Musk
            initials: EM
            salutation: Mr
            title: CEO
            marital_status: married
            partner:
              first_name: Elon
              last_name: Musk
              middle_name: D.
              gender: male
              initials: EM
              birthday: '2000-08-12'
              deceased_on: '2000-08-12'
            division: Europe
            division_id: '12345'
            department: R&D
            department_id: '12345'
            department_name: '12345'
            team:
              id: '1234'
              name: Full Stack Engineers
            company_id: '23456'
            company_name: SpaceX
            employment_start_date: '2021-10-26'
            employment_end_date: '2028-10-26'
            leaving_reason: resigned
            employee_number: 123456-AB
            employment_status: active
            employment_role:
              type: contractor
              sub_type: full_time
            ethnicity: African American
            manager:
              id: '12345'
              name: Elon Musk
              first_name: Elon
              last_name: Musk
              email: elon@musk.com
              employment_status: active
            direct_reports:
            - a0d636c6-43b3-4bde-8c70-85b707d992f4
            - a98lfd96-43b3-4bde-8c70-85b707d992e6
            social_security_number: '123456789'
            birthday: '2000-08-12'
            deceased_on: '2000-08-12'
            country_of_birth: US
            description: A description
            gender: male
            pronouns: she,her
            preferred_language: EN
            languages:
            - EN
            nationalities:
            - US
            photo_url: https://unavatar.io/elon-musk
            timezone: Europe/London
            source: lever
            source_id: '12345'
            record_url: https://app.intercom.io/contacts/12345
            jobs:
            - title: CEO
              role: Sales
              start_date: '2020-08-12'
              end_date: '2020-08-12'
              compensation_rate: 72000
              currency: USD
              payment_unit: year
              hired_at: '2020-08-12'
              is_primary: true
              is_manager: true
              status: active
              location:
                id: '123'
                type: primary
                string: 25 Spring Street, Blackburn, VIC 3130
                name: HQ US
                line1: Main street
                line2: 'apt #'
                line3: 'Suite #'
                line4: delivery instructions
                line5: 'Attention: Finance Dept'
                street_number: '25'
                city: San Francisco
                state: CA
                postal_code: '94104'
                country: US
                latitude: '40.759211'
                longitude: '-73.984638'
                county: Santa Clara
                contact_name: Elon Musk
                salutation: Mr
                phone_number: 111-111-1111
                fax: 122-111-1111
                email: elon@musk.com
                website: https://elonmusk.com
                notes: Address notes or delivery instructions.
                row_version: 1-12345
            compensations:
            - id: '3404301363494309004'
              job_id: '3490439050957906679'
              rate: 50
              payment_unit: hour
              flsa_status: nonexempt
              effective_date: '2021-06-11'
            works_remote: true
            addresses:
            - id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            phone_numbers:
            - id: '12345'
              country_code: '1'
              area_code: '323'
              number: 111-111-1111
              extension: '105'
              type: primary
            emails:
            - id: '123'
              email: elon@musk.com
              type: primary
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            social_links:
            - id: '12345'
              url: https://www.twitter.com/apideck
              type: twitter
            bank_accounts:
            - bank_name: Chase Bank
              account_number: '123465'
              account_name: Main Operating Account
              account_type: credit_card
              iban: GB33BUKB20201555555555
              bic: CHASUS33
              routing_number: '021000021'
              bsb_number: 062-001
              branch_identifier: '001'
              bank_code: BNH
              currency: USD
              country: US
            tax_code: '1111'
            tax_id: 234-32-0000
            dietary_preference: Veggie
            food_allergies:
            - No allergies
            probation_period:
              start_date: '2021-10-01'
              end_date: '2021-11-28'
            tags:
            - New
            row_version: 1-12345
            deleted: true
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
    delete:
      tags:
      - Employees
      operationId: employeesDelete
      summary: Apideck Delete Employee
      description: Delete Employee
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteEmployeeResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: hris
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    servers:
    - url: https://unify.apideck.com
components:
  schemas:
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    IBAN:
      type:
      - string
      - 'null'
      title: IBAN
      description: International Bank Account Number
      example: GB33BUKB20201555555555
    Country:
      type:
      - string
      - 'null'
      example: US
      title: Country Code
      description: Country code according to ISO 3166-1 alpha-2.
      minLength: 2
      maxLength: 2
    Currency:
      type:
      - string
      - 'null'
      title: Currency
      description: Indicates the associated currency for an amount of money. Values correspond to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).
      example: USD
      x-apideck-enum-id: currencies
      x-apideck-enum-coverage-ignore: true
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRC
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - ETH
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
        description: Pakistani rupee
      - name: PLN
        description: Polish złoty
      - name: PYG
        description: Paraguayan guaraní
      - name: QAR
        description: Qatari riyal
      - name: RON
        description: Romanian leu
      - name: RSD
        description: Serbian dinar
      - name: RUB
        description: Russian ruble
      - name: RWF
        description: Rwandan franc
      - name: SAR
        description: Saudi riyal
      - name: SBD
        description: Solomon Islands dollar
      - name: SCR
        description: Seychelles rupee
      - name: SDG
        description: Sudanese pound
      - name: SEK
        description: Swedish krona
      - name: SGD
        description: Singapore dollar
      - name: SHP
        description: Saint Helena pound
      - name: SLL
        description: Sierra Leonean leone
      - name: SOS
        description: Somali shilling
      - name: SRD
        description: Surinamese dollar
      - name: SSP
        description: South Sudanese pound
      - name: STD
        description: São Tomé and Príncipe dobra
      - name: SVC
        description: Salvadoran colón
      - name: SYP
        description: Syrian pound
      - name: SZL
        description: Swazi lilangeni
      - name: THB
        description: Thai baht
      - name: TJS
        description: Tajikstani somoni
      - name: TMT
        description: Turkmenistan manat
      - name: TND
        description: Tunisian dinar
      - name: TOP
        description: Tongan pa'anga
      - name: TRY
        description: Turkish lira
      - name: TTD
        description: Trinidad and Tobago dollar
      - name: TWD
        description: New Taiwan dollar
      - name: TZS
        description: Tanzanian shilling
      - name: UAH
        description: Ukrainian hryvnia
      - name: UGX
        description: Ugandan shilling
      - name: USD
        description: United States dollar
      - name: USN
        description: United States dollar (next day)
      - name: USS
        description: United States dollar (same day)
      - name: UYI
        description: Uruguay Peso en Unidedades Indexadas
      - name: UYU
        description: Uruguyan peso
      - name: UZS
        description: Uzbekistan som
      - name: VEF
        description: Venezuelan bolívar soberano
      - name: VND
        description: Vietnamese đồng
      - name: VUV
        description: Vanuatu vatu
      - name: WST
        description: Samoan tala
      - name: XAF
        description: CFA franc BEAC
      - name: XAG
        description: Silver
      - name: XAU
        description: Gold
      - name: XBA
        description: European Composite Unit
      - name: XBB
        description: European Monetary Unit
      - name: XBC
        description: European Unit of Account 9
      - name: XBD
        description: European Unit of Account 17
      - name: XCD
        description: East Caribbean dollar
      - name: XDR
        description: Special drawing rights (International Monetary Fund)
      - name: XOF
        description: CFA franc BCEAO
      - name: XPD
        description: Palladium
      - name: XPF
        description: CFP franc
      - name: XPT
        description: Platinum
      - name: XTS
        description: Code reserved for testing
      - name: XXX
        description: No currency
      - name: YER
        description: Yemeni rial
      - name: ZAR
        description: South African rand
      - name: ZMK
        description: Zambian kwacha
      - name: ZMW
        description: Zambian kwacha
      - name: BTC
        description: Bitcoin
      - name: ETH
        description: Ether
    LinkedTrackingCategory:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedTrackingCategory
      x-apideck-weights:
        id: critical
        code: medium
      properties:
        id:
          title: Tracking Category ID
          description: The unique identifier for the tracking category.
          type: string
          example: '123456'
        code:
          type:
          - string
          - 'null'
          title: Tracking Category Code
          description: The code of the tracking category.
          example: '100'
        name:
          type:
          - string
          - 'null'
          title: Tracking Category Name
          description: The name of the tracking category.
          example: New York
        parent_id:
          type: string
          title: Parent Tracking Category ID
          description: The unique identifier for the parent tracking category.
          example: '123456'
        parent_name:
          type:
          - string
          - 'null'
          title: Parent Tracking Category Name
          description: The name of the parent tracking category.
          example: New York
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    RoutingNumber:
      type:
      - string
      - 'null'
      title: Routing Number
      description: Bank routing number (US)
      example: '021000021'
    BSBNumber:
      type:
      - string
      - 'null'
      title: BSB Number
      description: Bank State Branch number (Australia/New Zealand)
      example: 062-001
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    Meta:
      type: object
      x-apideck-schema-id: Meta
      description: Response metadata
      properties:
        items_on_page:
          type: integer
          description: Number of items returned in the data property of the response
          example: 50
        cursors:
          type: object
          description: Cursors to navigate to previous or next pages through the API
          properties:
            previous:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the previous page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjE=
            current:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the current page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjI=
            next:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the next page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjM=
    LinkedDepartment:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedDepartment
      x-apideck-weights:
        id: critical
        display_id: medium
        name: medium
        downstream_id: low
      properties:
        id:
          $ref: '#/components/schemas/Id'
        display_id:
          $ref: '#/components/schemas/DisplayId'
        name:
          $ref: '#/components/schemas/Name'
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
    AccountingEmployee:
      type: object
      x-apideck-schema-id: AccountingEmployee
      additionalProperties: false
      x-apideck-weights:
        id: critical
        downstream_id: low
        display_id: high
        first_name: critical
        last_name: critical
        display_name: critical
        emails: high
        employee_number: high
        job_title: medium
        status: critical
        is_contractor: medium
        department: medium
        location: medium
        manager: medium
        hire_date: medium
        termination_date: medium
        gender: low
        birth_date: low
        subsidiary: medium
        tracking_categories: low
        currency: edge-case
        notes: low
        addresses: low
        phone_numbers: low
        bank_account: medium
        custom_fields: medium
        custom_mappings: low
        row_version: low
        updated_at: medium
        created_at: medium
        pass_through: low
      x-apideck-strict-required:
      - id
      - first_name
      - last_name
      - status
      x-apideck-strict-any-of:
      - required:
        - first_name
      - required:
        - last_name
      - required:
        - display_name
      properties:
        id:
          $ref: '#/components/schemas/Id'
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
        display_id:
          $ref: '#/components/schemas/DisplayId'
        first_name:
          type:
          - string
          - 'null'
          title: First Name
          description: The first name of the employee.
          example: John
        last_name:
          type:
          - string
          - 'null'
          title: Last Name
          description: The last name of the employee.
          example: Doe
        display_name:
          type:
          - string
          - 'null'
          title: Display Name
          description: The display name of the employee.
          example: John Doe
        emails:
          type: array
          title: Email Addresses
          description: Email addresses of the employee.
          items:
            $ref: '#/components/schemas/Email'
        employee_number:
          type:
          - string
          - 'null'
          title: Employee Number
          description: The employee number or identifier.
          example: EMP-001
        job_title:
          type:
          - string
          - 'null'
          title: Job Title
          description: The job title of the employee.
          example: Senior Accountant
        status:
          type:
          - string
          - 'null'
          title: Employee Status
          description: The status of the employee.
          x-apideck-enum-id: accounting_employees.status
          enum:
          - active
          - inactive
          - terminated
          example: active
        is_contractor:
          type:
          - boolean
          - 'null'
          title: Is Contractor
          description: Whether the employee is a contractor.
          example: false
        department:
          $ref: '#/components/schemas/LinkedDepartment'
        location:
          $ref: '#/components/schemas/LinkedLocation'
        manager:
          type: object
          title: Manager
          description: The manager of the employee.
          properties:
            id:
              type: string
              title: Manager ID
              description: A unique identifier for the manager.
              example: '12345'
            name:
              type:
              - string
              - 'null'
              title: Manager Name
              description: The name of the manager.
              example: Jane Smith
        hire_date:
          type:
          - string
          - 'null'
          title: Hire Date
          description: The date the employee was hired.
          format: date
          example: '2020-01-15'
        termination_date:
          type:
          - string
          - 'null'
          title: Termination Date
          description: The date the employee was terminated.
          format: date
          example: '2025-12-31'
        gender:
          $ref: '#/components/schemas/Gender'
        birth_date:
          type:
          - string
          - 'null'
          title: Birth Date
          description: The date of birth of the employee.
          format: date
          example: '1990-05-20'
        subsidiary:
          $ref: '#/components/schemas/LinkedSubsidiary'
        tracking_categories:
          $ref: '#/components/schemas/LinkedTrackingCategories'
        currency:
          $ref: '#/components/schemas/Currency'
        notes:
          type:
          - string
          - 'null'
          title: Notes
          description: Notes about the employee.
          example: Some notes about this employee
        addresses:
          type: array
          title: Addresses
          description: Addresses of the employee.
          items:
            $ref: '#/components/schemas/Address'
        phone_numbers:
          type: array
          title: Phone Numbers
          description: Phone numbers of the employee.
          items:
            $ref: '#/components/schemas/PhoneNumber'
        bank_account:
          $ref: '#/components/schemas/BankAccount'
        custom_fields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
        row_version:
          $ref: '#/components/schemas/RowVersion'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
    LinkedLocation:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedLocation
      x-apideck-weights:
        id: critical
        display_id: medium
        name: medium
        downstream_id: low
      properties:
        id:
          title: Location ID
          description: The unique identifier for the location.
          type: string
          example: '123456'
        display_id:
          $ref: '#/components/schemas/DisplayId'
        name:
          type:
          - string
          - 'null'
          title: Location Name
          description: The name of the location.
          example: New York Office
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
    BankName:
      type:
      - string
      - 'null'
      title: Bank Name
      description: The name of the bank or financial institution
      example: Chase Bank
    DownstreamId:
      type:
      - string
      - 'null'
      description: The third-party API ID of original entity
      example: '12345'
      readOnly: true
    RowVersion:
      type:
      - string
      - 'null'
      title: Row version
      description: A binary value used to detect updates to a object and prevent data conflicts. It is incremented each time an update is made to the object.
      example: 1-12345
    PhoneNumber:
      type: object
      x-apideck-schema-id: PhoneNumber
      required:
      - number
      additionalProperties: false
      x-apideck-weights:
        number: critical
        type: critical
        id: edge-case
        country_code: edge-case
        area_code: edge-case
        extension: edge-case
      properties:
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the phone number
          example: '12345'
        country_code:
          title: Country code
          description: The country code of the phone number, e.g. +1
          type:
          - string
          - 'null'
          example: '1'
        area_code:
          title: Area code
          description: The area code of the phone number, e.g. 323
          type:
          - string
          - 'null'
          example: '323'
        number:
          type: string
          title: Phone number
          description: The phone number
          example: 111-111-1111
          minLength: 1
        extension:
          type:
          - string
          - 'null'
          title: Phone extension
          description: The extension of the phone number
          example: '105'
        type:
          type:
          - string
          - 'null'
          description: The type of phone number
          x-apideck-enum-id: phone_numbers.type
          enum:
          - primary
          - secondary
          - home
          - work
          - office
          - mobile
          - assistant
          - fax
          - direct-dial-in
          - personal
          - billing
          - other
          example: primary
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    BankAccountNumber:
      type:
      - string
      - 'null'
      title: Account Number
      description: The bank account number
      example: '123465'
    CreateAccountingEmployeeResponse:
      type: object
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: Employees
        operation:
          type: string
          description: Operation performed
          example: add
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    Id:
      type: string
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: true
    BIC:
      type:
      - string
      - 'null'
      title: BIC/SWIFT Code
      description: Bank Identifier Code / SWIFT Code
      example: CHASUS33
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    Links:
      type: object
      x-apideck-schema-id: Links
      description: Links to navigate to previous or next pages through the API
      properties:
        previous:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        current:
          type: string
          description: Link to navigate to the current page through the API
          example: https://unify.apideck.com/crm/companies
        next:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM
    GetAccountingEmployeesResponse:
      type: object
      x-apideck-schema-id: GetAccountingEmployeesResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: Employees
        operation:
          type: string
          description: Operation performed
          example: all
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccountingEmployee'
        meta:
          $ref: '#/components/schemas/Meta'
        links:
          $ref: '#/components/schemas/Links'
        _raw:
          $ref: '#/components/schemas/Raw'
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    AccountingEmployeesFilter:
      type: object
      x-apideck-schema-id: AccountingEmployeesFilter
      example:
        updated_since: '2020-09-30T07:43:32.000Z'
        status: active
      properties:
        updated_since:
          type: string
          title: Updated since (timestamp)
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
        status:
          type: string
          enum:
          - active
          - inactive
          - terminated
          x-apideck-enum-id: accounting_employees.status
      additionalProperties: false
    LinkedTrackingCategories:
      type:
      - array
      - 'null'
      x-apideck-schema-id: LinkedTrackingCategories
      title: Linked tracking categories
      description: A list of linked tracking categories.
      items:
        $ref: '#/components/schemas/LinkedTrackingCategory'
    BankAccountName:
      type:
      - string
      - 'null'
      title: Account Name
      description: The name of the bank account
      example: Main Operating Account
    Address:
      type: object
      x-apideck-schema-id: Address
      additionalProperties: false
      x-apideck-weights:
        id: edge-case
        name: edge-case
        type: critical
        line1: high
        line2: low
        line3: edge-case
        line4: edge-case
        line5: edge-case
        street_number: low
        city: high
        string: low
        state: high
        postal_code: high
        country: high
        latitude: low
        longitude: low
        county: edge-case
        contact_name: edge-case
        salutation: edge-case
        phone_number: edge-case
        fax: edge-case
        email: edge-case
        website: edge-case
        row_version: edge-case
      properties:
        id:
          description: Unique identifier for the address.
          type:
          - string
          - 'null'
          example: '123'
        type:
          type:
          - string
          - 'null'
          description: The type of address.
          x-apideck-enum-id: addresses.type
          enum:
          - primary
          - secondary
          - home
          - office
          - shipping
          - billing
          - work
          - other
          example: primary
        string:
          type:
          - string
          - 'null'
          description: The address string. Some APIs don't provide structured address data.
          example: 25 Spring Street, Blackburn, VIC 3130
        name:
          description: The name of the address.
          type:
          - string
          - 'null'
          example: HQ US
        line1:
          type:
          - string
          - 'null'
          example: Main street
          description: 'Line 1 of the address e.g. number, street, suite, apt #, etc.'
        line2:
          type:
          - string
          - 'null'
          example: 'apt #'
          description: Line 2 of the address
        line3:
          type:
          - string
          - 'null'
          example: 'Suite #'
          description: Line 3 of the address
        line4:
          type:
          - string
          - 'null'
          example: delivery instructions
          description: Line 4 of the address
        line5:
          type:
          - string
          - 'null'
          example: 'Attention: Finance Dept'
          description: Line 5 of the address
        street_number:
          type:
          - string
          - 'null'
          example: '25'
          description: Street number
        city:
          type:
          - string
          - 'null'
          example: San Francisco
          description: Name of city.
        state:
          type:
          - string
          - 'null'
          example: CA
          description: Name of state
        postal_code:
          type:
          - string
          - 'null'
          example: '94104'
          description: Zip code or equivalent.
        country:
          type:
          - string
          - 'null'
          example: US
          description: country code according to ISO 3166-1 alpha-2.
        latitude:
          description: Latitude of the address
          type:
          - string
          - 'null'
          example: '40.759211'
        longitude:
          description: Longitude of the address
          type:
          - string
          - 'null'
          example: '-73.984638'
        county:
          type:
          - string
          - 'null'
          example: Santa Clara
          description: Address field that holds a sublocality, such as a county
        contact_name:
          description: Name of the contact person at the address
          type:
          - string
          - 'null'
          example: Elon Musk
        salutation:
          description: Salutation of the contact person at the address
          type:
          - string
          - 'null'
          example: Mr
        phone_number:
          description: Phone number of the address
          type:
          - string
          - 'null'
          example: 111-111-1111
        fax:
          description: Fax number of the address
          type:
          - string
          - 'null'
          example: 122-111-1111
        email:
          description: Email address of the address
          type:
          - string
          - 'null'
          example: elon@musk.com
        website:
          description: Website of the address
          type:
          - string
          - 'null'
          example: https://elonmusk.com
        notes:
          description: Additional notes
          type:
          - string
          - 'null'
          title: Notes
          example: Address notes or delivery instructions.
        row_version:
          $ref: '#/components/schemas/RowVersion'
    Email:
      type: object
      x-apideck-schema-id: Email
      required:
      - email
      additionalProperties: false
      x-apideck-weights:
        email: critical
        type: critical
        id: edge-case
      properties:
        id:
          type:
          - string
          - 'null'
          example: '123'
          description: Unique identifier for the email address
        email:
          type:
          - string
          - 'null'
          format: email
          description: Email address
          example: elon@musk.com
          minLength: 1
        type:
          type:
          - string
          - 'null'
          description: Email type
          x-apideck-enum-id: emails.type
          enum:
          - primary
          - secondary
          - work
          - personal
          - billing
          - other
          example: primary
    PassThroughBody:
      type: array
      description: The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources.
      items:
        type: object
        properties:
          service_id:
            type: string
            description: Identifier for the service to which this pass_through should be applied.
          operation_id:
            type: string
            description: Optional identifier for a workflow operation to which this pass_through should be applied. This is useful for Unify calls that are making more than one downstream request.
          extend_object:
            type: object
            additionalProperties: true
            description: Simple object allowing any properties for direct extension.
          extend_paths:
            type: array
            description: Array of objects for structured data modifications via paths.
            items:
              type: object
              properties:
                path:
                  type: string
                  description: JSONPath string specifying where to apply the value.
                  example: $.nested.property
                value:
                  description: The value to set at the specified path, can be any type.
                  example:
                    TaxClassificationRef:
                      value: EUC-99990201-V1-00020000
              required:
              - path
              - value
              additionalProperties: false
        required:
        - service_id
        additionalProperties: false
        writeOnly: true
    Name:
      type:
      - string
      - 'null'
      title: Name
      description: The name of the resource.
      example: Acme Inc.
    UpdateAccountingEmployeeResponse:
      type: object
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: Employees
        operation:
          type: string
          description: Operation performed
          example: update
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    LinkedSubsidiary:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedSubsidiary
      x-apideck-weights:
        id: critical
        display_id: medium
        name: medium
      properties:
        id:
          $ref: '#/components/schemas/Id'
        display_id:
          $ref: '#/components/schemas/DisplayId'
        name:
          $ref: '#/components/schemas/Name'
    GetAccountingEmployeeResponse:
      type: object
      x-apideck-schema-id: GetAccountingEmployeeResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: Employees
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/AccountingEmployee'
        _raw:
          $ref: '#/components/schemas/Raw'
    UpdatedAt:
      type:
      - string
      - 'null'
      title: Updated at (timestamp)
      description: The date and time when the object was last updated.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    BranchIdentifier:
      type:
      - string
      - 'null'
      title: Branch Identifier
      description: Bank branch identifier
      example: '001'
    CustomField:
      type: object
      x-apideck-schema-id: CustomField
      additionalProperties: false
      anyOf:
      - required:
        - id
      - required:
        - name
      x-apideck-strict-any-of:
      - required:
        - id
      - required:
        - name
      x-apideck-weights:
        id: critical
        value: critical
        name: medium
        description: edge-case
      properties:
        id:
          title: ID
          description: Unique identifier for the custom field.
          type:
          - string
          - 'null'
          example: '2389328923893298'
        name:
          title: Name
          type:
          - string
          - 'null'
          description: Name of the custom field.
          example: employee_level
        description:
          title: Description
          type:
          - string
          - 'null'
          description: More information about the custom field
          example: Employee Level
        value:
          anyOf:
          - type:
            - string
            - 'null'
            example: Uses Salesforce and Marketo
          - type:
            - number
            - 'null'
            example: 10
          - type:
            - boolean
            - 'null'
            example: true
          - type:
            - object
            - 'null'
            example:
              foo: bar
            additionalProperties: true
          - type: array
            items:
              anyOf:
              - type:
                - string
                - 'null'
                example: Uses Salesforce and Marketo
              - type:
                - number
                - 'null'
                example: 10
              - type:
                - boolean
                - 'null'
                example: true
              - type:
                - object
                - 'null'
                example:
                  foo: bar
                additionalProperties: true
    DisplayId:
      type:
      - string
      - 'null'
      title: Display id
      description: Id to be displayed.
      example: '123456'
    BankAccount:
      type: object
      x-apideck-schema-id: BankAccount
      additionalProperties: false
      x-apideck-weights:
        account_number: critical
        account_name: medium
        account_type: medium
        iban: high
        bic: medium
        bsb_number: edge-case
        branch_identifier: low
        bank_code: low
        bank_name: medium
        currency: medium
        country: low
      properties:
        bank_name:
          $ref: '#/components/schemas/BankName'
        account_number:
          $ref: '#/components/schemas/BankAccountNumber'
        account_name:
          $ref: '#/components/schemas/BankAccountName'
        account_type:
          type:
          - string
          - 'null'
          title: Account Type
          x-apideck-enum-id: bank-accounts.account_type
          enum:
          - bank_account
          - credit_card
          - other
          description: The type of bank account.
          example: credit_card
        iban:
          $ref: '#/components/schemas/IBAN'
        bic:
          $ref: '#/components/schemas/BIC'
        routing_number:
          $ref: '#/components/schemas/RoutingNumber'
        bsb_number:
          $ref: '#/components/schemas/BSBNumber'
        branch_identifier:
          $ref: '#/components/schemas/BranchIdentifier'
        bank_code:
          $ref: '#/components/schemas/BankCode'
        currency:
          $ref: '#/components/schemas/Currency'
        country:
          $ref: '#/components/schemas/Country'
    DeleteAccountingEmployeeResponse:
      type: object
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: quickbooks
        resource:
          type: string
          description: Unified API resource name
          example: Employees
        operation:
          type: string
          description: Operation performed
          example: delete
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    UnifiedId:
      title: UnifiedId
      type: object
      x-apideck-schema-id: Id
      description: A object containing a unique identifier for the resource that was created, updated, or deleted.
      required:
      - id
      properties:
        id:
          title: Id
          description: The unique identifier of the resource
          type: string
          readOnly: true
          example: '12345'
    BankCode:
      type:
      - string
      - 'null'
      title: Bank Code
      description: Bank code assigned by central bank
      example: BNH
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    Gender:
      type:
      - string
      - 'null'
      x-apideck-enum-id: genders
      title: Gender
      description: The gender represents the gender identity of a person.
      enum:
      - male
      - female
      - unisex
      - other
      - not_specified
      example: male
    CreatedAt:
      type:
      - string
      - 'null'
      title: Created at (timestamp)
      description: The date and time when the object was created.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    Salutation:
      type:
      - string
      - 'null'
      description: A formal salutation for the person. For example, 'Mr', 'Mrs'
      example: Mr
    DeprecatedDepartment:
      type:
      - string
      - 'null'
      title: Department
      description: The department the person is currently in. [Deprecated](https://developers.apideck.com/changelog) in favor of the dedicated department_id and department_name field.
      example: R&D
      deprecated: true
    EmployeesOneFilter:
      type: object
      x-apideck-schema-id: EmployeesOneFilter
      example:
        company_id: '1234'
      properties:
        company_id:
          type: string
          description: Company ID to filter on
          example: '1234'
      additionalProperties: false
    DeceasedOn:
      type:
      - string
      - 'null'
      title: Deceased Date
      description: The date the person deceased.
      example: '2000-08-12'
      format: date
    EmployeeNumber:
      type:
      - string
      - 'null'
      title: Employee number
      description: An Employee Number, Employee ID or Employee Code, is a unique number that has been assigned to each individual staff member within a company.
      example: 123456-AB
    EmployeesFilter:
      type: object
      x-apideck-schema-id: EmployeesFilter
      example:
        company_id: '1234'
        email: elon@tesla.com
        first_name: Elon
        last_name: Musk
        title: Manager
        manager_id: '1234'
        employment_status: active
        employee_number: 123456-AB
        department_id: '1234'
        city: San Francisco
        country: US
      properties:
        company_id:
          type: string
          description: Company ID to filter on
          example: '1234'
        email:
          type: string
          description: Email to filter on
          example: elon@tesla.com
        first_name:
          type: string
          description: First Name to filter on
          example: Elon
        title:
          type: string
          description: Job title to filter on
          example: Manager
        last_name:
          type: string
          description: Last Name to filter on
          example: Musk
        manager_id:
          type: string
          description: Manager id to filter on
          example: '1234'
        employment_status:
          type: string
          description: Employment status to filter on
          example: active
          enum:
          - active
          - inactive
[...]
