openapi: 3.2.0
info:
  version: 10.24.12
  title: Apideck Accounting Payments API
  description: Welcome to the Accounting API.
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-apideck-api: accounting
  x-apideck-sdk-support: true
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://unify.apideck.com
security:
- apiKey: []
tags:
- name: Payments
  description: A Payment represents money received from a customer, including amount, date, payment method, and allocation to one or more invoices.
  x-apideck-resource-id: payments
  x-apideck-model:
    $ref: '#/components/schemas/Payment'
paths:
  /accounting/payments:
    get:
      tags:
      - Payments
      operationId: paymentsAll
      summary: Apideck List Payments
      description: List Payments
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/paymentsFilter'
      - $ref: '#/components/parameters/paymentsSort'
      - $ref: '#/components/parameters/passThrough'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: netsuite
        description: 'The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used within 15 minutes after its creation.

          '
      - connector: kashflow
        description: Kashflow only allows to retrieve payments by invoice, so in order to use this endpoint the filter[invoice_number] parameter is required.
      - connector: sage-business-cloud-accounting
        description: 'Payments are retrieved using the `transaction_type_id` parameter which defaults to `CUSTOMER_RECEIPT`. Use the `type` filter to retrieve other payment transaction types.

          '
      responses:
        '200':
          $ref: '#/components/responses/GetPaymentsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source: {}
    post:
      tags:
      - Payments
      operationId: paymentsAdd
      summary: Apideck Create Payment
      description: Create Payment
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment'
      x-apideck-gotchas:
      - connector: netsuite
        description: 'The number property could be used to override the Netsuite tranId property.

          '
      - connector: xero
        description: 'Xero supports creating payments against multiple allocation types in a single request. However, the response will provide the ID of the first payment only. To access all payment IDs, inspect the raw data.

          '
      - connector: quickbooks
        description: 'Payment allocations in QuickBooks are processed asynchronously. While the allocations are included in the request, they may not appear in the immediate response. The allocations will be applied and become visible in subsequent list or get calls.

          '
      - connector: access-financials
        description: 'Access Financials creates payments as live/posted transactions immediately. Live transactions cannot be updated, so to correct a payment you must delete it and create a new one.

          '
      responses:
        '201':
          $ref: '#/components/responses/CreatePaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          payment:
            currency: USD
            currency_rate: 0.69
            total_amount: 49.99
            reference: '123456'
            payment_method: cash
            payment_method_reference: '123456'
            payment_method_id: '12345'
            accounts_receivable_account_type: Account
            accounts_receivable_account_id: '123456'
            account:
              id: '123456'
              name: Bank account
              nominal_code: N091
              code: '453'
              parent_id: '123456'
              display_id: '123456'
            transaction_date: '2021-05-01T12:00:00.000Z'
            customer:
              id: '12345'
              display_name: Windsurf Shop
              name: Windsurf Shop
              email: boring@boring.com
            supplier:
              display_name: Windsurf Shop
              address:
                id: '123'
                type: primary
                string: 25 Spring Street, Blackburn, VIC 3130
                name: HQ US
                line1: Main street
                line2: 'apt #'
                line3: 'Suite #'
                line4: delivery instructions
                line5: 'Attention: Finance Dept'
                street_number: '25'
                city: San Francisco
                state: CA
                postal_code: '94104'
                country: US
                latitude: '40.759211'
                longitude: '-73.984638'
                county: Santa Clara
                contact_name: Elon Musk
                salutation: Mr
                phone_number: 111-111-1111
                fax: 122-111-1111
                email: elon@musk.com
                website: https://elonmusk.com
                notes: Address notes or delivery instructions.
                row_version: 1-12345
            company_id: '12345'
            reconciled: true
            status: authorised
            type: accounts_receivable
            allocations:
            - id: '123456'
              type: invoice
              amount: 49.99
              allocation_id: '123456'
            note: Some notes about this transaction
            number: '123456'
            tracking_categories:
            - id: '123456'
              code: '100'
              name: New York
              parent_id: '123456'
              parent_name: New York
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            row_version: 1-12345
            display_id: '123456'
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
  /accounting/payments/{id}:
    get:
      tags:
      - Payments
      operationId: paymentsOne
      summary: Apideck Get Payment
      description: Get Payment
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetPaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    patch:
      tags:
      - Payments
      operationId: paymentsUpdate
      summary: Apideck Update Payment
      description: Update Payment
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: xero
        description: 'Xero doesn''t support updating payments. To update a payment, you need to delete the existing payment and create a new one.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment'
      responses:
        '200':
          $ref: '#/components/responses/UpdatePaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          payment:
            currency: USD
            currency_rate: 0.69
            total_amount: 49.99
            reference: '123456'
            payment_method: cash
            payment_method_reference: '123456'
            payment_method_id: '12345'
            accounts_receivable_account_type: Account
            accounts_receivable_account_id: '123456'
            account:
              id: '123456'
              name: Bank account
              nominal_code: N091
              code: '453'
              parent_id: '123456'
              display_id: '123456'
            transaction_date: '2021-05-01T12:00:00.000Z'
            customer:
              id: '12345'
              display_name: Windsurf Shop
              name: Windsurf Shop
              email: boring@boring.com
            supplier:
              display_name: Windsurf Shop
              address:
                id: '123'
                type: primary
                string: 25 Spring Street, Blackburn, VIC 3130
                name: HQ US
                line1: Main street
                line2: 'apt #'
                line3: 'Suite #'
                line4: delivery instructions
                line5: 'Attention: Finance Dept'
                street_number: '25'
                city: San Francisco
                state: CA
                postal_code: '94104'
                country: US
                latitude: '40.759211'
                longitude: '-73.984638'
                county: Santa Clara
                contact_name: Elon Musk
                salutation: Mr
                phone_number: 111-111-1111
                fax: 122-111-1111
                email: elon@musk.com
                website: https://elonmusk.com
                notes: Address notes or delivery instructions.
                row_version: 1-12345
            company_id: '12345'
            reconciled: true
            status: authorised
            type: accounts_receivable
            allocations:
            - id: '123456'
              type: invoice
              amount: 49.99
              allocation_id: '123456'
            note: Some notes about this transaction
            number: '123456'
            tracking_categories:
            - id: '123456'
              code: '100'
              name: New York
              parent_id: '123456'
              parent_name: New York
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            row_version: 1-12345
            display_id: '123456'
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
    delete:
      tags:
      - Payments
      operationId: paymentsDelete
      summary: Apideck Delete Payment
      description: Delete Payment
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: freshbooks
        description: 'Delete will set the payment to inactive and will soft delete it, meaning it will stop appearing in the list API call. However, it can still be found via the get by id call.

          '
      responses:
        '200':
          $ref: '#/components/responses/DeletePaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
components:
  schemas:
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    Allocation:
      type: object
      x-apideck-schema-id: Allocation
      x-apideck-weights:
        id: medium
        type: medium
        code: medium
        amount: medium
        allocation_id: medium
      x-apideck-strict-any-of:
      - required:
        - id
      - required:
        - code
      properties:
        id:
          type: string
          title: Linked entity ID
          description: Unique identifier of entity this payment should be attributed to.
          example: '123456'
        type:
          type: string
          title: Allocation type
          description: Type of entity this payment should be attributed to.
          x-apideck-enum-id: allocations.type
          enum:
          - invoice
          - order
          - expense
          - credit_memo
          - over_payment
          - pre_payment
          - journal_entry
          - other
          - bill
        code:
          type: string
          example: N091
          readOnly: true
        amount:
          type:
          - number
          - 'null'
          title: Amount
          description: Amount of payment that should be attributed to this allocation. If null, the total_amount will be used.
          example: 49.99
        allocation_id:
          type: string
          title: Allocation ID
          description: Unique identifier of the allocation
          example: '123456'
    UpdatedBy:
      type:
      - string
      - 'null'
      title: Updated by
      description: The user who last updated the object.
      example: '12345'
      readOnly: true
    TransactionReference:
      title: Transaction Reference
      description: 'Optional transaction reference message ie: Debit remittance detail.'
      type:
      - string
      - 'null'
      example: '123456'
    LinkedTrackingCategory:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedTrackingCategory
      x-apideck-weights:
        id: critical
        code: medium
      properties:
        id:
          title: Tracking Category ID
          description: The unique identifier for the tracking category.
          type: string
          example: '123456'
        code:
          type:
          - string
          - 'null'
          title: Tracking Category Code
          description: The code of the tracking category.
          example: '100'
        name:
          type:
          - string
          - 'null'
          title: Tracking Category Name
          description: The name of the tracking category.
          example: New York
        parent_id:
          type: string
          title: Parent Tracking Category ID
          description: The unique identifier for the parent tracking category.
          example: '123456'
        parent_name:
          type:
          - string
          - 'null'
          title: Parent Tracking Category Name
          description: The name of the parent tracking category.
          example: New York
    UnifiedId:
      title: UnifiedId
      type: object
      x-apideck-schema-id: Id
      description: A object containing a unique identifier for the resource that was created, updated, or deleted.
      required:
      - id
      properties:
        id:
          title: Id
          description: The unique identifier of the resource
          type: string
          readOnly: true
          example: '12345'
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    LinkedLedgerAccount:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedLedgerAccount
      additionalProperties: false
      x-apideck-weights:
        id: medium
        nominal_code: medium
        code: medium
        name: medium
        parent_id: low
        display_id: low
      properties:
        id:
          title: Account ID
          description: The unique identifier for the account.
          type: string
          example: '123456'
        name:
          type:
          - string
          - 'null'
          title: Account Name
          description: The name of the account.
          example: Bank account
        nominal_code:
          type:
          - string
          - 'null'
          title: Nominal Code
          description: The nominal code of the account.
          example: N091
        code:
          type:
          - string
          - 'null'
          title: Code
          description: The code assigned to the account.
          example: '453'
        parent_id:
          type:
          - string
          - 'null'
          title: Parent ID
          description: The parent ID of the account.
          example: '123456'
        display_id:
          type:
          - string
          - 'null'
          title: Display ID
          description: The display ID of the account.
          example: '123456'
    PaymentType:
      type: string
      title: Payment Type
      description: Type of payment
      x-apideck-enum-id: payments.type
      enum:
      - accounts_receivable
      - accounts_payable
      - accounts_receivable_credit
      - accounts_payable_credit
      - accounts_receivable_overpayment
      - accounts_payable_overpayment
      - accounts_receivable_prepayment
      - accounts_payable_prepayment
      example: accounts_receivable
    AccountingCompanyId:
      type:
      - string
      - 'null'
      title: CompanyId
      description: The company ID the transaction belongs to
      example: '12345'
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    LinkedCustomer:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedCustomer
      title: LinkedCustomer
      description: The customer this entity is linked to.
      x-apideck-weights:
        id: medium
        display_id: medium
        display_name: medium
        name: medium
        company_name: medium
      properties:
        id:
          type: string
          title: Customer ID
          description: The ID of the customer this entity is linked to.
          example: '12345'
        display_id:
          type:
          - string
          - 'null'
          title: Display ID
          description: The display ID of the customer.
          example: CUST00101
          readOnly: true
        display_name:
          type:
          - string
          - 'null'
          title: Display Name
          description: The display name of the customer.
          example: Windsurf Shop
        name:
          type: string
          title: Name
          description: The name of the customer. Deprecated, use display_name instead.
          example: Windsurf Shop
          deprecated: true
        company_name:
          type:
          - string
          - 'null'
          title: Company Name
          description: The company name of the customer.
          example: The boring company
          readOnly: true
        email:
          type: string
          title: Email
          description: The email address of the customer.
          example: boring@boring.com
    DeletePaymentResponse:
      type: object
      x-apideck-schema-id: DeletePaymentResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: payments
        operation:
          type: string
          description: Operation performed
          example: delete
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    Meta:
      type: object
      x-apideck-schema-id: Meta
      description: Response metadata
      properties:
        items_on_page:
          type: integer
          description: Number of items returned in the data property of the response
          example: 50
        cursors:
          type: object
          description: Cursors to navigate to previous or next pages through the API
          properties:
            previous:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the previous page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjE=
            current:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the current page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjI=
            next:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the next page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjM=
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    CreatedBy:
      type:
      - string
      - 'null'
      title: Created by
      description: The user who created the object.
      example: '12345'
      readOnly: true
    TotalAmount:
      title: Total Amount
      description: The total amount of the transaction or record
      type:
      - number
      - 'null'
      example: 49.99
    RowVersion:
      type:
      - string
      - 'null'
      title: Row version
      description: A binary value used to detect updates to a object and prevent data conflicts. It is incremented each time an update is made to the object.
      example: 1-12345
    UpdatePaymentResponse:
      type: object
      x-apideck-schema-id: UpdatePaymentResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: payments
        operation:
          type: string
          description: Operation performed
          example: update
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    WritableId:
      type:
      - string
      - 'null'
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: false
    Id:
      type: string
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: true
    GetPaymentsResponse:
      type: object
      x-apideck-schema-id: GetPaymentsResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: payments
        operation:
          type: string
          description: Operation performed
          example: all
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        meta:
          $ref: '#/components/schemas/Meta'
        links:
          $ref: '#/components/schemas/Links'
        _raw:
          $ref: '#/components/schemas/Raw'
    DeprecatedLinkedSupplier:
      type:
      - object
      - 'null'
      x-apideck-schema-id: DeprecatedLinkedSupplier
      title: Linked Supplier
      description: The supplier this entity is linked to.
      x-apideck-weights:
        id: medium
        display_id: medium
        display_name: high
        company_name: edge-case
        address: low
      deprecated: true
      properties:
        id:
          $ref: '#/components/schemas/Id'
        display_id:
          type:
          - string
          - 'null'
          title: Display ID
          description: The display ID of the supplier.
          example: SUPP00101
          readOnly: true
        display_name:
          type:
          - string
          - 'null'
          title: Display Name
          description: The display name of the supplier.
          example: Windsurf Shop
        company_name:
          type:
          - string
          - 'null'
          title: Company Name
          description: The company name of the supplier.
          example: The boring company
          readOnly: true
        address:
          $ref: '#/components/schemas/Address'
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    SortDirection:
      type: string
      x-apideck-schema-id: SortDirection
      description: The direction in which to sort the results
      x-apideck-enum-id: sort_direction
      enum:
      - asc
      - desc
      default: asc
    Links:
      type: object
      x-apideck-schema-id: Links
      description: Links to navigate to previous or next pages through the API
      properties:
        previous:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        current:
          type: string
          description: Link to navigate to the current page through the API
          example: https://unify.apideck.com/crm/companies
        next:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM
    PaymentMethodReference:
      type:
      - string
      - 'null'
      title: Payment method reference
      description: Optional reference message returned by payment method on processing
      example: '123456'
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    LinkedTrackingCategories:
      type:
      - array
      - 'null'
      x-apideck-schema-id: LinkedTrackingCategories
      title: Linked tracking categories
      description: A list of linked tracking categories.
      items:
        $ref: '#/components/schemas/LinkedTrackingCategory'
    TransactionDate:
      title: Transaction Date
      description: The date of the transaction - YYYY:MM::DDThh:mm:ss.sTZD
      type:
      - string
      - 'null'
      format: date-time
      example: '2021-05-01T12:00:00.000Z'
    Address:
      type: object
      x-apideck-schema-id: Address
      additionalProperties: false
      x-apideck-weights:
        id: edge-case
        name: edge-case
        type: critical
        line1: high
        line2: low
        line3: edge-case
        line4: edge-case
        line5: edge-case
        street_number: low
        city: high
        string: low
        state: high
        postal_code: high
        country: high
        latitude: low
        longitude: low
        county: edge-case
        contact_name: edge-case
        salutation: edge-case
        phone_number: edge-case
        fax: edge-case
        email: edge-case
        website: edge-case
        row_version: edge-case
      properties:
        id:
          description: Unique identifier for the address.
          type:
          - string
          - 'null'
          example: '123'
        type:
          type:
          - string
          - 'null'
          description: The type of address.
          x-apideck-enum-id: addresses.type
          enum:
          - primary
          - secondary
          - home
          - office
          - shipping
          - billing
          - work
          - other
          example: primary
        string:
          type:
          - string
          - 'null'
          description: The address string. Some APIs don't provide structured address data.
          example: 25 Spring Street, Blackburn, VIC 3130
        name:
          description: The name of the address.
          type:
          - string
          - 'null'
          example: HQ US
        line1:
          type:
          - string
          - 'null'
          example: Main street
          description: 'Line 1 of the address e.g. number, street, suite, apt #, etc.'
        line2:
          type:
          - string
          - 'null'
          example: 'apt #'
          description: Line 2 of the address
        line3:
          type:
          - string
          - 'null'
          example: 'Suite #'
          description: Line 3 of the address
        line4:
          type:
          - string
          - 'null'
          example: delivery instructions
          description: Line 4 of the address
        line5:
          type:
          - string
          - 'null'
          example: 'Attention: Finance Dept'
          description: Line 5 of the address
        street_number:
          type:
          - string
          - 'null'
          example: '25'
          description: Street number
        city:
          type:
          - string
          - 'null'
          example: San Francisco
          description: Name of city.
        state:
          type:
          - string
          - 'null'
          example: CA
          description: Name of state
        postal_code:
          type:
          - string
          - 'null'
          example: '94104'
          description: Zip code or equivalent.
        country:
          type:
          - string
          - 'null'
          example: US
          description: country code according to ISO 3166-1 alpha-2.
        latitude:
          description: Latitude of the address
          type:
          - string
          - 'null'
          example: '40.759211'
        longitude:
          description: Longitude of the address
          type:
          - string
          - 'null'
          example: '-73.984638'
        county:
          type:
          - string
          - 'null'
          example: Santa Clara
          description: Address field that holds a sublocality, such as a county
        contact_name:
          description: Name of the contact person at the address
          type:
          - string
          - 'null'
          example: Elon Musk
        salutation:
          description: Salutation of the contact person at the address
          type:
          - string
          - 'null'
          example: Mr
        phone_number:
          description: Phone number of the address
          type:
          - string
          - 'null'
          example: 111-111-1111
        fax:
          description: Fax number of the address
          type:
          - string
          - 'null'
          example: 122-111-1111
        email:
          description: Email address of the address
          type:
          - string
          - 'null'
          example: elon@musk.com
        website:
          description: Website of the address
          type:
          - string
          - 'null'
          example: https://elonmusk.com
        notes:
          description: Additional notes
          type:
          - string
          - 'null'
          title: Notes
          example: Address notes or delivery instructions.
        row_version:
          $ref: '#/components/schemas/RowVersion'
    PaymentMethod:
      type:
      - string
      - 'null'
      title: Payment method
      description: Payment method used for the transaction, such as cash, credit card, bank transfer, or check
      example: cash
    PassThroughBody:
      type: array
      description: The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources.
      items:
        type: object
        properties:
          service_id:
            type: string
            description: Identifier for the service to which this pass_through should be applied.
          operation_id:
            type: string
            description: Optional identifier for a workflow operation to which this pass_through should be applied. This is useful for Unify calls that are making more than one downstream request.
          extend_object:
            type: object
            additionalProperties: true
            description: Simple object allowing any properties for direct extension.
          extend_paths:
            type: array
            description: Array of objects for structured data modifications via paths.
            items:
              type: object
              properties:
                path:
                  type: string
                  description: JSONPath string specifying where to apply the value.
                  example: $.nested.property
                value:
                  description: The value to set at the specified path, can be any type.
                  example:
                    TaxClassificationRef:
                      value: EUC-99990201-V1-00020000
              required:
              - path
              - value
              additionalProperties: false
        required:
        - service_id
        additionalProperties: false
        writeOnly: true
    GetPaymentResponse:
      type: object
      x-apideck-schema-id: GetPaymentResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: payments
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/Payment'
        _raw:
          $ref: '#/components/schemas/Raw'
    CurrencyRate:
      type:
      - number
      - 'null'
      title: Currency Exchange Rate
      description: Currency Exchange Rate at the time entity was recorded/generated.
      example: 0.69
    IsReconciled:
      title: Is Reconciled
      description: Indicates if the transaction has been reconciled.
      type:
      - boolean
      - 'null'
      example: true
    UpdatedAt:
      type:
      - string
      - 'null'
      title: Updated at (timestamp)
      description: The date and time when the object was last updated.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    CustomField:
      type: object
      x-apideck-schema-id: CustomField
      additionalProperties: false
      anyOf:
      - required:
        - id
      - required:
        - name
      x-apideck-strict-any-of:
      - required:
        - id
      - required:
        - name
      x-apideck-weights:
        id: critical
        value: critical
        name: medium
        description: edge-case
      properties:
        id:
          title: ID
          description: Unique identifier for the custom field.
          type:
          - string
          - 'null'
          example: '2389328923893298'
        name:
          title: Name
          type:
          - string
          - 'null'
          description: Name of the custom field.
          example: employee_level
        description:
          title: Description
          type:
          - string
          - 'null'
          description: More information about the custom field
          example: Employee Level
        value:
          anyOf:
          - type:
            - string
            - 'null'
            example: Uses Salesforce and Marketo
          - type:
            - number
            - 'null'
            example: 10
          - type:
            - boolean
            - 'null'
            example: true
          - type:
            - object
            - 'null'
            example:
              foo: bar
            additionalProperties: true
          - type: array
            items:
              anyOf:
              - type:
                - string
                - 'null'
                example: Uses Salesforce and Marketo
              - type:
                - number
                - 'null'
                example: 10
              - type:
                - boolean
                - 'null'
                example: true
              - type:
                - object
                - 'null'
                example:
                  foo: bar
                additionalProperties: true
    PaymentsFilter:
      type: object
      x-apideck-schema-id: PaymentsFilter
      x-graphql-type-name: PaymentsFilter
      example:
        updated_since: '2020-09-30T07:43:32.000Z'
        invoice_id: '123'
        supplier_id: '123'
        customer_id: 123abc
        type: accounts_receivable
      properties:
        updated_since:
          type: string
          title: Updated since (timestamp)
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
        invoice_id:
          type: string
          title: Invoice ID
          example: '123'
        supplier_id:
          type: string
          title: Supplier ID
          example: '123'
        customer_id:
          type: string
          title: Customer Id
          description: Filter by customer id
          example: 123abc
        type:
          type: string
          x-apideck-enum-id: payments.type
          enum:
          - accounts_receivable
          - accounts_payable
          - accounts_receivable_credit
          - accounts_payable_credit
          - accounts_receivable_overpayment
          - accounts_payable_overpayment
          - accounts_receivable_prepayment
          - accounts_payable_prepayment
          example: accounts_receivable
      additionalProperties: false
    PaymentStatus:
      type: string
      title: Payment status
      description: Status of payment
      x-apideck-enum-id: payments.status
      enum:
      - draft
      - authorised
      - rejected
      - paid
      - voided
      - deleted
      example: authorised
    DisplayId:
      type:
      - string
      - 'null'
      title: Display id
      description: Id to be displayed.
      example: '123456'
    TransactionNumber:
      type:
      - string
      - 'null'
      title: Transaction number
      description: Number associated with the transaction
      example: '123456'
    CreatePaymentResponse:
      type: object
      x-apideck-schema-id: CreatePaymentResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: payments
        operation:
          type: string
          description: Operation performed
          example: add
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    PaymentsSort:
      type: object
      x-apideck-schema-id: PaymentsSort
      example:
        by: updated_at
        direction: desc
      properties:
        by:
          type: string
          x-apideck-enum-id: payments.sort_by
          description: The field on which to sort the Payments
          enum:
          - updated_at
          - created_at
          example: updated_at
        direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
    PassThroughQuery:
      type: object
      additionalProperties: true
      properties:
        example_downstream_property:
          type: string
          description: All passthrough query parameters are passed along to the connector as is (?pass_through[search]=leads becomes ?search=leads)
      example:
        search: San Francisco
    DownstreamId:
      type:
      - string
      - 'null'
      description: The third-party API ID of original entity
      example: '12345'
      readOnly: true
    TransactionNote:
      type:
      - string
      - 'null'
      title: Transaction note
      description: Note associated with the transaction
      example: Some notes about this transaction
    Payment:
      type: object
      x-apideck-schema-id: Payment
      x-apideck-weights:
        id: critical
        downstream_id: medium
        currency: critical
        currency_rate: medium
        total_amount: critical
        reference: medium
        payment_method: medium
        payment_method_reference: medium
        payment_method_id: edge-case
        accounts_receivable_account_type: edge-case
        accounts_receivable_account_id: edge-case
        account: critical
        transaction_date: critical
        customer: high
        supplier: high
        company_id: medium
        reconciled: low
        status: high
        type: high
        allocations: critical
        note: low
        number: medium
        tracking_categories: low
        custom_fields: medium
        row_version: edge-case
        display_id: low
        updated_by: edge-case
        created_by: edge-case
        created_at: medium
        updated_at: medium
      required:
      - id
      - total_amount
      - transaction_date
      x-apideck-strict-required:
      - total_amount
      - transaction_date
      - allocations
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/Id'
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
        currency:
          $ref: '#/components/schemas/Currency'
        currency_rate:
          $ref: '#/components/schemas/CurrencyRate'
        total_amount:
          $ref: '#/components/schemas/TotalAmount'
        reference:
          $ref: '#/components/schemas/TransactionReference'
        payment_method:
          $ref: '#/components/schemas/PaymentMethod'
        payment_method_reference:
          $ref: '#/components/schemas/PaymentMethodReference'
        payment_method_id:
          $ref: '#/components/schemas/WritableId'
        accounts_receivable_account_type:
          deprecated: true
          type:
          - string
          - 'null'
          title: Type of accounts receivable account
          description: Type of accounts receivable account.
          example: Account
        accounts_receivable_account_id:
          deprecated: true
          type:
          - string
          - 'null'
          title: Accounts receivable account id
          description: Unique identifier for the account to allocate payment to.
          example: '123456'
        account:
          $ref: '#/components/schemas/LinkedLedgerAccount'
        transaction_date:
          $ref: '#/components/schemas/TransactionDate'
        customer:
          $ref: '#/components/schemas/LinkedCustomer'
        supplier:
          $ref: '#/components/schemas/DeprecatedLinkedSupplier'
        company_id:
          $ref: '#/components/schemas/AccountingCompanyId'
        reconciled:
          $ref: '#/components/schemas/IsReconciled'
        status:
          $ref: '#/components/schemas/PaymentStatus'
        type:
          $ref: '#/components/schemas/PaymentType'
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/Allocation'
        note:
          $ref: '#/components/schemas/TransactionNote'
        number:
          $ref: '#/components/schemas/TransactionNumber'
        tracking_categories:
          $ref: '#/components/schemas/LinkedTrackingCategories'
        custom_fields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        row_version:
          $ref: '#/components/schemas/RowVersion'
        display_id:
          $ref: '#/components/schemas/DisplayId'
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
        updated_by:
          $ref: '#/components/schemas/UpdatedBy'
        created_by:
          $ref: '#/components/schemas/CreatedBy'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    Currency:
      type:
      - string
      - 'null'
      title: Currency
      description: Indicates the associated currency for an amount of money. Values correspond to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).
      example: USD
      x-apideck-enum-id: currencies
      x-apideck-enum-coverage-ignore: true
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRC
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - ETH
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
        description: Pakistani rupee
      - name: PLN
        description: Polish złoty
      - name: PYG
        description: Paraguayan guaraní
      - name: QAR
        description: Qatari riyal
      - name: RON
        description: Romanian leu
      - name: RSD
        description: Serbian dinar
      - name: RUB
        description: Russian ruble
      - name: RWF
        description: Rwandan franc
      - name: SAR
        description: Saudi riyal
      - name: SBD
        description: Solomon Islands dollar
      - name: SCR
        description: Seychelles rupee
      - name: SDG
        description: Sudanese pound
      - name: SEK
        description: Swedish krona
      - name: SGD
        description: Singapore dollar
      - name: SHP
        description: Saint Helena pound
      - name: SLL
        description: Sierra Leonean leone
      - name: SOS
        description: Somali shilling
      - name: SRD
        description: Surinamese dollar
      - name: SSP
        description: South Sudanese pound
      - name: STD
        description: São Tomé and Príncipe dobra
      - name: SVC
        description: Salvadoran colón
      - name: SYP
        description: Syrian pound
      - name: SZL
        description: Swazi lilangeni
      - name: THB
        description: Thai baht
      - name: TJS
        description: Tajikstani somoni
      - name: TMT
        description: Turkmenistan manat
      - name: TND
        description: Tunisian dinar
      - name: TOP
        description: Tongan pa'anga
      - name: TRY
        description: Turkish lira
      - name: TTD
        description: Trinidad and Tobago dollar
      - name: TWD
        description: New Taiwan dollar
      - name: TZS
        description: Tanzanian shilling
      - name: UAH
        description: Ukrainian hryvnia
      - name: UGX
        description: Ugandan shilling
      - name: USD
        description: United States dollar
      - name: USN
        description: United States dollar (next day)
      - name: USS
        description: United States dollar (same day)
      - name: UYI
        description: Uruguay Peso en Unidedades Indexadas
      - name: UYU
        description: Uruguyan peso
      - name: UZS
        description: Uzbekistan som
      - name: VEF
        description: Venezuelan bolívar soberano
      - name: VND
        description: Vietnamese đồng
      - name: VUV
        description: Vanuatu vatu
      - name: WST
        description: Samoan tala
      - name: XAF
        description: CFA franc BEAC
      - name: XAG
        description: Silver
      - name: XAU
        description: Gold
      - name: XBA
        description: European Composite Unit
      - name: XBB
        description: European Monetary Unit
      - name: XBC
        description: European Unit of Account 9
      - name: XBD
        description: European Unit of Account 17
      - name: XCD
        description: East Caribbean dollar
      - name: XDR
        description: Special drawing rights (International Monetary Fund)
      - name: XOF
        description: CFA franc BCEAO
      - name: XPD
        description: Palladium
      - name: XPF
        description: CFP franc
      - name: XPT
        description: Platinum
      - name: XTS
        description: Code reserved for testing
      - name: XXX
        description: No currency
      - name: YER
        description: Yemeni rial
      - name: ZAR
        description: South African rand
      - name: ZMK
        description: Zambian kwacha
      - name: ZMW
        description: Zambian kwacha
      - name: BTC
        description: Bitcoin
      - name: ETH
        description: Ether
    CreatedAt:
      type:
      - string
      - 'null'
      title: Created at (timestamp)
      description: The date and time when the object was created.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
  responses:
    UnexpectedErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnexpectedErrorResponse'
      description: Unexpected error
    PaymentRequiredResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredResponse'
      description: Payment Required
    GetPaymentResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetPaymentResponse'
      description: Payment
    UpdatePaymentResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePaymentResponse'
      description: Payment Updated
    UnprocessableResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableResponse'
      description: Unprocessable
    BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestResponse'
      description: Bad Request
    NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
      description: The specified resource was not found
    GetPaymentsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetPaymentsResponse'
      description: Payments
    DeletePaymentResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeletePaymentResponse'
      description: Payment deleted
    CreatePaymentResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreatePaymentResponse'
      description: Payment created
    UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedResponse'
      description: Unauthorized
  parameters:
    raw:
      name: raw
      in: query
      description: Include raw response. Mostly used for debugging purposes
      schema:
        type: boolean
        default: false
    limit:
      name: limit
      in: query
      description: Number of results to return. Minimum 1, Maximum 200, Default 20
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    applicationId:
      name: x-apideck-app-id
      in: header
      required: true
      description: The ID of your Unify application
      schema:
        type: string
        minLength: 1
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      x-speakeasy-name-override: appId
    id:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the record you are acting upon.
    cursor:
      name: cursor
      in: query
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      schema:
        type:
        - string
        - 'null'
    paymentsFilter:
      name: filter
      in: query
      description: Apply filters
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PaymentsFilter'
    companyId:
      name: x-apideck-company-id
      in: header
      description: The ID of the company to scope requests to. For connectors that support multi-company, this overrides the default company configured in connection settings.
      schema:
        type: string
      example: '12345'
      x-speakeasy-name-override: companyId
    fields:
      name: fields
      in: query
      description: 'The ''fields'' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields "name", "email" and "addresses.city". If any other fields are available, they will be excluded.'
      example: id,updated_at
      schema:
        type:
        - string
        - 'null'
    serviceId:
      name: x-apideck-service-id
      in: header
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      schema:
        type: string
      example: salesforce
      x-speakeasy-name-override: serviceId
    paymentsSort:
      name: sort
      in: query
      description: Apply sorting
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PaymentsSort'
    passThrough:
      name: pass_through
      in: query
      description: 'Optional unmapped key/values that will be passed through to downstream as query parameters. Ie: ?pass_through[search]=leads becomes ?search=leads'
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PassThroughQuery'
    consumerId:
      name: x-apideck-consumer-id
      in: header
      required: true
      description: ID of the consumer which you want to get or push data from
      schema:
        type: string
      example: test-consumer
      x-speakeasy-name-override: consumerId
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'To access our API, you need to sign up and obtain your unique API key. Each Unify application is assigned a single API key. You can locate your API key in the Configuration Settings section of your Apideck application. Additionally, your application’s application_id is available on the same page.


        Authenticate your API requests by including your test or live secret API key in the request header.


        - Bearer authorization header: `Authorization: Bearer "YOUR_API_KEY_HERE"`

        - Application id header: `x-apideck-app-id: "YOUR_APP_ID_HERE"`


        You should use the public keys on the SDKs and the secret keys to authenticate API requests.


        **Do not share or include your secret API keys on client side code.** Your API keys carry significant privileges. Please ensure to keep them 100% secure and be sure to not share your secret API keys in areas that are publicly accessible like GitHub.


        Learn how to set the Authorization header inside Postman https://learning.postman.com/docs/postman/sending-api-requests/authorization/#api-key


        Go to Unify to grab your API KEY https://app.apideck.com/unify/api-keys

        '
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
x-webhooks:
  x-sdk-exclude: true
  x-speakeasy-ignore: true
  CustomerCreated:
    post:
      summary: Customer Created
      operationId: customerCreated
      x-apideck-event-type: accounting.customer.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.customer.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/customers/123456ASDF
                entity_type: customer
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a customer has been created.
  CustomerUpdated:
    post:
      summary: Customer Updated
      operationId: customerUpdated
      x-apideck-event-type: accounting.customer.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.customer.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/customers/123456ASDF
                entity_type: customer
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a customer has been updated.
  CustomerDeleted:
    post:
      summary: Customer Deleted
      operationId: customerDeleted
      x-apideck-event-type: accounting.customer.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.customer.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/customers/123456ASDF
                entity_type: customer
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a customer has been deleted.
  InvoiceCreated:
    post:
      summary: Invoice Created
      operationId: invoiceCreated
      x-apideck-event-type: accounting.invoice.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoices/123456ASDF
                entity_type: invoice
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been created.
  InvoiceUpdated:
    post:
      summary: Invoice Updated
      operationId: invoiceUpdated
      x-apideck-event-type: accounting.invoice.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoices/123456ASDF
                entity_type: invoice
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been updated.
  InvoiceDeleted:
    post:
      summary: Invoice Deleted
      operationId: invoiceDeleted
      x-apideck-event-type: accounting.invoice.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoices/123456ASDF
                entity_type: invoice
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been deleted.
  InvoiceItemCreated:
    post:
      summary: Invoice Item Created
      operationId: invoiceItemCreated
      x-apideck-event-type: accounting.invoice_item.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice_item.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoice_items/123456ASDF
                entity_type: invoice_item
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been item created.
  InvoiceItemUpdated:
    post:
      summary: Invoice Item Updated
      operationId: invoiceItemUpdated
      x-apideck-event-type: accounting.invoice_item.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice_item.updated
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoice_items/123456ASDF
                entity_type: invoice_item
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been item updated.
  InvoiceItemDeleted:
    post:
      summary: Invoice Item Deleted
      operationId: invoiceItemDeleted
      x-apideck-event-type: accounting.invoice_item.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.invoice_item.deleted
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/invoice_items/123456ASDF
                entity_type: invoice_item
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when an invoice has been item deleted.
  LedgerAccountCreated:
    post:
      summary: Ledger Account Created
      operationId: ledgerAccountCreated
      x-apideck-event-type: accounting.ledger_account.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/AccountingWebhookEvent'
            example:
              payload:
                event_type: accounting.ledger_account.created
                unified_api: accounting
                service_id: xero
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/accounting/ledger_accounts/123456ASDF
                entity_type: ledger_account
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
      description: Event broadcast when a ledger has been account created.
  LedgerAccountUpdated:
    post:
      summary: Ledger Account Updated
      operationId: ledgerAccountUpdated
      x-apideck-event-type: accounting.ledger_account.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/AccountingEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
[...]
