openapi: 3.2.0
info:
  version: 10.24.12
  title: Apideck File storage Files API
  description: Welcome to the File Storage API.
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-apideck-api: file-storage
  x-apideck-sdk-support: true
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://unify.apideck.com
security:
- apiKey: []
tags:
- name: Files
  description: Files resource represents files stored in the cloud storage services. It provides methods for managing and accessing the files, such as uploading, downloading, and deleting files. For more information on uploads, refer to the file upload guide.
  x-apideck-resource-id: files
  x-apideck-model:
    $ref: '#/components/schemas/UnifiedFile'
paths:
  /file-storage/files:
    get:
      tags:
      - Files
      operationId: filesAll
      summary: Apideck List Files
      description: List Files
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/filesFilter'
      - $ref: '#/components/parameters/filesSort'
      - $ref: '#/components/parameters/passThrough'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-gotchas:
      - connector: google-drive
        description: Google drive does not provide `previous` cursor information, so the cursors for the previous pages will be empty.
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source: {}
    post:
      tags:
      - Files
      operationId: filesUpload
      summary: Apideck Upload file
      description: Upload file (max 100MB). Please use the Upload Sessions API to upload bigger files. For more information on uploads, refer to the file upload guide.
      x-sdk-exclude: true
      servers:
      - url: https://upload.apideck.com
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/metadata'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          '*/*':
            schema:
              type: string
              format: binary
      x-apideck-gotchas:
      - connector: onedrive
        description: OneDrive limits file uploads to 4MB. Please use the [Upload Sessions API](#operation/uploadSessionsStart) to upload bigger files.
      - connector: sharepoint
        description: Sharepoint limits file uploads to 4MB. Please use the [Upload Sessions API](#operation/uploadSessionsStart) to upload bigger files.
      responses:
        '201':
          $ref: '#/components/responses/CreateFileResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          filesUpload: string
  /file-storage/files/search:
    post:
      tags:
      - Files
      operationId: filesSearch
      summary: Apideck Search Files
      description: Search Files
      parameters:
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/passThrough'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/filesFilter'
      x-apideck-gotchas:
      - connector: onedrive
        description: If you want to search for files by name and extension send query as {filename AND extension} like `{apideck AND .png}`.
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilesSearch'
      responses:
        '200':
          $ref: '#/components/responses/GetFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          filesSearch:
            query: logo jpg
  /file-storage/files/{id}:
    get:
      tags:
      - Files
      operationId: filesOne
      summary: Apideck Get File
      description: Get File
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetFileResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    patch:
      tags:
      - Files
      operationId: filesUpdate
      summary: Apideck Rename or move File
      description: Rename or move File
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFileRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateFileResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          file:
            name: New Name.pdf
            description: Renamed PDF Document
            parent_folder_id: '1234'
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
    delete:
      tags:
      - Files
      operationId: filesDelete
      summary: Apideck Delete File
      description: Delete File
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteFileResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
  /file-storage/files/{id}/download:
    get:
      tags:
      - Files
      operationId: filesDownload
      summary: Apideck Download File
      description: Download File
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetFileDownloadResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
  /file-storage/files/{id}/export:
    get:
      tags:
      - Files
      operationId: filesExport
      summary: Apideck Export File
      description: Export File
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/format'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/GetFileDownloadResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          format: pdf
components:
  schemas:
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    DeleteFileResponse:
      type: object
      x-apideck-schema-id: DeleteFileResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: google-drive
        resource:
          type: string
          description: Unified API resource name
          example: files
        operation:
          type: string
          description: Operation performed
          example: delete
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    UpdatedBy:
      type:
      - string
      - 'null'
      title: Updated by
      description: The user who last updated the object.
      example: '12345'
      readOnly: true
    GetFilesResponse:
      type: object
      x-apideck-schema-id: GetFilesResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: google-drive
        resource:
          type: string
          description: Unified API resource name
          example: files
        operation:
          type: string
          description: Operation performed
          example: all
        data:
          type: array
          items:
            $ref: '#/components/schemas/UnifiedFile'
        meta:
          $ref: '#/components/schemas/Meta'
        links:
          $ref: '#/components/schemas/Links'
        _raw:
          $ref: '#/components/schemas/Raw'
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    FileType:
      type:
      - string
      - 'null'
      x-apideck-schema-id: FileType
      x-apideck-enum-id: files.type
      enum:
      - file
      - folder
      - url
      description: The type of resource. Could be file, folder or url
      readOnly: true
      example: file
    FileSize:
      type:
      - integer
      - 'null'
      x-apideck-schema-id: FileSize
      description: The size of the file in bytes
      example: 1810673
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    Meta:
      type: object
      x-apideck-schema-id: Meta
      description: Response metadata
      properties:
        items_on_page:
          type: integer
          description: Number of items returned in the data property of the response
          example: 50
        cursors:
          type: object
          description: Cursors to navigate to previous or next pages through the API
          properties:
            previous:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the previous page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjE=
            current:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the current page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjI=
            next:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the next page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjM=
    CreatedBy:
      type:
      - string
      - 'null'
      title: Created by
      description: The user who created the object.
      example: '12345'
      readOnly: true
    UpdateFileResponse:
      type: object
      x-apideck-schema-id: UpdateFileResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: google-drive
        resource:
          type: string
          description: Unified API resource name
          example: files
        operation:
          type: string
          description: Operation performed
          example: update
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    FilesFilter:
      type: object
      x-apideck-schema-id: FilesFilter
      properties:
        drive_id:
          type: string
          description: ID of the drive to filter on
          example: '1234'
        folder_id:
          type: string
          description: ID of the folder to filter on. The root folder has an alias "root"
          example: root
        shared:
          type: boolean
          description: Only return files and folders that are shared
          example: true
      additionalProperties: false
    CreateFileRequest:
      type: object
      x-apideck-schema-id: CreateFileRequest
      additionalProperties: false
      required:
      - name
      - parent_folder_id
      properties:
        name:
          type: string
          description: The name of the file.
          example: Documents
        parent_folder_id:
          $ref: '#/components/schemas/ParentFolderId'
        drive_id:
          type: string
          description: ID of the drive to upload to.
          example: '1234'
        description:
          type: string
          description: Optional description of the file.
          example: My Personal Documents
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
    DownstreamId:
      type:
      - string
      - 'null'
      description: The third-party API ID of original entity
      example: '12345'
      readOnly: true
    UnifiedFile:
      type: object
      x-apideck-schema-id: UnifiedFile
      additionalProperties: false
      required:
      - id
      - name
      - type
      x-apideck-weights:
        id: critical
        name: critical
        type: critical
        mime_type: high
        downloadable: high
        size: high
        parent_folders: high
        parent_folders_complete: critical
        updated_at: critical
        created_at: high
        downstream_id: edge-case
      properties:
        id:
          $ref: '#/components/schemas/Id'
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
        name:
          type:
          - string
          - 'null'
          description: The name of the file
          example: sample.jpg
        description:
          type:
          - string
          - 'null'
          description: Optional description of the file
          example: A sample image
        type:
          $ref: '#/components/schemas/FileType'
        path:
          type:
          - string
          - 'null'
          description: The full path of the file or folder (includes the file name)
          example: /Documents/sample.jpg
        mime_type:
          type:
          - string
          - 'null'
          description: The MIME type of the file.
          example: image/jpeg
        downloadable:
          type: boolean
          description: Whether the current user can download this file
        size:
          $ref: '#/components/schemas/FileSize'
        owner:
          $ref: '#/components/schemas/Owner'
        parent_folders:
          type: array
          description: The parent folders of the file, starting from the root
          items:
            $ref: '#/components/schemas/LinkedFolder'
        parent_folders_complete:
          type: boolean
          description: Whether the list of parent folders is complete. Some connectors only return the direct parent of a file
        permissions:
          type: object
          description: Permissions the current user has on this file.
          properties:
            download:
              type: boolean
              description: Whether the current user can download this file.
        exportable:
          type: boolean
          description: Whether the current file is exportable to other file formats. This property is relevant for proprietary file formats such as Google Docs or Dropbox Paper.
        export_formats:
          type:
          - array
          - 'null'
          description: The available file formats when exporting this file.
          example:
          - application/pdf
          - application/vnd.oasis.opendocument.presentation
          - text/plain
          items:
            type: string
            example: application/pdf
            description: An available file format (typically MIME type) to export this file.
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
        updated_by:
          $ref: '#/components/schemas/UpdatedBy'
        created_by:
          $ref: '#/components/schemas/CreatedBy'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    Id:
      type: string
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: true
    UpdateFileRequest:
      type: object
      x-apideck-schema-id: UpdateFileRequest
      additionalProperties: false
      properties:
        name:
          type: string
          description: The name of the file.
          example: New Name.pdf
        description:
          type: string
          description: Optional description of the file.
          example: Renamed PDF Document
        parent_folder_id:
          $ref: '#/components/schemas/ParentFolderId'
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    SortDirection:
      type: string
      x-apideck-schema-id: SortDirection
      description: The direction in which to sort the results
      x-apideck-enum-id: sort_direction
      enum:
      - asc
      - desc
      default: asc
    FilesSearch:
      type: object
      x-apideck-schema-id: FilesSearch
      example:
        query: logo jpg
      properties:
        query:
          type: string
          description: The query to search for. May match across multiple fields.
          example: logo jpg
        drive_id:
          type: string
          description: ID of the drive to filter on
          example: '1234'
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
      additionalProperties: false
      required:
      - query
    Links:
      type: object
      x-apideck-schema-id: Links
      description: Links to navigate to previous or next pages through the API
      properties:
        previous:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        current:
          type: string
          description: Link to navigate to the current page through the API
          example: https://unify.apideck.com/crm/companies
        next:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM
    LinkedFolder:
      type: object
      x-apideck-schema-id: LinkedFolder
      x-apideck-weights:
        id: critical
      properties:
        id:
          $ref: '#/components/schemas/Id'
        name:
          type:
          - string
          - 'null'
          description: The name of the folder
          example: Personal
      required:
      - id
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    Owner:
      type: object
      x-apideck-schema-id: Owner
      readOnly: true
      x-apideck-weights:
        id: critical
      properties:
        id:
          type: string
          description: ID of the owner
          example: '12345'
          readOnly: true
        email:
          type:
          - string
          - 'null'
          description: Email of the owner
          example: hello@apideck.com
          readOnly: true
        name:
          type:
          - string
          - 'null'
          description: Name of the owner
          example: Elon Musk
          readOnly: true
    GetFileResponse:
      type: object
      x-apideck-schema-id: GetFileResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: google-drive
        resource:
          type: string
          description: Unified API resource name
          example: files
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/UnifiedFile'
        _raw:
          $ref: '#/components/schemas/Raw'
    ParentFolderId:
      type: string
      x-apideck-schema-id: ParentFolderId
      description: The parent folder to create the new file within. This can be an ID or a path depending on the downstream folder. Please see the connector section below to see downstream specific gotchas.
      example: '1234'
    PassThroughBody:
      type: array
      description: The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources.
      items:
        type: object
        properties:
          service_id:
            type: string
            description: Identifier for the service to which this pass_through should be applied.
          operation_id:
            type: string
            description: Optional identifier for a workflow operation to which this pass_through should be applied. This is useful for Unify calls that are making more than one downstream request.
          extend_object:
            type: object
            additionalProperties: true
            description: Simple object allowing any properties for direct extension.
          extend_paths:
            type: array
            description: Array of objects for structured data modifications via paths.
            items:
              type: object
              properties:
                path:
                  type: string
                  description: JSONPath string specifying where to apply the value.
                  example: $.nested.property
                value:
                  description: The value to set at the specified path, can be any type.
                  example:
                    TaxClassificationRef:
                      value: EUC-99990201-V1-00020000
              required:
              - path
              - value
              additionalProperties: false
        required:
        - service_id
        additionalProperties: false
        writeOnly: true
    FilesSort:
      type: object
      x-apideck-schema-id: FilesSort
      example:
        by: updated_at
        direction: desc
      properties:
        by:
          type: string
          x-apideck-enum-id: files.sort_by
          description: The field on which to sort the Files
          enum:
          - created_at
          - updated_at
          - name
          example: updated_at
        direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
    UpdatedAt:
      type:
      - string
      - 'null'
      title: Updated at (timestamp)
      description: The date and time when the object was last updated.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    CreateFileResponse:
      type: object
      x-apideck-schema-id: CreateFileResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: google-drive
        resource:
          type: string
          description: Unified API resource name
          example: files
        operation:
          type: string
          description: Operation performed
          example: add
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    PassThroughQuery:
      type: object
      additionalProperties: true
      properties:
        example_downstream_property:
          type: string
          description: All passthrough query parameters are passed along to the connector as is (?pass_through[search]=leads becomes ?search=leads)
      example:
        search: San Francisco
    UnifiedId:
      title: UnifiedId
      type: object
      x-apideck-schema-id: Id
      description: A object containing a unique identifier for the resource that was created, updated, or deleted.
      required:
      - id
      properties:
        id:
          title: Id
          description: The unique identifier of the resource
          type: string
          readOnly: true
          example: '12345'
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    CreatedAt:
      type:
      - string
      - 'null'
      title: Created at (timestamp)
      description: The date and time when the object was created.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
  responses:
    UnexpectedErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnexpectedErrorResponse'
    PaymentRequiredResponse:
      description: Payment Required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredResponse'
    UpdateFileResponse:
      description: Files
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateFileResponse'
    GetFileDownloadResponse:
      description: File Download
      content:
        '*/*':
          schema:
            type: string
            format: binary
    DeleteFileResponse:
      description: Files
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteFileResponse'
    GetFilesResponse:
      description: Files
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetFilesResponse'
    GetFileResponse:
      description: File
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetFileResponse'
    UnprocessableResponse:
      description: Unprocessable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableResponse'
    BadRequestResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestResponse'
    NotFoundResponse:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
    CreateFileResponse:
      description: Files
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateFileResponse'
    UnauthorizedResponse:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedResponse'
  parameters:
    raw:
      name: raw
      in: query
      description: Include raw response. Mostly used for debugging purposes
      schema:
        type: boolean
        default: false
    limit:
      name: limit
      in: query
      description: Number of results to return. Minimum 1, Maximum 200, Default 20
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    applicationId:
      name: x-apideck-app-id
      in: header
      required: true
      description: The ID of your Unify application
      schema:
        type: string
        minLength: 1
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      x-speakeasy-name-override: appId
    id:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the record you are acting upon.
    cursor:
      name: cursor
      in: query
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      schema:
        type:
        - string
        - 'null'
    filesFilter:
      name: filter
      in: query
      description: Apply filters
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/FilesFilter'
    filesSort:
      name: sort
      in: query
      description: Apply sorting
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/FilesSort'
    serviceId:
      name: x-apideck-service-id
      in: header
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      schema:
        type: string
      example: salesforce
      x-speakeasy-name-override: serviceId
    format:
      name: format
      in: query
      description: File format to export this file to. A list of available file formats for the current file is available as `export_formats` on the File resource.
      required: true
      schema:
        type: string
        example: pdf
    metadata:
      name: x-apideck-metadata
      in: header
      description: Metadata to attach to the file
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateFileRequest'
    passThrough:
      name: pass_through
      in: query
      description: 'Optional unmapped key/values that will be passed through to downstream as query parameters. Ie: ?pass_through[search]=leads becomes ?search=leads'
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PassThroughQuery'
    consumerId:
      name: x-apideck-consumer-id
      in: header
      required: true
      description: ID of the consumer which you want to get or push data from
      schema:
        type: string
      example: test-consumer
      x-speakeasy-name-override: consumerId
    fields:
      name: fields
      in: query
      description: 'The ''fields'' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields "name", "email" and "addresses.city". If any other fields are available, they will be excluded.'
      example: id,updated_at
      schema:
        type:
        - string
        - 'null'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'To access our API, you need to sign up and obtain your unique API key. Each Unify application is assigned a single API key. You can locate your API key in the Configuration Settings section of your Apideck application. Additionally, your application’s application_id is available on the same page.


        Authenticate your API requests by including your test or live secret API key in the request header.


        - Bearer authorization header: `Authorization: Bearer "YOUR_API_KEY_HERE"`

        - Application id header: `x-apideck-app-id: "YOUR_APP_ID_HERE"`


        You should use the public keys on the SDKs and the secret keys to authenticate API requests.


        **Do not share or include your secret API keys on client side code.** Your API keys carry significant privileges. Please ensure to keep them 100% secure and be sure to not share your secret API keys in areas that are publicly accessible like GitHub.


        Learn how to set the Authorization header inside Postman https://learning.postman.com/docs/postman/sending-api-requests/authorization/#api-key


        Go to Unify to grab your API KEY https://app.apideck.com/unify/api-keys

        '
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
