openapi: 3.2.0
info:
  version: 10.24.12
  title: Apideck CRM Contacts API
  description: Welcome to the CRM API.
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  x-logo:
    url: https://developers.apideck.com/icon.png
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-apideck-api: crm
  x-apideck-sdk-support: true
servers:
- url: https://unify.apideck.com
  description: Production
security:
- apiKey: []
  applicationId: []
  consumerId: []
tags:
- name: Contacts
  description: The Contact resource represents individuals, including details such as name, contact information, associated company, and activity history.
  x-apideck-resource-id: contacts
  x-apideck-model:
    $ref: '#/components/schemas/Contact'
paths:
  /crm/contacts:
    get:
      tags:
      - Contacts
      operationId: contactsAll
      summary: Apideck List contacts
      description: List contacts
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/contactsFilter'
      - $ref: '#/components/parameters/contactsSort'
      - $ref: '#/components/parameters/passThrough'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: hubspot
        description: When using a filter or sorting for contacts, Hubspot will only return a maximum of 10.000 contacts.
      - connector: salesforce
        description: Salesforce imposes a maximum offset limit of 2000. Exceeding this offset will result in an error from Salesforce. For result sets larger than 2000 items, it is necessary to set the pagination limit to 200, as this will enforce the use of batchSize for pagination. Note that setting a limit lower than 200 will not reduce the batchSize due to Salesforce's minimum batch size policy of 200, as detailed in their documentation [here](https://developer.salesforce.com/docs/atlas.en-us.250.0.api_rest.meta/api_rest/headers_queryoptions.htm) and will have no effect.
      - connector: zoho-crm
        description: When using the phone_number filter for contacts in Zoho CRM, the filter does not work with numbers containing dashes (e.g., 989-989-989) or their URL-encoded equivalents (e.g., 989%2D989%2D989). It only works with continuous digits (e.g., 9898989898).
      - connector: microsoft-outlook
        description: To get custom fields, make a get contact call with owner_id. If no owner_id is provided, the list call will return the contacts of the authenticated user. Microsoft Outlook allows multiple emails without a type. We will return the type of the first email as primary and the rest as other.
      - connector: blackbaud
        description: 'Blackbaud does not support contacts and companies as separate entities. Both are managed under the **Constituent** model in Blackbaud''s API.

          This endpoint returns both contacts and companies. To distinguish between them, use [custom mappings](https://developers.apideck.com/apis/crm/reference#tag/Contacts/operation/contactsAll) to retrieve the `type` field. Possible values are `Individual` and `Organization`.

          '
      responses:
        '200':
          $ref: '#/components/responses/GetContactsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: crm
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source: {}
    post:
      tags:
      - Contacts
      operationId: contactsAdd
      summary: Apideck Create contact
      description: Create contact
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: hubspot
        description: When creating a contact, it is advised to always include an unique email address since Hubspot uses it to prevent duplicate contacts in HubSpot. More info on the [Hubspot developer docs](https://developers.hubspot.com/docs/api/crm/contacts).
      - connector: microsoft-outlook
        description: Microsoft Outlook allows multiple emails without a type. Please provide the first email as primary and the rest as other.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          $ref: '#/components/responses/CreateContactResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: crm
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          contact:
            name: Elon Musk
            owner_id: '54321'
            type: personal
            company_id: '23456'
            company_name: '23456'
            lead_id: '34567'
            first_name: Elon
            middle_name: D.
            last_name: Musk
            prefix: Mr.
            suffix: PhD
            title: CEO
            department: Engineering
            language: EN
            gender: female
            birthday: '2000-08-12'
            image: https://unavatar.io/elon-musk
            photo_url: https://unavatar.io/elon-musk
            lead_source: Cold Call
            fax: '+12129876543'
            description: Internal champion
            current_balance: 10.5
            status: open
            active: true
            websites:
            - id: '12345'
              url: http://example.com
              type: primary
            addresses:
            - id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            social_links:
            - id: '12345'
              url: https://www.twitter.com/apideck
              type: twitter
            phone_numbers:
            - id: '12345'
              country_code: '1'
              area_code: '323'
              number: 111-111-1111
              extension: '105'
              type: primary
            emails:
            - id: '123'
              email: elon@musk.com
              type: primary
            email_domain: gmail.com
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            tags:
            - New
            opportunity_ids:
            - '12345'
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
  /crm/contacts/{id}:
    get:
      tags:
      - Contacts
      operationId: contactsOne
      summary: Apideck Get contact
      description: Get contact
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/contactsFilter'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: microsoft-outlook
        description: If no owner_id is provided, the get call will return the contacts of the authenticated user only. Microsoft Outlook allows multiple emails without a type. We will return the type of the first email as primary and the rest as other.
      responses:
        '200':
          $ref: '#/components/responses/GetContactResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: crm
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    patch:
      tags:
      - Contacts
      operationId: contactsUpdate
      summary: Apideck Update contact
      description: Update contact
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: microsoft-outlook
        description: Microsoft Outlook allows multiple emails without a type. Please provide the first email as primary and the rest as other.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          $ref: '#/components/responses/UpdateContactResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: crm
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          contact:
            name: Elon Musk
            owner_id: '54321'
            type: personal
            company_id: '23456'
            company_name: '23456'
            lead_id: '34567'
            first_name: Elon
            middle_name: D.
            last_name: Musk
            prefix: Mr.
            suffix: PhD
            title: CEO
            department: Engineering
            language: EN
            gender: female
            birthday: '2000-08-12'
            image: https://unavatar.io/elon-musk
            photo_url: https://unavatar.io/elon-musk
            lead_source: Cold Call
            fax: '+12129876543'
            description: Internal champion
            current_balance: 10.5
            status: open
            active: true
            websites:
            - id: '12345'
              url: http://example.com
              type: primary
            addresses:
            - id: '123'
              type: primary
              string: 25 Spring Street, Blackburn, VIC 3130
              name: HQ US
              line1: Main street
              line2: 'apt #'
              line3: 'Suite #'
              line4: delivery instructions
              line5: 'Attention: Finance Dept'
              street_number: '25'
              city: San Francisco
              state: CA
              postal_code: '94104'
              country: US
              latitude: '40.759211'
              longitude: '-73.984638'
              county: Santa Clara
              contact_name: Elon Musk
              salutation: Mr
              phone_number: 111-111-1111
              fax: 122-111-1111
              email: elon@musk.com
              website: https://elonmusk.com
              notes: Address notes or delivery instructions.
              row_version: 1-12345
            social_links:
            - id: '12345'
              url: https://www.twitter.com/apideck
              type: twitter
            phone_numbers:
            - id: '12345'
              country_code: '1'
              area_code: '323'
              number: 111-111-1111
              extension: '105'
              type: primary
            emails:
            - id: '123'
              email: elon@musk.com
              type: primary
            email_domain: gmail.com
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            tags:
            - New
            opportunity_ids:
            - '12345'
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
    delete:
      tags:
      - Contacts
      operationId: contactsDelete
      summary: Apideck Delete contact
      description: Delete contact
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: microsoft-outlook
        description: To delete another user's contact use proxy api.
      responses:
        '200':
          $ref: '#/components/responses/DeleteContactResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: crm
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
components:
  parameters:
    contactsFilter:
      name: filter
      in: query
      description: Apply filters
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/ContactsFilter'
    raw:
      name: raw
      in: query
      description: Include raw response. Mostly used for debugging purposes
      schema:
        type: boolean
        default: false
    limit:
      name: limit
      in: query
      description: Number of results to return. Minimum 1, Maximum 200, Default 20
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    applicationId:
      name: x-apideck-app-id
      in: header
      required: true
      description: The ID of your Unify application
      schema:
        type: string
        minLength: 1
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      x-speakeasy-name-override: appId
    id:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the record you are acting upon.
    cursor:
      name: cursor
      in: query
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      schema:
        type:
        - string
        - 'null'
    serviceId:
      name: x-apideck-service-id
      in: header
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      schema:
        type: string
      example: salesforce
      x-speakeasy-name-override: serviceId
    passThrough:
      name: pass_through
      in: query
      description: 'Optional unmapped key/values that will be passed through to downstream as query parameters. Ie: ?pass_through[search]=leads becomes ?search=leads'
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PassThroughQuery'
    consumerId:
      name: x-apideck-consumer-id
      in: header
      required: true
      description: ID of the consumer which you want to get or push data from
      schema:
        type: string
      example: test-consumer
      x-speakeasy-name-override: consumerId
    fields:
      name: fields
      in: query
      description: 'The ''fields'' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields "name", "email" and "addresses.city". If any other fields are available, they will be excluded.'
      example: id,updated_at
      schema:
        type:
        - string
        - 'null'
    contactsSort:
      name: sort
      in: query
      description: Apply sorting
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/ContactsSort'
  schemas:
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    UnifiedId:
      title: UnifiedId
      type: object
      x-apideck-schema-id: Id
      description: A object containing a unique identifier for the resource that was created, updated, or deleted.
      required:
      - id
      properties:
        id:
          title: Id
          description: The unique identifier of the resource
          type: string
          readOnly: true
          example: '12345'
    CreateContactResponse:
      type: object
      x-apideck-schema-id: CreateContactResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: zoho-crm
        resource:
          type: string
          description: Unified API resource name
          example: contacts
        operation:
          type: string
          description: Operation performed
          example: add
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    ContactsFilter:
      type: object
      x-apideck-schema-id: ContactsFilter
      example:
        first_name: Elon
        last_name: Musk
        email: elon@tesla.com
        company_id: '12345'
        owner_id: '12345'
        updated_since: '2020-09-30T07:43:32.000Z'
        created_since: '2020-09-30T07:43:32.000Z'
      properties:
        name:
          type: string
          description: Name of the contact to filter on
          example: Elon Musk
        first_name:
          type: string
          description: First name of the contact to filter on
          example: Elon
        last_name:
          type: string
          description: Last name of the contact to filter on
          example: Musk
        email:
          type: string
          description: Email of the contact to filter on
          example: elon@tesla.com
        phone_number:
          type: string
          description: Phone number of the contact to filter on
          example: 111-111-1111
        company_id:
          type: string
          description: Unique identifier for the associated company of the contact to filter on
          example: '12345'
        owner_id:
          type: string
          description: Unique identifier for the owner of the contact to filter on
          example: '12345'
        updated_since:
          type: string
          title: Updated since (timestamp)
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
        created_since:
          type: string
          title: Created since (timestamp)
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
      additionalProperties: false
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    SocialLink:
      type: object
      x-apideck-schema-id: SocialLink
      required:
      - url
      additionalProperties: false
      x-apideck-weights:
        id: edge-case
        url: critical
        type: critical
      properties:
        id:
          description: Unique identifier of the social link
          type:
          - string
          - 'null'
          example: '12345'
        url:
          description: URL of the social link, e.g. https://www.twitter.com/apideck
          type: string
          example: https://www.twitter.com/apideck
          minLength: 1
        type:
          description: Type of the social link, e.g. twitter
          type:
          - string
          - 'null'
          example: twitter
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    DeleteContactResponse:
      type: object
      x-apideck-schema-id: DeleteContactResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: zoho-crm
        resource:
          type: string
          description: Unified API resource name
          example: contacts
        operation:
          type: string
          description: Operation performed
          example: delete
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    Meta:
      type: object
      x-apideck-schema-id: Meta
      description: Response metadata
      properties:
        items_on_page:
          type: integer
          description: Number of items returned in the data property of the response
          example: 50
        cursors:
          type: object
          description: Cursors to navigate to previous or next pages through the API
          properties:
            previous:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the previous page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjE=
            current:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the current page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjI=
            next:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the next page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjM=
    ContactsSort:
      type: object
      x-apideck-schema-id: ContactsSort
      example:
        by: created_at
        direction: desc
      properties:
        by:
          type: string
          x-apideck-enum-id: contacts.sort_by
          description: The field on which to sort the Contacts
          enum:
          - created_at
          - updated_at
          - name
          - first_name
          - last_name
          - email
          example: created_at
        direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
    GetContactsResponse:
      type: object
      x-apideck-schema-id: GetContactsResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: zoho-crm
        resource:
          type: string
          description: Unified API resource name
          example: contacts
        operation:
          type: string
          description: Operation performed
          example: all
        data:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        meta:
          $ref: '#/components/schemas/Meta'
        links:
          $ref: '#/components/schemas/Links'
        _raw:
          $ref: '#/components/schemas/Raw'
    GetContactResponse:
      type: object
      x-apideck-schema-id: GetContactResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: zoho-crm
        resource:
          type: string
          description: Unified API resource name
          example: companies
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/Contact'
        _raw:
          $ref: '#/components/schemas/Raw'
    RowVersion:
      type:
      - string
      - 'null'
      title: Row version
      description: A binary value used to detect updates to a object and prevent data conflicts. It is incremented each time an update is made to the object.
      example: 1-12345
    Tags:
      type:
      - array
      - 'null'
      x-apideck-schema-id: Tags
      items:
        type: string
      example:
      - New
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    SortDirection:
      type: string
      x-apideck-schema-id: SortDirection
      description: The direction in which to sort the results
      x-apideck-enum-id: sort_direction
      enum:
      - asc
      - desc
      default: asc
    Links:
      type: object
      x-apideck-schema-id: Links
      description: Links to navigate to previous or next pages through the API
      properties:
        previous:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        current:
          type: string
          description: Link to navigate to the current page through the API
          example: https://unify.apideck.com/crm/companies
        next:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    Address:
      type: object
      x-apideck-schema-id: Address
      additionalProperties: false
      x-apideck-weights:
        id: edge-case
        name: edge-case
        type: critical
        line1: high
        line2: low
        line3: edge-case
        line4: edge-case
        line5: edge-case
        street_number: low
        city: high
        string: low
        state: high
        postal_code: high
        country: high
        latitude: low
        longitude: low
        county: edge-case
        contact_name: edge-case
        salutation: edge-case
        phone_number: edge-case
        fax: edge-case
        email: edge-case
        website: edge-case
        row_version: edge-case
      properties:
        id:
          description: Unique identifier for the address.
          type:
          - string
          - 'null'
          example: '123'
        type:
          type:
          - string
          - 'null'
          description: The type of address.
          x-apideck-enum-id: addresses.type
          enum:
          - primary
          - secondary
          - home
          - office
          - shipping
          - billing
          - work
          - other
          example: primary
        string:
          type:
          - string
          - 'null'
          description: The address string. Some APIs don't provide structured address data.
          example: 25 Spring Street, Blackburn, VIC 3130
        name:
          description: The name of the address.
          type:
          - string
          - 'null'
          example: HQ US
        line1:
          type:
          - string
          - 'null'
          example: Main street
          description: 'Line 1 of the address e.g. number, street, suite, apt #, etc.'
        line2:
          type:
          - string
          - 'null'
          example: 'apt #'
          description: Line 2 of the address
        line3:
          type:
          - string
          - 'null'
          example: 'Suite #'
          description: Line 3 of the address
        line4:
          type:
          - string
          - 'null'
          example: delivery instructions
          description: Line 4 of the address
        line5:
          type:
          - string
          - 'null'
          example: 'Attention: Finance Dept'
          description: Line 5 of the address
        street_number:
          type:
          - string
          - 'null'
          example: '25'
          description: Street number
        city:
          type:
          - string
          - 'null'
          example: San Francisco
          description: Name of city.
        state:
          type:
          - string
          - 'null'
          example: CA
          description: Name of state
        postal_code:
          type:
          - string
          - 'null'
          example: '94104'
          description: Zip code or equivalent.
        country:
          type:
          - string
          - 'null'
          example: US
          description: country code according to ISO 3166-1 alpha-2.
        latitude:
          description: Latitude of the address
          type:
          - string
          - 'null'
          example: '40.759211'
        longitude:
          description: Longitude of the address
          type:
          - string
          - 'null'
          example: '-73.984638'
        county:
          type:
          - string
          - 'null'
          example: Santa Clara
          description: Address field that holds a sublocality, such as a county
        contact_name:
          description: Name of the contact person at the address
          type:
          - string
          - 'null'
          example: Elon Musk
        salutation:
          description: Salutation of the contact person at the address
          type:
          - string
          - 'null'
          example: Mr
        phone_number:
          description: Phone number of the address
          type:
          - string
          - 'null'
          example: 111-111-1111
        fax:
          description: Fax number of the address
          type:
          - string
          - 'null'
          example: 122-111-1111
        email:
          description: Email address of the address
          type:
          - string
          - 'null'
          example: elon@musk.com
        website:
          description: Website of the address
          type:
          - string
          - 'null'
          example: https://elonmusk.com
        notes:
          description: Additional notes
          type:
          - string
          - 'null'
          title: Notes
          example: Address notes or delivery instructions.
        row_version:
          $ref: '#/components/schemas/RowVersion'
    Email:
      type: object
      x-apideck-schema-id: Email
      required:
      - email
      additionalProperties: false
      x-apideck-weights:
        email: critical
        type: critical
        id: edge-case
      properties:
        id:
          type:
          - string
          - 'null'
          example: '123'
          description: Unique identifier for the email address
        email:
          type:
          - string
          - 'null'
          format: email
          description: Email address
          example: elon@musk.com
          minLength: 1
        type:
          type:
          - string
          - 'null'
          description: Email type
          x-apideck-enum-id: emails.type
          enum:
          - primary
          - secondary
          - work
          - personal
          - billing
          - other
          example: primary
    PassThroughBody:
      type: array
      description: The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources.
      items:
        type: object
        properties:
          service_id:
            type: string
            description: Identifier for the service to which this pass_through should be applied.
          operation_id:
            type: string
            description: Optional identifier for a workflow operation to which this pass_through should be applied. This is useful for Unify calls that are making more than one downstream request.
          extend_object:
            type: object
            additionalProperties: true
            description: Simple object allowing any properties for direct extension.
          extend_paths:
            type: array
            description: Array of objects for structured data modifications via paths.
            items:
              type: object
              properties:
                path:
                  type: string
                  description: JSONPath string specifying where to apply the value.
                  example: $.nested.property
                value:
                  description: The value to set at the specified path, can be any type.
                  example:
                    TaxClassificationRef:
                      value: EUC-99990201-V1-00020000
              required:
              - path
              - value
              additionalProperties: false
        required:
        - service_id
        additionalProperties: false
        writeOnly: true
    Website:
      type: object
      x-apideck-schema-id: Website
      required:
      - url
      additionalProperties: false
      x-apideck-weights:
        url: critical
        type: critical
        id: edge-case
      properties:
        id:
          description: Unique identifier for the website
          type:
          - string
          - 'null'
          example: '12345'
        url:
          description: The website URL
          type: string
          example: http://example.com
          minLength: 1
        type:
          description: The type of website
          type:
          - string
          - 'null'
          x-apideck-enum-id: websites.type
          enum:
          - primary
          - secondary
          - work
          - personal
          - other
          example: primary
    UpdateContactResponse:
      type: object
      x-apideck-schema-id: UpdateContactResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: zoho-crm
        resource:
          type: string
          description: Unified API resource name
          example: contacts
        operation:
          type: string
          description: Operation performed
          example: update
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    CustomField:
      type: object
      x-apideck-schema-id: CustomField
      additionalProperties: false
      anyOf:
      - required:
        - id
      - required:
        - name
      x-apideck-strict-any-of:
      - required:
        - id
      - required:
        - name
      x-apideck-weights:
        id: critical
        value: critical
        name: medium
        description: edge-case
      properties:
        id:
          title: ID
          description: Unique identifier for the custom field.
          type:
          - string
          - 'null'
          example: '2389328923893298'
        name:
          title: Name
          type:
          - string
          - 'null'
          description: Name of the custom field.
          example: employee_level
        description:
          title: Description
          type:
          - string
          - 'null'
          description: More information about the custom field
          example: Employee Level
        value:
          anyOf:
          - type:
            - string
            - 'null'
            example: Uses Salesforce and Marketo
          - type:
            - number
            - 'null'
            example: 10
          - type:
            - boolean
            - 'null'
            example: true
          - type:
            - object
            - 'null'
            example:
              foo: bar
            additionalProperties: true
          - type: array
            items:
              anyOf:
              - type:
                - string
                - 'null'
                example: Uses Salesforce and Marketo
              - type:
                - number
                - 'null'
                example: 10
              - type:
                - boolean
                - 'null'
                example: true
              - type:
                - object
                - 'null'
                example:
                  foo: bar
                additionalProperties: true
    Contact:
      type: object
      x-apideck-schema-id: Contact
      x-apideck-weights:
        id: critical
        name: critical
        owner_id: medium
        type: medium
        company_id: high
        company_name: medium
        lead_id: medium
        first_name: high
        middle_name: low
        last_name: high
        prefix: low
        suffix: low
        title: medium
        department: medium
        language: medium
        gender: medium
        birthday: medium
        image: medium
        photo_url: medium
        lead_source: low
        fax: low
        description: low
        current_balance: edge-case
        status: edge-case
        active: edge-case
        websites: medium
        addresses: high
        social_links: low
        phone_numbers: high
        emails: high
        email_domain: edge-case
        custom_fields: medium
        tags: low
        first_call_at: edge-case
        first_email_at: edge-case
        last_activity_at: medium
        updated_at: high
        created_at: medium
        opportunity_ids: low
      x-pii:
      - name
      - first_name
      - middle_name
      - last_name
      - email
      properties:
        id:
          description: Unique identifier for the contact.
          type: string
          example: '12345'
          readOnly: true
        name:
          description: Full name of the contact.
          type:
          - string
          - 'null'
          example: Elon Musk
        owner_id:
          description: The owner of the contact.
          type:
          - string
          - 'null'
          example: '54321'
        type:
          description: The type of the contact.
          type:
          - string
          - 'null'
          example: personal
          x-apideck-enum-id: contacts.type
          enum:
          - customer
          - supplier
          - employee
          - personal
        company_id:
          description: The company the contact is associated with.
          type:
          - string
          - 'null'
          example: '23456'
        company_name:
          description: The name of the company the contact is associated with.
          type:
          - string
          - 'null'
          example: '23456'
        lead_id:
          description: The lead the contact is associated with.
          type:
          - string
          - 'null'
          example: '34567'
        first_name:
          description: The first name of the contact.
          type:
          - string
          - 'null'
          example: Elon
        middle_name:
          description: The middle name of the contact.
          type:
          - string
          - 'null'
          example: D.
        last_name:
          description: The last name of the contact.
          type:
          - string
          - 'null'
          example: Musk
        prefix:
          description: The prefix of the contact.
          type:
          - string
          - 'null'
          example: Mr.
        suffix:
          description: The suffix of the contact.
          type:
          - string
          - 'null'
          example: PhD
        title:
          description: The job title of the contact.
          type:
          - string
          - 'null'
          example: CEO
        department:
          description: The department of the contact.
          type:
          - string
          - 'null'
          example: Engineering
        language:
          type:
          - string
          - 'null'
          example: EN
          description: language code according to ISO 639-1. For the United States - EN
        gender:
          type:
          - string
          - 'null'
          x-apideck-enum-id: contacts.gender
          enum:
          - male
          - female
          - unisex
          description: The gender of the contact.
          example: female
        birthday:
          description: The birthday of the contact.
          type:
          - string
          - 'null'
          example: '2000-08-12'
        image:
          type:
          - string
          - 'null'
          example: https://unavatar.io/elon-musk
          deprecated: true
        photo_url:
          type:
          - string
          - 'null'
          title: Photo URL
          description: The URL of the photo of a person.
          example: https://unavatar.io/elon-musk
        lead_source:
          description: The lead source of the contact.
          type:
          - string
          - 'null'
          example: Cold Call
        fax:
          description: The fax number of the contact.
          type:
          - string
          - 'null'
          example: '+12129876543'
        description:
          description: The description of the contact.
          type:
          - string
          - 'null'
          title: Description
          example: Internal champion
        current_balance:
          description: The current balance of the contact.
          type:
          - number
          - 'null'
          title: Current Balance
          example: 10.5
        status:
          description: The status of the contact.
          type:
          - string
          - 'null'
          example: open
        active:
          description: The active status of the contact.
          type:
          - boolean
          - 'null'
          example: true
        websites:
          type: array
          items:
            $ref: '#/components/schemas/Website'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        social_links:
          type: array
          items:
            $ref: '#/components/schemas/SocialLink'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        emails:
          type: array
          items:
            $ref: '#/components/schemas/Email'
        email_domain:
          type:
          - string
          - 'null'
          example: gmail.com
        custom_fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomField'
        tags:
          $ref: '#/components/schemas/Tags'
        first_call_at:
          description: The first call date of the contact.
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
          readOnly: true
        first_email_at:
          description: The first email date of the contact.
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
          readOnly: true
        last_activity_at:
          description: The last activity date of the contact.
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
          readOnly: true
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
        updated_at:
          description: The last update date of the contact.
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-08-12T20:43:21.291Z'
          readOnly: true
        created_at:
          description: The creation date of the contact.
          type:
          - string
          - 'null'
          format: date-time
          example: '2017-08-12T20:43:21.291Z'
          readOnly: true
        opportunity_ids:
          description: The opportunity ids of the contact.
          type: array
          items:
            type: string
            example: '12345'
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
      additionalProperties: false
    PassThroughQuery:
      type: object
      additionalProperties: true
      properties:
        example_downstream_property:
          type: string
          description: All passthrough query parameters are passed along to the connector as is (?pass_through[search]=leads becomes ?search=leads)
      example:
        search: San Francisco
    PhoneNumber:
      type: object
      x-apideck-schema-id: PhoneNumber
      required:
      - number
      additionalProperties: false
      x-apideck-weights:
        number: critical
        type: critical
        id: edge-case
        country_code: edge-case
        area_code: edge-case
        extension: edge-case
      properties:
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the phone number
          example: '12345'
        country_code:
          title: Country code
          description: The country code of the phone number, e.g. +1
          type:
          - string
          - 'null'
          example: '1'
        area_code:
          title: Area code
          description: The area code of the phone number, e.g. 323
          type:
          - string
          - 'null'
          example: '323'
        number:
          type: string
          title: Phone number
          description: The phone number
          example: 111-111-1111
          minLength: 1
        extension:
          type:
          - string
          - 'null'
          title: Phone extension
          description: The extension of the phone number
          example: '105'
        type:
          type:
          - string
          - 'null'
          description: The type of phone number
          x-apideck-enum-id: phone_numbers.type
          enum:
          - primary
          - secondary
          - home
          - work
          - office
          - mobile
          - assistant
          - fax
          - direct-dial-in
          - personal
          - billing
          - other
          example: primary
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
  responses:
    UnexpectedErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnexpectedErrorResponse'
      description: Unexpected error
    PaymentRequiredResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredResponse'
      description: Payment Required
    DeleteContactResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteContactResponse'
      description: Contact deleted
    GetContactsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetContactsResponse'
      description: Contacts
    GetContactResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetContactResponse'
      description: Contact
      links:
        company:
          operationId: companiesOne
          parameters:
            id: $response.body#/data/company_id
        lead:
          operationId: leadsOne
          parameters:
            id: $response.body#/data/lead_id
        owner:
          operationId: usersOne
          parameters:
            id: $response.body#/data/owner_id
    UnprocessableResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableResponse'
      description: Unprocessable
    BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestResponse'
      description: Bad Request
    NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
      description: The specified resource was not found
    UpdateContactResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateContactResponse'
      description: Contact updated
    UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedResponse'
      description: Unauthorized
    CreateContactResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateContactResponse'
      description: Contact created
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'To access our API, you need to sign up and obtain your unique API key. Each Unify application is assigned a single API key. You can locate your API key in the Configuration Settings section of your Apideck application. Additionally, your application’s application_id is available on the same page.


        Authenticate your API requests by including your test or live secret API key in the request header.


        - Bearer authorization header: `Authorization: Bearer "YOUR_API_KEY_HERE"`

        - Application id header: `x-apideck-app-id: "YOUR_APP_ID_HERE"`


        You should use the public keys on the SDKs and the secret keys to authenticate API requests.


        **Do not share or include your secret API keys on client side code.** Your API keys carry significant privileges. Please ensure to keep them 100% secure and be sure to not share your secret API keys in areas that are publicly accessible like GitHub.


        Learn how to set the Authorization header inside Postman https://learning.postman.com/docs/postman/sending-api-requests/authorization/#api-key


        Go to Unify to grab your API KEY https://app.apideck.com/unify/api-keys

        '
    applicationId:
      type: apiKey
      in: header
      name: x-apideck-app-id
      description: The ID of your Unify application
    consumerId:
      type: apiKey
      in: header
      name: x-apideck-consumer-id
      description: The ID of the consumer which you want to get or push data from
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
x-webhooks:
  x-sdk-exclude: true
  x-speakeasy-ignore: true
  ActivityCreated:
    post:
      summary: Activity Created
      description: Event broadcast when an activity has been created.
      operationId: activityCreated
      x-apideck-event-type: crm.activity.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.activity.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/activities/123456ASDF
                entity_type: activity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  ActivityUpdated:
    post:
      summary: Activity Updated
      description: Event broadcast when an activity has been updated.
      operationId: activityUpdated
      x-apideck-event-type: crm.activity.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.activity.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/activities/123456ASDF
                entity_type: activity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  ActivityDeleted:
    post:
      summary: Activity Deleted
      description: Event broadcast when an activity has been deleted.
      operationId: activityDeleted
      x-apideck-event-type: crm.activity.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.activity.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/activities/123456ASDF
                entity_type: activity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  CompanyCreated:
    post:
      summary: Company Created
      description: Event broadcast when a company has been created.
      operationId: companyCreated
      x-apideck-event-type: crm.company.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.company.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/companies/123456ASDF
                entity_type: company
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  CompanyUpdated:
    post:
      summary: Company Updated
      description: Event broadcast when a company has been updated.
      operationId: companyUpdated
      x-apideck-event-type: crm.company.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.company.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/companies/123456ASDF
                entity_type: company
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  CompanyDeleted:
    post:
      summary: Company Deleted
      description: Event broadcast when a company has been deleted.
      operationId: companyDeleted
      x-apideck-event-type: crm.company.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.company.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/companies/123456ASDF
                entity_type: company
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  ContactCreated:
    post:
      summary: Contact Created
      description: Event broadcast when a contact has been created.
      operationId: contactCreated
      x-apideck-event-type: crm.contact.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.contact.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/contacts/123456ASDF
                entity_type: contact
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  ContactUpdated:
    post:
      summary: Contact Updated
      description: Event broadcast when a contact has been updated.
      operationId: contactUpdated
      x-apideck-event-type: crm.contact.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.contact.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/contacts/123456ASDF
                entity_type: contact
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  ContactDeleted:
    post:
      summary: Contact Deleted
      description: Event broadcast when a contact has been deleted.
      operationId: contactDeleted
      x-apideck-event-type: crm.contact.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.contact.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/contacts/123456ASDF
                entity_type: contact
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  LeadCreated:
    post:
      summary: Lead Created
      description: Event broadcast when a lead has been created.
      operationId: leadCreated
      x-apideck-event-type: crm.lead.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.lead.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/leads/123456ASDF
                entity_type: lead
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  LeadUpdated:
    post:
      summary: Lead Updated
      description: Event broadcast when a lead has been updated.
      operationId: leadUpdated
      x-apideck-event-type: crm.lead.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.lead.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/leads/123456ASDF
                entity_type: lead
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  LeadDeleted:
    post:
      summary: Lead Deleted
      description: Event broadcast when a lead has been deleted.
      operationId: leadDeleted
      x-apideck-event-type: crm.lead.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.lead.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/leads/123456ASDF
                entity_type: lead
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  NoteCreated:
    post:
      summary: Note Created
      description: Event broadcast when a note has been created.
      operationId: noteCreated
      x-apideck-event-type: crm.note.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.note.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/notes/123456ASDF
                entity_type: note
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  NoteUpdated:
    post:
      summary: Note Updated
      description: Event broadcast when a note has been updated.
      operationId: noteUpdated
      x-apideck-event-type: crm.note.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.note.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/notes/123456ASDF
                entity_type: note
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  NoteDeleted:
    post:
      summary: Note Deleted
      description: Event broadcast when a note has been deleted.
      operationId: noteDeleted
      x-apideck-event-type: crm.note.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.note.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/notes/123456ASDF
                entity_type: note
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  OpportunityCreated:
    post:
      summary: Opportunity Created
      description: Event broadcast when an opportunity has been created.
      operationId: opportunityCreated
      x-apideck-event-type: crm.opportunity.created
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.opportunity.created
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/opportunities/123456ASDF
                entity_type: opportunity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  OpportunityUpdated:
    post:
      summary: Opportunity Updated
      description: Event broadcast when an opportunity has been updated.
      operationId: opportunityUpdated
      x-apideck-event-type: crm.opportunity.updated
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.opportunity.updated
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/opportunities/123456ASDF
                entity_type: opportunity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
  OpportunityDeleted:
    post:
      summary: Opportunity Deleted
      description: Event broadcast when an opportunity has been deleted.
      operationId: opportunityDeleted
      x-apideck-event-type: crm.opportunity.deleted
      parameters:
      - name: x-apideck-event-type
        in: header
        required: true
        description: The type of event that was triggered
        schema:
          $ref: '#/components/schemas/CrmEventType'
      - name: x-apideck-signature
        in: header
        required: true
        description: HMAC SHA-256 signature of the request body, used to verify the webhook came from Apideck
        schema:
          type: string
        example: 2c3b38f1a9b3349afe38829713dcd9722f47dec3ce8906ad93ce803a33f2a8a3
      - name: x-apideck-idempotency-key
        in: header
        required: true
        description: A unique identifier for the webhook event, can be used to prevent duplicate processing
        schema:
          type: string
        example: e91dea5d-8ff6-4099-8b33-d3162fb4a042
      tags:
      - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  $ref: '#/components/schemas/CrmWebhookEvent'
            example:
              payload:
                event_type: crm.opportunity.deleted
                unified_api: crm
                service_id: hubspot
                consumer_id: test_user_id
                event_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                entity_id: 123456ASDF
                entity_url: https://unify.apideck.com/crm/opportunities/123456ASDF
                entity_type: opportunity
                occurred_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
      security: []
