openapi: 3.2.0
info:
  version: 10.24.12
  title: Apideck Accounting Bills API
  description: Welcome to the Accounting API.
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-apideck-api: accounting
  x-apideck-sdk-support: true
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://unify.apideck.com
security:
- apiKey: []
tags:
- name: Bills
  description: A Bill represents an invoice from a supplier, including line items, amounts, due date, payment status, and linked supplier.
  x-apideck-resource-id: bills
  x-apideck-model:
    $ref: '#/components/schemas/Bill'
paths:
  /accounting/bills:
    get:
      tags:
      - Bills
      operationId: billsAll
      summary: Apideck List Bills
      description: List Bills
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/billsFilter'
      - $ref: '#/components/parameters/billsSort'
      - $ref: '#/components/parameters/passThrough'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: clearbooks-uk
        description: Clearbooks does not support setting the pagination size.
      - connector: freshbooks
        description: The Freshbooks Bills api is currently in beta.
      - connector: netsuite
        description: 'The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used within 15 minutes after its creation.

          '
      responses:
        '200':
          $ref: '#/components/responses/GetBillsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source: {}
    post:
      tags:
      - Bills
      operationId: billsAdd
      summary: Apideck Create Bill
      description: Create Bill
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: xero
        description: 'When providing both supplier.id and supplier.display_name (or supplier.name), Xero will update the contact''s name if the ContactID exists. If the ContactID doesn''t exist, Xero will automatically create a new contact using the provided name. This allows for automatic contact creation but may update existing contact names if the display_name differs from the stored name.

          '
      - connector: procountor-fi
        description: ''
        Procountor only accepts the following values for the language field: EN, FI, SV, ET, NO, and DA.
        Procountor only accepts the following values for the payment_method field: BANK_TRANSFER, DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH, DOMESTIC_PAYMENT_PLUSGIRO, DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.
        Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE, EDIFACT, PAPER_INVOICE, NO_SENDING.
      - connector: quickbooks
        description: 'When creating a bill in QuickBooks, each line item must be accompanied by a type designation. If the type is set to "expense_item," an item ID is required. Conversely, if the type is "expense_account," a ledger account ID must be provided.

          Additionally, multicurrency needs to be enabled in your QBO account. If creating a bill in your default currency, you do not need to send the currency value as long as the supplier uses the same currency. For bills with suppliers using a different currency than your default, you must include the currency value, matching the supplier''s configured currency. To change the currency of a customer or vendor, a new one must be created with the desired currency. Foreign currencies can only be sent to suppliers configured with that currency.

          '
      - connector: netsuite
        description: 'For creating or updating a bill in Netsuite, its required to provide the line type.

          '
      - connector: microsoft-dynamics-365-business-central
        description: 'If you encounter a ''400 Bad Request'' error indicating "Control ''fieldName'' is read-only" it means the ''editable'' property for this field in Microsoft Dynamics 365 Business Central is currently set to false. To resolve this issue and make the field writable, simply update the ''editable'' property to true in Microsoft Dynamics 365 Business Central. Additionally, line item tax rates must be specified by tax rate *code* (e.g., "G3"), not by ID. In U.S.-regionalized Business Central tenants, the `tax_inclusive` field cannot be set to `true`.

          '
      - connector: zoho-books
        description: 'The status of the bill will be "submitted" by default when creating a bill.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bill'
      responses:
        '201':
          $ref: '#/components/responses/CreateBillResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          bill:
            display_id: '123456'
            bill_number: '10001'
            supplier:
              id: '12345'
              display_name: Windsurf Shop
              address:
                id: '123'
                type: primary
                string: 25 Spring Street, Blackburn, VIC 3130
                name: HQ US
                line1: Main street
                line2: 'apt #'
                line3: 'Suite #'
                line4: delivery instructions
                line5: 'Attention: Finance Dept'
                street_number: '25'
                city: San Francisco
                state: CA
                postal_code: '94104'
                country: US
                latitude: '40.759211'
                longitude: '-73.984638'
                county: Santa Clara
                contact_name: Elon Musk
                salutation: Mr
                phone_number: 111-111-1111
                fax: 122-111-1111
                email: elon@musk.com
                website: https://elonmusk.com
                notes: Address notes or delivery instructions.
                row_version: 1-12345
            company_id: '12345'
            location_id: '12345'
            department_id: '12345'
            currency: USD
            currency_rate: 0.69
            tax_inclusive: true
            bill_date: '2020-09-30'
            due_date: '2020-10-30'
            paid_date: '2020-10-30'
            po_number: '90000117'
            reference: INV-2024-001
            line_items:
            - row_id: '12345'
              code: 120-C
              line_number: 1
              description: Model Y is a fully electric, mid-size SUV, with seating for up to seven, dual motor AWD and unparalleled protection.
              type: expense_account
              tax_amount: 27.5
              total_amount: 27500
              quantity: 1
              unit_price: 27500.5
              unit_of_measure: pc.
              discount_percentage: 0.01
              discount_amount: 19.99
              location_id: '12345'
              department_id: '12345'
              subsidiary_id: '12345'
              category_id: '12345'
              shipping_id: '12345'
              memo: Some memo
              prepaid: true
              tax_applicable_on: Domestic_Purchase_of_Goods_and_Services
              tax_recoverability: Fully_Recoverable
              tax_method: Due_to_Supplier
              retention_amount: 1000
              payment_amount: 1000
              item:
                id: '12344'
                code: 120-C
                name: Model Y
              tax_rate:
                id: '123456'
                code: N-T
                rate: 10
              ledger_account:
                id: '123456'
                name: Bank account
                nominal_code: N091
                code: '453'
                parent_id: '123456'
                display_id: '123456'
              purchase_order:
                id: '123456'
                line_id: '123456'
                line_number: '1'
              tracking_categories:
              - id: '123456'
                code: '100'
                name: New York
                parent_id: '123456'
                parent_name: New York
              customer:
                id: '12345'
                display_name: Windsurf Shop
                name: Windsurf Shop
                email: boring@boring.com
              rebilling:
                rebillable: true
                rebill_status: billed
                linked_transaction_id: txn_abc123
                linked_transaction_line_id: line_xyz789
              row_version: 1-12345
              worktags:
              - id: '123456'
                value: New York
            terms: Net 30 days
            terms_id: '12345'
            balance: 27500
            deposit: 0
            sub_total: 250
            total_tax: 25
            total: 27500
            tax_code: '1234'
            notes: Some notes about this bill.
            status: draft
            ledger_account:
              id: '123456'
              name: Bank account
              nominal_code: N091
              code: '453'
              parent_id: '123456'
              display_id: '123456'
            payment_method: cash
            channel: email
            language: EN
            accounting_by_row: false
            bank_account:
              bank_name: Chase Bank
              account_number: '123465'
              account_name: Main Operating Account
              account_type: credit_card
              iban: GB33BUKB20201555555555
              bic: CHASUS33
              routing_number: '021000021'
              bsb_number: 062-001
              branch_identifier: '001'
              bank_code: BNH
              currency: USD
              country: US
            discount_percentage: 5.5
            template_id: '123456'
            approved_by: John Doe
            amortization_type: manual
            tax_method: Due to supplier
            document_received: true
            source_document_url: https://www.invoicesolution.com/bill/123456
            tracking_categories:
            - id: '123456'
              code: '100'
              name: New York
              parent_id: '123456'
              parent_name: New York
            row_version: 1-12345
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
            accounting_period: 01-24
            attachments:
            - name: sample.jpg
              mime_type: image/jpeg
              is_compressed: false
              encoding: base64
              content: data:image/jpeg;base64,...
              notes: A sample image
  /accounting/bills/{id}:
    get:
      tags:
      - Bills
      operationId: billsOne
      summary: Apideck Get Bill
      description: Get Bill
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: freshbooks
        description: The Freshbooks Bills api is currently in beta.
      responses:
        '200':
          $ref: '#/components/responses/GetBillResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    patch:
      tags:
      - Bills
      operationId: billsUpdate
      summary: Apideck Update Bill
      description: Update Bill
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: procountor-fi
        description: ''
        Procountor only accepts the following values for the language field: EN, FI, SV, ET, NO, and DA.
        Procountor only accepts the following values for the payment_method field: BANK_TRANSFER, DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH, DOMESTIC_PAYMENT_PLUSGIRO, DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.
        Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE, EDIFACT, PAPER_INVOICE, NO_SENDING.
      - connector: Quickbooks
        description: Quickbooks requires the supplier.id to be sent in order to make update operations.
      - connector: zoho-books
        description: 'The allowed values for the status field are "draft", "submitted" and "void" when using the update method.

          Please send status updates separately from other bill updates.

          '
      - connector: xero
        description: Bills in xero can be tax inclusive, tax exclusive or no tax. The tax_inclusive field should be set to true, false or null if the bill is tax inclusive, tax exclusive or no tax.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bill'
      responses:
        '200':
          $ref: '#/components/responses/UpdateBillResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          bill:
            display_id: '123456'
            bill_number: '10001'
            supplier:
              id: '12345'
              display_name: Windsurf Shop
              address:
                id: '123'
                type: primary
                string: 25 Spring Street, Blackburn, VIC 3130
                name: HQ US
                line1: Main street
                line2: 'apt #'
                line3: 'Suite #'
                line4: delivery instructions
                line5: 'Attention: Finance Dept'
                street_number: '25'
                city: San Francisco
                state: CA
                postal_code: '94104'
                country: US
                latitude: '40.759211'
                longitude: '-73.984638'
                county: Santa Clara
                contact_name: Elon Musk
                salutation: Mr
                phone_number: 111-111-1111
                fax: 122-111-1111
                email: elon@musk.com
                website: https://elonmusk.com
                notes: Address notes or delivery instructions.
                row_version: 1-12345
            company_id: '12345'
            location_id: '12345'
            department_id: '12345'
            currency: USD
            currency_rate: 0.69
            tax_inclusive: true
            bill_date: '2020-09-30'
            due_date: '2020-10-30'
            paid_date: '2020-10-30'
            po_number: '90000117'
            reference: INV-2024-001
            line_items:
            - row_id: '12345'
              code: 120-C
              line_number: 1
              description: Model Y is a fully electric, mid-size SUV, with seating for up to seven, dual motor AWD and unparalleled protection.
              type: expense_account
              tax_amount: 27.5
              total_amount: 27500
              quantity: 1
              unit_price: 27500.5
              unit_of_measure: pc.
              discount_percentage: 0.01
              discount_amount: 19.99
              location_id: '12345'
              department_id: '12345'
              subsidiary_id: '12345'
              category_id: '12345'
              shipping_id: '12345'
              memo: Some memo
              prepaid: true
              tax_applicable_on: Domestic_Purchase_of_Goods_and_Services
              tax_recoverability: Fully_Recoverable
              tax_method: Due_to_Supplier
              retention_amount: 1000
              payment_amount: 1000
              item:
                id: '12344'
                code: 120-C
                name: Model Y
              tax_rate:
                id: '123456'
                code: N-T
                rate: 10
              ledger_account:
                id: '123456'
                name: Bank account
                nominal_code: N091
                code: '453'
                parent_id: '123456'
                display_id: '123456'
              purchase_order:
                id: '123456'
                line_id: '123456'
                line_number: '1'
              tracking_categories:
              - id: '123456'
                code: '100'
                name: New York
                parent_id: '123456'
                parent_name: New York
              customer:
                id: '12345'
                display_name: Windsurf Shop
                name: Windsurf Shop
                email: boring@boring.com
              rebilling:
                rebillable: true
                rebill_status: billed
                linked_transaction_id: txn_abc123
                linked_transaction_line_id: line_xyz789
              row_version: 1-12345
              worktags:
              - id: '123456'
                value: New York
            terms: Net 30 days
            terms_id: '12345'
            balance: 27500
            deposit: 0
            sub_total: 250
            total_tax: 25
            total: 27500
            tax_code: '1234'
            notes: Some notes about this bill.
            status: draft
            ledger_account:
              id: '123456'
              name: Bank account
              nominal_code: N091
              code: '453'
              parent_id: '123456'
              display_id: '123456'
            payment_method: cash
            channel: email
            language: EN
            accounting_by_row: false
            bank_account:
              bank_name: Chase Bank
              account_number: '123465'
              account_name: Main Operating Account
              account_type: credit_card
              iban: GB33BUKB20201555555555
              bic: CHASUS33
              routing_number: '021000021'
              bsb_number: 062-001
              branch_identifier: '001'
              bank_code: BNH
              currency: USD
              country: US
            discount_percentage: 5.5
            template_id: '123456'
            approved_by: John Doe
            amortization_type: manual
            tax_method: Due to supplier
            document_received: true
            source_document_url: https://www.invoicesolution.com/bill/123456
            tracking_categories:
            - id: '123456'
              code: '100'
              name: New York
              parent_id: '123456'
              parent_name: New York
            row_version: 1-12345
            custom_fields:
            - id: '2389328923893298'
              name: employee_level
              description: Employee Level
              value: Uses Salesforce and Marketo
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
            accounting_period: 01-24
            attachments:
            - name: sample.jpg
              mime_type: image/jpeg
              is_compressed: false
              encoding: base64
              content: data:image/jpeg;base64,...
              notes: A sample image
    delete:
      tags:
      - Bills
      operationId: billsDelete
      summary: Apideck Delete Bill
      description: Delete Bill
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      x-apideck-gotchas:
      - connector: freshbooks
        description: 'Delete will set the bill to inactive and will soft delete it, meaning it will stop appearing in the list API call. However, it can still be found via the get by id call.

          '
      responses:
        '200':
          $ref: '#/components/responses/DeleteBillResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: accounting
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
components:
  parameters:
    raw:
      name: raw
      in: query
      description: Include raw response. Mostly used for debugging purposes
      schema:
        type: boolean
        default: false
    applicationId:
      name: x-apideck-app-id
      in: header
      required: true
      description: The ID of your Unify application
      schema:
        type: string
        minLength: 1
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      x-speakeasy-name-override: appId
    cursor:
      name: cursor
      in: query
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      schema:
        type:
        - string
        - 'null'
    billsFilter:
      name: filter
      in: query
      description: Apply filters
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/BillsFilter'
    billsSort:
      name: sort
      in: query
      description: Apply sorting
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/BillsSort'
    id:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the record you are acting upon.
    serviceId:
      name: x-apideck-service-id
      in: header
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      schema:
        type: string
      example: salesforce
      x-speakeasy-name-override: serviceId
    fields:
      name: fields
      in: query
      description: 'The ''fields'' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields "name", "email" and "addresses.city". If any other fields are available, they will be excluded.'
      example: id,updated_at
      schema:
        type:
        - string
        - 'null'
    limit:
      name: limit
      in: query
      description: Number of results to return. Minimum 1, Maximum 200, Default 20
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    companyId:
      name: x-apideck-company-id
      in: header
      description: The ID of the company to scope requests to. For connectors that support multi-company, this overrides the default company configured in connection settings.
      schema:
        type: string
      example: '12345'
      x-speakeasy-name-override: companyId
    passThrough:
      name: pass_through
      in: query
      description: 'Optional unmapped key/values that will be passed through to downstream as query parameters. Ie: ?pass_through[search]=leads becomes ?search=leads'
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PassThroughQuery'
    consumerId:
      name: x-apideck-consumer-id
      in: header
      required: true
      description: ID of the consumer which you want to get or push data from
      schema:
        type: string
      example: test-consumer
      x-speakeasy-name-override: consumerId
  schemas:
    Bill:
      type: object
      x-apideck-schema-id: Bill
      additionalProperties: false
      x-apideck-weights:
        id: critical
        downstream_id: low
        display_id: low
        bill_number: high
        supplier: high
        company_id: middle
        location_id: low
        department_id: low
        currency: medium
        currency_rate: low
        tax_inclusive: low
        bill_date: critical
        due_date: critical
        paid_date: high
        po_number: low
        reference: low
        line_items: critical
        terms: low
        terms_id: edge-case
        balance: high
        deposit: low
        sub_total: high
        total_tax: high
        total: critical
        tax_code: medium
        notes: low
        status: critical
        approved_by: low
        amortization_type: edge-case
        tax_method: edge-case
        template_id: edge-case
        ledger_account: low
        payment_method: low
        channel: low
        language: low
        accounting_by_row: edge-case
        bank_account: low
        discount_percentage: medium
        tracking_categories: low
        updated_by: low
        created_by: low
        created_at: edge-case
        updated_at: high
        row_version: edge-case
        accounting_period: low
        custom_fields: medium
        document_received: low
        attachments: edge-case
        source_document_url: low
      x-apideck-strict-required:
      - id
      - bill_date
      - due_date
      - line_items
      - total
      - status
      properties:
        id:
          $ref: '#/components/schemas/Id'
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
        display_id:
          $ref: '#/components/schemas/DisplayId'
        bill_number:
          type:
          - string
          - 'null'
          title: Bill number
          example: '10001'
          description: Reference to supplier bill number
        supplier:
          $ref: '#/components/schemas/LinkedSupplier'
        company_id:
          $ref: '#/components/schemas/AccountingCompanyId'
        location_id:
          $ref: '#/components/schemas/LocationId'
        department_id:
          $ref: '#/components/schemas/DepartmentId'
        currency:
          $ref: '#/components/schemas/Currency'
        currency_rate:
          $ref: '#/components/schemas/CurrencyRate'
        tax_inclusive:
          $ref: '#/components/schemas/TaxInclusive'
        bill_date:
          type:
          - string
          - 'null'
          title: Bill date
          description: Date bill was issued - YYYY-MM-DD.
          format: date
          example: '2020-09-30'
        due_date:
          $ref: '#/components/schemas/DueDate'
        paid_date:
          type:
          - string
          - 'null'
          title: Paid date
          description: The paid date is the date on which a payment was sent to the supplier - YYYY-MM-DD.
          format: date
          example: '2020-10-30'
        po_number:
          type:
          - string
          - 'null'
          title: Purchase Order number
          description: A PO Number uniquely identifies a purchase order and is generally defined by the buyer. The buyer will match the PO number in the invoice to the Purchase Order.
          example: '90000117'
        reference:
          $ref: '#/components/schemas/Reference'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/BillLineItem'
        terms:
          type:
          - string
          - 'null'
          title: Terms
          description: Terms of payment.
          example: Net 30 days
        terms_id:
          $ref: '#/components/schemas/TermsId'
        balance:
          type:
          - number
          - 'null'
          title: Balance
          description: Balance of bill due.
          example: 27500
        deposit:
          type:
          - number
          - 'null'
          title: Deposit
          description: Amount of deposit made to this bill.
          example: 0
        sub_total:
          $ref: '#/components/schemas/SubTotal'
        total_tax:
          $ref: '#/components/schemas/TotalTax'
        total:
          type:
          - number
          - 'null'
          title: Total amount
          description: Total amount of bill, including tax.
          example: 27500
        tax_code:
          $ref: '#/components/schemas/TaxCode'
        notes:
          type:
          - string
          - 'null'
          title: Notes
          example: Some notes about this bill.
        status:
          type:
          - string
          - 'null'
          title: Status
          description: Invoice status
          example: draft
          x-apideck-enum-id: invoices.status
          enum:
          - draft
          - submitted
          - authorised
          - partially_paid
          - paid
          - void
          - credit
          - deleted
          - posted
        ledger_account:
          $ref: '#/components/schemas/LinkedLedgerAccount'
        payment_method:
          $ref: '#/components/schemas/PaymentMethod'
        channel:
          $ref: '#/components/schemas/Channel'
        language:
          $ref: '#/components/schemas/Language'
        accounting_by_row:
          $ref: '#/components/schemas/AccountingByRow'
        bank_account:
          $ref: '#/components/schemas/BankAccount'
        discount_percentage:
          $ref: '#/components/schemas/DiscountPercentage'
        template_id:
          type:
          - string
          - 'null'
          title: Template
          description: Optional bill template
          example: '123456'
        approved_by:
          type:
          - string
          - 'null'
          title: Approved by
          description: The user who approved the bill
          example: John Doe
        amortization_type:
          type:
          - string
          - 'null'
          title: Amortization Type
          description: Type of amortization
          x-apideck-enum-id: bills.amortization-type
          enum:
          - manual
          - receipt
          - schedule
          - other
        tax_method:
          type:
          - string
          - 'null'
          title: Tax method
          description: Method of tax calculation
          example: Due to supplier
        document_received:
          type:
          - boolean
          - 'null'
          title: Document received
          description: Whether the document has been received
          example: true
        source_document_url:
          type:
          - string
          - 'null'
          title: Source document URL
          description: URL link to a source document - shown as 'Go to [appName]' in the downstream app. Currently only supported for Xero.
          example: https://www.invoicesolution.com/bill/123456
        tracking_categories:
          $ref: '#/components/schemas/LinkedTrackingCategories'
        updated_by:
          $ref: '#/components/schemas/UpdatedBy'
        created_by:
          $ref: '#/components/schemas/CreatedBy'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        row_version:
          $ref: '#/components/schemas/RowVersion'
        custom_fields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
        accounting_period:
          $ref: '#/components/schemas/AccountingPeriod'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/LinkedAttachment'
    UnitPrice:
      type:
      - number
      - 'null'
      title: Unit price
      example: 27500.5
    LinkedTrackingCategory:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedTrackingCategory
      x-apideck-weights:
        id: critical
        code: medium
      properties:
        id:
          title: Tracking Category ID
          description: The unique identifier for the tracking category.
          type: string
          example: '123456'
        code:
          type:
          - string
          - 'null'
          title: Tracking Category Code
          description: The code of the tracking category.
          example: '100'
        name:
          type:
          - string
          - 'null'
          title: Tracking Category Name
          description: The name of the tracking category.
          example: New York
        parent_id:
          type: string
          title: Parent Tracking Category ID
          description: The unique identifier for the parent tracking category.
          example: '123456'
        parent_name:
          type:
          - string
          - 'null'
          title: Parent Tracking Category Name
          description: The name of the parent tracking category.
          example: New York
    TotalTax:
      title: Total tax amount
      description: Total tax amount applied to this transaction.
      type:
      - number
      - 'null'
      example: 25
    DueDate:
      type:
      - string
      - 'null'
      title: Due date
      description: The due date is the date on which a payment is scheduled to be received - YYYY-MM-DD.
      format: date
      example: '2020-10-30'
    Quantity:
      type:
      - number
      - 'null'
      title: Quantity
      example: 1
    SubTotal:
      title: Subtotal amount
      description: Subtotal amount, normally before tax.
      type:
      - number
      - 'null'
      example: 250
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    TaxInclusive:
      type:
      - boolean
      - 'null'
      title: Tax inclusive
      description: Amounts are including tax
      example: true
    LinkedTaxRate:
      type: object
      x-apideck-schema-id: LinkedTaxRate
      additionalProperties: false
      x-apideck-weights:
        id: medium
        code: medium
        name: medium
        rate: medium
      properties:
        id:
          type:
          - string
          - 'null'
          title: The ID of the object.
          description: The ID of the object.
          example: '123456'
        code:
          type:
          - string
          - 'null'
          title: Tax rate code
          description: Tax rate code
          example: N-T
        name:
          type:
          - string
          - 'null'
          title: Name
          description: Name of the tax rate
          example: GST on Purchases
          readOnly: true
        rate:
          type:
          - number
          - 'null'
          title: Rate
          description: Rate of the tax rate
          example: 10
    UnitOfMeasure:
      type:
      - string
      - 'null'
      title: Unit of measure
      description: 'Description of the unit type the item is sold as, ie: kg, hour.'
      example: pc.
    DiscountPercentage:
      type:
      - number
      - 'null'
      title: Discount Percentage
      description: Discount percentage applied to this transaction.
      example: 5.5
    LinkedTrackingCategories:
      type:
      - array
      - 'null'
      x-apideck-schema-id: LinkedTrackingCategories
      title: Linked tracking categories
      description: A list of linked tracking categories.
      items:
        $ref: '#/components/schemas/LinkedTrackingCategory'
    BillsSort:
      type: object
      x-apideck-schema-id: BillsSort
      example:
        by: updated_at
        direction: desc
      properties:
        by:
          type: string
          x-apideck-enum-id: bills.sort_by
          description: The field on which to sort the Bills
          enum:
          - updated_at
          - created_at
          example: updated_at
        direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
    CurrencyRate:
      type:
      - number
      - 'null'
      title: Currency Exchange Rate
      description: Currency Exchange Rate at the time entity was recorded/generated.
      example: 0.69
    LinkedWorktag:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedWorktag
      x-apideck-weights:
        id: critical
        value: critical
      properties:
        id:
          type: string
          title: Worktag ID
          description: The unique identifier for the worktag.
          example: '123456'
        value:
          type:
          - string
          - 'null'
          title: Worktag Value
          description: The value of the worktag.
          example: New York
    UnifiedId:
      title: UnifiedId
      type: object
      x-apideck-schema-id: Id
      description: A object containing a unique identifier for the resource that was created, updated, or deleted.
      required:
      - id
      properties:
        id:
          title: Id
          description: The unique identifier of the resource
          type: string
          readOnly: true
          example: '12345'
    BankCode:
      type:
      - string
      - 'null'
      title: Bank Code
      description: Bank code assigned by central bank
      example: BNH
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    Currency:
      type:
      - string
      - 'null'
      title: Currency
      description: Indicates the associated currency for an amount of money. Values correspond to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).
      example: USD
      x-apideck-enum-id: currencies
      x-apideck-enum-coverage-ignore: true
      enum:
      - UNKNOWN_CURRENCY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LVL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRC
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - USS
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XTS
      - XXX
      - YER
      - ZAR
      - ZMK
      - ZMW
      - BTC
      - ETH
      x-enum-elements:
      - name: UNKNOWN_CURRENCY
        description: Unknown currency
      - name: AED
        description: United Arab Emirates dirham
      - name: AFN
        description: Afghan afghani
      - name: ALL
        description: Albanian lek
      - name: AMD
        description: Armenian dram
      - name: ANG
        description: Netherlands Antillean guilder
      - name: AOA
        description: Angolan kwanza
      - name: ARS
        description: Argentine peso
      - name: AUD
        description: Australian dollar
      - name: AWG
        description: Aruban florin
      - name: AZN
        description: Azerbaijani manat
      - name: BAM
        description: Bosnia and Herzegovina convertible mark
      - name: BBD
        description: Barbados dollar
      - name: BDT
        description: Bangladeshi taka
      - name: BGN
        description: Bulgarian lev
      - name: BHD
        description: Bahraini dinar
      - name: BIF
        description: Burundian franc
      - name: BMD
        description: Bermudian dollar
      - name: BND
        description: Brunei dollar
      - name: BOB
        description: Boliviano
      - name: BOV
        description: Bolivian Mvdol
      - name: BRL
        description: Brazilian real
      - name: BSD
        description: Bahamian dollar
      - name: BTN
        description: Bhutanese ngultrum
      - name: BWP
        description: Botswana pula
      - name: BYR
        description: Belarusian ruble
      - name: BZD
        description: Belize dollar
      - name: CAD
        description: Canadian dollar
      - name: CDF
        description: Congolese franc
      - name: CHE
        description: WIR Euro
      - name: CHF
        description: Swiss franc
      - name: CHW
        description: WIR Franc
      - name: CLF
        description: Unidad de Fomento
      - name: CLP
        description: Chilean peso
      - name: CNY
        description: Chinese yuan
      - name: COP
        description: Colombian peso
      - name: COU
        description: Unidad de Valor Real
      - name: CRC
        description: Costa Rican colon
      - name: CUC
        description: Cuban convertible peso
      - name: CUP
        description: Cuban peso
      - name: CVE
        description: Cape Verdean escudo
      - name: CZK
        description: Czech koruna
      - name: DJF
        description: Djiboutian franc
      - name: DKK
        description: Danish krone
      - name: DOP
        description: Dominican peso
      - name: DZD
        description: Algerian dinar
      - name: EGP
        description: Egyptian pound
      - name: ERN
        description: Eritrean nakfa
      - name: ETB
        description: Ethiopian birr
      - name: EUR
        description: Euro
      - name: FJD
        description: Fiji dollar
      - name: FKP
        description: Falkland Islands pound
      - name: GBP
        description: Pound sterling
      - name: GEL
        description: Georgian lari
      - name: GHS
        description: Ghanaian cedi
      - name: GIP
        description: Gibraltar pound
      - name: GMD
        description: Gambian dalasi
      - name: GNF
        description: Guinean franc
      - name: GTQ
        description: Guatemalan quetzal
      - name: GYD
        description: Guyanese dollar
      - name: HKD
        description: Hong Kong dollar
      - name: HNL
        description: Honduran lempira
      - name: HRK
        description: Croatian kuna
      - name: HTG
        description: Haitian gourde
      - name: HUF
        description: Hungarian forint
      - name: IDR
        description: Indonesian rupiah
      - name: ILS
        description: Israeli new shekel
      - name: INR
        description: Indian rupee
      - name: IQD
        description: Iraqi dinar
      - name: IRR
        description: Iranian rial
      - name: ISK
        description: Icelandic króna
      - name: JMD
        description: Jamaican dollar
      - name: JOD
        description: Jordanian dinar
      - name: JPY
        description: Japanese yen
      - name: KES
        description: Kenyan shilling
      - name: KGS
        description: Kyrgyzstani som
      - name: KHR
        description: Cambodian riel
      - name: KMF
        description: Comoro franc
      - name: KPW
        description: North Korean won
      - name: KRW
        description: South Korean won
      - name: KWD
        description: Kuwaiti dinar
      - name: KYD
        description: Cayman Islands dollar
      - name: KZT
        description: Kazakhstani tenge
      - name: LAK
        description: Lao kip
      - name: LBP
        description: Lebanese pound
      - name: LKR
        description: Sri Lankan rupee
      - name: LRD
        description: Liberian dollar
      - name: LSL
        description: Lesotho loti
      - name: LTL
        description: Lithuanian litas
      - name: LVL
        description: Latvian lats
      - name: LYD
        description: Libyan dinar
      - name: MAD
        description: Moroccan dirham
      - name: MDL
        description: Moldovan leu
      - name: MGA
        description: Malagasy ariary
      - name: MKD
        description: Macedonian denar
      - name: MMK
        description: Myanmar kyat
      - name: MNT
        description: Mongolian tögrög
      - name: MOP
        description: Macanese pataca
      - name: MRO
        description: Mauritanian ouguiya
      - name: MUR
        description: Mauritian rupee
      - name: MVR
        description: Maldivian rufiyaa
      - name: MWK
        description: Malawian kwacha
      - name: MXN
        description: Mexican peso
      - name: MXV
        description: Mexican Unidad de Inversion
      - name: MYR
        description: Malaysian ringgit
      - name: MZN
        description: Mozambican metical
      - name: NAD
        description: Namibian dollar
      - name: NGN
        description: Nigerian naira
      - name: NIO
        description: Nicaraguan córdoba
      - name: NOK
        description: Norwegian krone
      - name: NPR
        description: Nepalese rupee
      - name: NZD
        description: New Zealand dollar
      - name: OMR
        description: Omani rial
      - name: PAB
        description: Panamanian balboa
      - name: PEN
        description: Peruvian sol
      - name: PGK
        description: Papua New Guinean kina
      - name: PHP
        description: Philippine peso
      - name: PKR
        description: Pakistani rupee
      - name: PLN
        description: Polish złoty
      - name: PYG
        description: Paraguayan guaraní
      - name: QAR
        description: Qatari riyal
      - name: RON
        description: Romanian leu
      - name: RSD
        description: Serbian dinar
      - name: RUB
        description: Russian ruble
      - name: RWF
        description: Rwandan franc
      - name: SAR
        description: Saudi riyal
      - name: SBD
        description: Solomon Islands dollar
      - name: SCR
        description: Seychelles rupee
      - name: SDG
        description: Sudanese pound
      - name: SEK
        description: Swedish krona
      - name: SGD
        description: Singapore dollar
      - name: SHP
        description: Saint Helena pound
      - name: SLL
        description: Sierra Leonean leone
      - name: SOS
        description: Somali shilling
      - name: SRD
        description: Surinamese dollar
      - name: SSP
        description: South Sudanese pound
      - name: STD
        description: São Tomé and Príncipe dobra
      - name: SVC
        description: Salvadoran colón
      - name: SYP
        description: Syrian pound
      - name: SZL
        description: Swazi lilangeni
      - name: THB
        description: Thai baht
      - name: TJS
        description: Tajikstani somoni
      - name: TMT
        description: Turkmenistan manat
      - name: TND
        description: Tunisian dinar
      - name: TOP
        description: Tongan pa'anga
      - name: TRY
        description: Turkish lira
      - name: TTD
        description: Trinidad and Tobago dollar
      - name: TWD
        description: New Taiwan dollar
      - name: TZS
        description: Tanzanian shilling
      - name: UAH
        description: Ukrainian hryvnia
      - name: UGX
        description: Ugandan shilling
      - name: USD
        description: United States dollar
      - name: USN
        description: United States dollar (next day)
      - name: USS
        description: United States dollar (same day)
      - name: UYI
        description: Uruguay Peso en Unidedades Indexadas
      - name: UYU
        description: Uruguyan peso
      - name: UZS
        description: Uzbekistan som
      - name: VEF
        description: Venezuelan bolívar soberano
      - name: VND
        description: Vietnamese đồng
      - name: VUV
        description: Vanuatu vatu
      - name: WST
        description: Samoan tala
      - name: XAF
        description: CFA franc BEAC
      - name: XAG
        description: Silver
      - name: XAU
        description: Gold
      - name: XBA
        description: European Composite Unit
      - name: XBB
        description: European Monetary Unit
      - name: XBC
        description: European Unit of Account 9
      - name: XBD
        description: European Unit of Account 17
      - name: XCD
        description: East Caribbean dollar
      - name: XDR
        description: Special drawing rights (International Monetary Fund)
      - name: XOF
        description: CFA franc BCEAO
      - name: XPD
        description: Palladium
      - name: XPF
        description: CFP franc
      - name: XPT
        description: Platinum
      - name: XTS
        description: Code reserved for testing
      - name: XXX
        description: No currency
      - name: YER
        description: Yemeni rial
      - name: ZAR
        description: South African rand
      - name: ZMK
        description: Zambian kwacha
      - name: ZMW
        description: Zambian kwacha
      - name: BTC
        description: Bitcoin
      - name: ETH
        description: Ether
    CreatedAt:
      type:
      - string
      - 'null'
      title: Created at (timestamp)
      description: The date and time when the object was created.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    AccountingByRow:
      type:
      - boolean
      - 'null'
      title: Accounting by Row
      description: Indicates if accounting by row is used (true) or not (false). Accounting by row means that a separate ledger transaction is created for each row.
      example: false
    Country:
      type:
      - string
      - 'null'
      example: US
      title: Country Code
      description: Country code according to ISO 3166-1 alpha-2.
      minLength: 2
      maxLength: 2
    CreateBillResponse:
      type: object
      x-apideck-schema-id: CreateBillResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: bills
        operation:
          type: string
          description: Operation performed
          example: add
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    LinkedLedgerAccount:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedLedgerAccount
      additionalProperties: false
      x-apideck-weights:
        id: medium
        nominal_code: medium
        code: medium
        name: medium
        parent_id: low
        display_id: low
      properties:
        id:
          title: Account ID
          description: The unique identifier for the account.
          type: string
          example: '123456'
        name:
          type:
          - string
          - 'null'
          title: Account Name
          description: The name of the account.
          example: Bank account
        nominal_code:
          type:
          - string
          - 'null'
          title: Nominal Code
          description: The nominal code of the account.
          example: N091
        code:
          type:
          - string
          - 'null'
          title: Code
          description: The code assigned to the account.
          example: '453'
        parent_id:
          type:
          - string
          - 'null'
          title: Parent ID
          description: The parent ID of the account.
          example: '123456'
        display_id:
          type:
          - string
          - 'null'
          title: Display ID
          description: The display ID of the account.
          example: '123456'
    AccountingCompanyId:
      type:
      - string
      - 'null'
      title: CompanyId
      description: The company ID the transaction belongs to
      example: '12345'
    LineItemType:
      type:
      - string
      - 'null'
      title: Type
      description: Line Item type
      example: expense_account
      enum:
      - expense_item
      - expense_account
      - other
      x-apideck-enum-id: line_items.type
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    Meta:
      type: object
      x-apideck-schema-id: Meta
      description: Response metadata
      properties:
        items_on_page:
          type: integer
          description: Number of items returned in the data property of the response
          example: 50
        cursors:
          type: object
          description: Cursors to navigate to previous or next pages through the API
          properties:
            previous:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the previous page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjE=
            current:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the current page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjI=
            next:
              type:
              - string
              - 'null'
              description: Cursor to navigate to the next page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjM=
    CreatedBy:
      type:
      - string
      - 'null'
      title: Created by
      description: The user who created the object.
      example: '12345'
      readOnly: true
    LinkedSupplier:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedSupplier
      title: LinkedSupplier
      description: The supplier this entity is linked to.
      x-apideck-weights:
        id: medium
        display_id: medium
        display_name: high
        company_name: edge-case
        address: low
      properties:
        id:
          type: string
          title: Supplier ID
          description: The ID of the supplier this entity is linked to.
          example: '12345'
        display_id:
          type:
          - string
          - 'null'
          title: Display ID
          description: The display ID of the supplier.
          example: SUPP00101
          readOnly: true
        display_name:
          type:
          - string
          - 'null'
          title: Display Name
          description: The display name of the supplier.
          example: Windsurf Shop
        company_name:
          type:
          - string
          - 'null'
          title: Company Name
          description: The company name of the supplier.
          example: The boring company
          readOnly: true
        address:
          $ref: '#/components/schemas/Address'
    Id:
      type: string
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: true
    BIC:
      type:
      - string
      - 'null'
      title: BIC/SWIFT Code
      description: Bank Identifier Code / SWIFT Code
      example: CHASUS33
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    LinkedInvoiceItem:
      type: object
      x-apideck-schema-id: LinkedInvoiceItem
      x-apideck-weights:
        id: medium
        code: medium
        name: medium
      properties:
        id:
          type:
          - string
          - 'null'
          title: Item ID
          description: ID of the linked item. A reference to the [invoice item](https://developers.apideck.com/apis/accounting/reference#tag/Invoice-Items) that was used to create this line item
          example: '12344'
        code:
          type:
          - string
          - 'null'
          title: Item code
          description: User defined item code
          example: 120-C
        name:
          type:
          - string
          - 'null'
          title: Item name
          description: User defined item name
          example: Model Y
    Rebilling:
      type:
      - object
      - 'null'
      x-apideck-schema-id: Rebilling
      title: Rebilling
      description: Rebilling metadata for this line item.
      x-apideck-weights:
        rebillable: high
        rebill_status: medium
        linked_transaction_id: high
        linked_transaction_line_id: high
      properties:
        rebillable:
          type: boolean
          title: Rebillable
          description: Whether this line item is eligible for rebilling.
          example: true
        rebill_status:
          type:
          - string
          - 'null'
          title: Rebill Status
          x-apideck-enum-id: rebill-status
          description: Status of the rebilling process for this line item.
          enum:
          - pending
          - billed
          - voided
          example: billed
        linked_transaction_id:
          type:
          - string
          - 'null'
          title: Linked Transaction ID
          description: The ID of the transaction this line item was rebilled to.
          example: txn_abc123
        linked_transaction_line_id:
          type:
          - string
          - 'null'
          title: Linked Transaction Line ID
          description: The ID of the line item in the rebilled transaction.
          example: line_xyz789
    TermsId:
      type:
      - string
      - 'null'
      title: Payment Terms ID
      description: The ID of the payment terms
      example: '12345'
      readOnly: false
    UpdatedAt:
      type:
      - string
      - 'null'
      title: Updated at (timestamp)
      description: The date and time when the object was last updated.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    BranchIdentifier:
      type:
      - string
      - 'null'
      title: Branch Identifier
      description: Bank branch identifier
      example: '001'
    CustomField:
      type: object
      x-apideck-schema-id: CustomField
      additionalProperties: false
      anyOf:
      - required:
        - id
      - required:
        - name
      x-apideck-strict-any-of:
      - required:
        - id
      - required:
        - name
      x-apideck-weights:
        id: critical
        value: critical
        name: medium
        description: edge-case
      properties:
        id:
          title: ID
          description: Unique identifier for the custom field.
          type:
          - string
          - 'null'
          example: '2389328923893298'
        name:
          title: Name
          type:
          - string
          - 'null'
          description: Name of the custom field.
          example: employee_level
        description:
          title: Description
          type:
          - string
          - 'null'
          description: More information about the custom field
          example: Employee Level
        value:
          anyOf:
          - type:
            - string
            - 'null'
            example: Uses Salesforce and Marketo
          - type:
            - number
            - 'null'
            example: 10
          - type:
            - boolean
            - 'null'
            example: true
          - type:
            - object
            - 'null'
            example:
              foo: bar
            additionalProperties: true
          - type: array
            items:
              anyOf:
              - type:
                - string
                - 'null'
                example: Uses Salesforce and Marketo
              - type:
                - number
                - 'null'
                example: 10
              - type:
                - boolean
                - 'null'
                example: true
              - type:
                - object
                - 'null'
                example:
                  foo: bar
                additionalProperties: true
    DisplayId:
      type:
      - string
      - 'null'
      title: Display id
      description: Id to be displayed.
      example: '123456'
    Links:
      type: object
      x-apideck-schema-id: Links
      description: Links to navigate to previous or next pages through the API
      properties:
        previous:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
        current:
          type: string
          description: Link to navigate to the current page through the API
          example: https://unify.apideck.com/crm/companies
        next:
          type:
          - string
          - 'null'
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    Language:
      type:
      - string
      - 'null'
      example: EN
      description: language code according to ISO 639-1. For the United States - EN
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    UpdatedBy:
      type:
      - string
      - 'null'
      title: Updated by
      description: The user who last updated the object.
      example: '12345'
      readOnly: true
    LineNumber:
      title: Line number
      type:
      - integer
      - 'null'
      description: Line number of the resource
      example: 1
    AccountingPeriod:
      type:
      - string
      - 'null'
      title: Accounting period
      description: Accounting period
      example: 01-24
    LinkedCustomer:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedCustomer
      title: LinkedCustomer
      description: The customer this entity is linked to.
      x-apideck-weights:
        id: medium
        display_id: medium
        display_name: medium
        name: medium
        company_name: medium
      properties:
        id:
          type: string
          title: Customer ID
          description: The ID of the customer this entity is linked to.
          example: '12345'
        display_id:
          type:
          - string
          - 'null'
          title: Display ID
          description: The display ID of the customer.
          example: CUST00101
          readOnly: true
        display_name:
          type:
          - string
          - 'null'
          title: Display Name
          description: The display name of the customer.
          example: Windsurf Shop
        name:
          type: string
          title: Name
          description: The name of the customer. Deprecated, use display_name instead.
          example: Windsurf Shop
          deprecated: true
        company_name:
          type:
          - string
          - 'null'
          title: Company Name
          description: The company name of the customer.
          example: The boring company
          readOnly: true
        email:
          type: string
          title: Email
          description: The email address of the customer.
          example: boring@boring.com
    BankName:
      type:
      - string
      - 'null'
      title: Bank Name
      description: The name of the bank or financial institution
      example: Chase Bank
    BankAccountNumber:
      type:
      - string
      - 'null'
      title: Account Number
      description: The bank account number
      example: '123465'
    SortDirection:
      type: string
      x-apideck-schema-id: SortDirection
      description: The direction in which to sort the results
      x-apideck-enum-id: sort_direction
      enum:
      - asc
      - desc
      default: asc
    LocationId:
      type:
      - string
      - 'null'
      title: Location ID
      description: The ID of the location
      example: '12345'
      readOnly: false
    TaxAmount:
      title: Tax amount
      description: Tax amount
      type:
      - number
      - 'null'
      example: 27.5
    Address:
      type: object
      x-apideck-schema-id: Address
      additionalProperties: false
      x-apideck-weights:
        id: edge-case
        name: edge-case
        type: critical
        line1: high
        line2: low
        line3: edge-case
        line4: edge-case
        line5: edge-case
        street_number: low
        city: high
        string: low
        state: high
        postal_code: high
        country: high
        latitude: low
        longitude: low
        county: edge-case
        contact_name: edge-case
        salutation: edge-case
        phone_number: edge-case
        fax: edge-case
        email: edge-case
        website: edge-case
        row_version: edge-case
      properties:
        id:
          description: Unique identifier for the address.
          type:
          - string
          - 'null'
          example: '123'
        type:
          type:
          - string
          - 'null'
          description: The type of address.
          x-apideck-enum-id: addresses.type
          enum:
          - primary
          - secondary
          - home
          - office
          - shipping
          - billing
          - work
          - other
          example: primary
        string:
          type:
          - string
          - 'null'
          description: The address string. Some APIs don't provide structured address data.
          example: 25 Spring Street, Blackburn, VIC 3130
        name:
          description: The name of the address.
          type:
          - string
          - 'null'
          example: HQ US
        line1:
          type:
          - string
          - 'null'
          example: Main street
          description: 'Line 1 of the address e.g. number, street, suite, apt #, etc.'
        line2:
          type:
          - string
          - 'null'
          example: 'apt #'
          description: Line 2 of the address
        line3:
          type:
          - string
          - 'null'
          example: 'Suite #'
          description: Line 3 of the address
        line4:
          type:
          - string
          - 'null'
          example: delivery instructions
          description: Line 4 of the address
        line5:
          type:
          - string
          - 'null'
          example: 'Attention: Finance Dept'
          description: Line 5 of the address
        street_number:
          type:
          - string
          - 'null'
          example: '25'
          description: Street number
        city:
          type:
          - string
          - 'null'
          example: San Francisco
          description: Name of city.
        state:
          type:
          - string
          - 'null'
          example: CA
          description: Name of state
        postal_code:
          type:
          - string
          - 'null'
          example: '94104'
          description: Zip code or equivalent.
        country:
          type:
          - string
          - 'null'
          example: US
          description: country code according to ISO 3166-1 alpha-2.
        latitude:
          description: Latitude of the address
          type:
          - string
          - 'null'
          example: '40.759211'
        longitude:
          description: Longitude of the address
          type:
          - string
          - 'null'
          example: '-73.984638'
        county:
          type:
          - string
          - 'null'
          example: Santa Clara
          description: Address field that holds a sublocality, such as a county
        contact_name:
          description: Name of the contact person at the address
          type:
          - string
          - 'null'
          example: Elon Musk
        salutation:
          description: Salutation of the contact person at the address
          type:
          - string
          - 'null'
          example: Mr
        phone_number:
          description: Phone number of the address
          type:
          - string
          - 'null'
          example: 111-111-1111
        fax:
          description: Fax number of the address
          type:
          - string
          - 'null'
          example: 122-111-1111
        email:
          description: Email address of the address
          type:
          - string
          - 'null'
          example: elon@musk.com
        website:
          description: Website of the address
          type:
          - string
          - 'null'
          example: https://elonmusk.com
        notes:
          description: Additional notes
          type:
          - string
          - 'null'
          title: Notes
          example: Address notes or delivery instructions.
        row_version:
          $ref: '#/components/schemas/RowVersion'
    PaymentMethod:
      type:
      - string
      - 'null'
      title: Payment method
      description: Payment method used for the transaction, such as cash, credit card, bank transfer, or check
      example: cash
    BillLineItem:
      type: object
      title: Bill Line Item
      x-apideck-schema-id: BillLineItem
      additionalProperties: false
      x-apideck-weights:
        id: high
        row_id: edge-case
        code: medium
        line_number: medium
        description: high
        type: medium
        tax_amount: high
        total_amount: high
        retention_amount: edge-case
        payment_amount: low
        quantity: high
        unit_price: high
        unit_of_measure: edge-case
        discount_percentage: low
        discount_amount: low
        location_id: low
        department_id: low
        subsidiary_id: low
        category_id: edge-case
        shipping_id: edge-case
        memo: low
        prepaid: edge-case
        tax_applicable_on: edge-case
        tax_recoverability: edge-case
        tax_method: edge-case
        item: high
        tax_rate: medium
        ledger_account: low
        purchase_order: low
        tracking_categories: low
        customer: low
        rebilling: medium
        row_version: edge-case
        created_at: edge-case
        updated_at: high
        updated_by: edge-case
        created_by: edge-case
        worktags: edge-case
      properties:
        id:
          $ref: '#/components/schemas/Id'
        row_id:
          type: string
          title: Row ID
          description: Row ID
          example: '12345'
        code:
          type:
          - string
          - 'null'
          title: Item code
          description: User defined item code
          example: 120-C
        line_number:
          $ref: '#/components/schemas/LineNumber'
        description:
          type:
          - string
          - 'null'
          title: Description
          description: User defined description
          example: Model Y is a fully electric, mid-size SUV, with seating for up to seven, dual motor AWD and unparalleled protection.
        type:
          $ref: '#/components/schemas/LineItemType'
        tax_amount:
          $ref: '#/components/schemas/TaxAmount'
        total_amount:
          type:
          - number
          - 'null'
          title: Total amount
          description: Total amount of the line item
          example: 27500
        quantity:
          $ref: '#/components/schemas/Quantity'
        unit_price:
          $ref: '#/components/schemas/UnitPrice'
        unit_of_measure:
          $ref: '#/components/schemas/UnitOfMeasure'
        discount_percentage:
          type:
          - number
          - 'null'
          title: Discount Percentage
          description: Discount percentage applied to the line item when supported downstream.
          example: 0.01
        discount_amount:
          type:
          - number
          - 'null'
          title: Discount Amount
          description: Discount amount applied to the line item when supported downstream.
          example: 19.99
        location_id:
          $ref: '#/components/schemas/LocationId'
        department_id:
          $ref: '#/components/schemas/DepartmentId'
        subsidiary_id:
          $ref: '#/components/schemas/SubsidiaryId'
        category_id:
          type:
          - string
          - 'null'
          title: Category ID
          description: ID of the category of the line item
          example: '12345'
        shipping_id:
          type:
          - string
          - 'null'
          title: Shipping ID
          description: ID of the shipping of the line item
          example: '12345'
        memo:
          type:
          - string
          - 'null'
          title: Memo
          description: Memo
          example: Some memo
        prepaid:
          type:
          - boolean
          - 'null'
          title: Prepaid
          description: Whether the line item is prepaid
          example: true
        tax_applicable_on:
          type:
          - string
          - 'null'
          title: Tax Applicable On
          description: Tax applicable on
          example: Domestic_Purchase_of_Goods_and_Services
        tax_recoverability:
          type:
          - string
          - 'null'
          title: Tax Recoverability
          description: Tax recoverability
          example: Fully_Recoverable
        tax_method:
          type:
          - string
          - 'null'
          title: Tax method
          description: Method of tax calculation
          example: Due_to_Supplier
        retention_amount:
          type:
          - number
          - 'null'
          title: Retention amount
          description: Retention amount
          example: 1000
        payment_amount:
          type:
          - number
          - 'null'
          title: Payment amount
          description: Payment amount
          example: 1000
        item:
          $ref: '#/components/schemas/LinkedInvoiceItem'
        tax_rate:
          $ref: '#/components/schemas/LinkedTaxRate'
        ledger_account:
          $ref: '#/components/schemas/LinkedLedgerAccount'
        purchase_order:
          $ref: '#/components/schemas/LinkedPurchaseOrder'
        tracking_categories:
          $ref: '#/components/schemas/LinkedTrackingCategories'
        customer:
          $ref: '#/components/schemas/LinkedCustomer'
        rebilling:
          $ref: '#/components/schemas/Rebilling'
        row_version:
          $ref: '#/components/schemas/RowVersion'
        updated_by:
          $ref: '#/components/schemas/UpdatedBy'
        created_by:
          $ref: '#/components/schemas/CreatedBy'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        worktags:
          type: array
          description: A list of linked worktags. This is only supported for Workday.
          items:
            $ref: '#/components/schemas/LinkedWorktag'
    UpdateBillResponse:
      type: object
      x-apideck-schema-id: UpdateBillResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: bills
        operation:
          type: string
          description: Operation performed
          example: update
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    PassThroughBody:
      type: array
      description: The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources.
      items:
        type: object
        properties:
          service_id:
            type: string
            description: Identifier for the service to which this pass_through should be applied.
          operation_id:
            type: string
            description: Optional identifier for a workflow operation to which this pass_through should be applied. This is useful for Unify calls that are making more than one downstream request.
          extend_object:
            type: object
            additionalProperties: true
            description: Simple object allowing any properties for direct extension.
          extend_paths:
            type: array
            description: Array of objects for structured data modifications via paths.
            items:
              type: object
              properties:
                path:
                  type: string
                  description: JSONPath string specifying where to apply the value.
                  example: $.nested.property
                value:
                  description: The value to set at the specified path, can be any type.
                  example:
                    TaxClassificationRef:
                      value: EUC-99990201-V1-00020000
              required:
              - path
              - value
              additionalProperties: false
        required:
        - service_id
        additionalProperties: false
        writeOnly: true
    GetBillResponse:
      type: object
      x-apideck-schema-id: GetBillResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: bills
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/Bill'
        _raw:
          $ref: '#/components/schemas/Raw'
    LinkedAttachment:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedAttachment
      x-apideck-weights:
        name: critical
        content: critical
        mime_type: medium
        is_compressed: low
        encoding: low
        notes: low
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of the file
          example: sample.jpg
        mime_type:
          type:
          - string
          - 'null'
          description: The MIME type of the file.
          example: image/jpeg
        is_compressed:
          type:
          - boolean
          - 'null'
          description: Whether the file is c ompressed.
          example: false
        encoding:
          type:
          - string
          - 'null'
          description: The encoding of the file.
          example: base64
        content:
          type:
          - string
          - 'null'
          description: The content of the file.
          example: data:image/jpeg;base64,...
        notes:
          type:
          - string
          - 'null'
          description: The notes of the file.
          example: A sample image
    Channel:
      type:
      - string
      - 'null'
      title: Channel
      description: The channel through which the transaction is processed.
      example: email
    DownstreamId:
      type:
      - string
      - 'null'
      description: The third-party API ID of original entity
      example: '12345'
      readOnly: true
    BSBNumber:
      type:
      - string
      - 'null'
      title: BSB Number
      description: Bank State Branch number (Australia/New Zealand)
      example: 062-001
    DeleteBillResponse:
      type: object
      x-apideck-schema-id: DeleteBillResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: xero
        resource:
          type: string
          description: Unified API resource name
          example: bills
        operation:
          type: string
          description: Operation performed
          example: delete
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    TaxCode:
      type:
      - string
      - 'null'
      title: Tax Code
      description: Applicable tax id/code override if tax is not supplied on a line item basis.
      example: '1234'
    IBAN:
      type:
      - string
      - 'null'
      title: IBAN
      description: International Bank Account Number
      example: GB33BUKB20201555555555
    RoutingNumber:
      type:
      - string
      - 'null'
      title: Routing Number
      description: Bank routing number (US)
      example: '021000021'
    BillsFilter:
      type: object
      x-apideck-schema-id: BillsFilter
      example:
        updated_since: '2020-09-30T07:43:32.000Z'
        status: paid
      properties:
        updated_since:
          type: string
          title: Updated since (timestamp)
          format: date-time
          example: '2020-09-30T07:43:32.000Z'
        status:
          type: string
          title: Status
          description: Filter by bill status
          x-apideck-enum-id: bills.status
          enum:
          - paid
          - unpaid
          - partially_paid
          example: paid
      additionalProperties: false
    SubsidiaryId:
      type:
      - string
      - 'null'
      title: Subsidiary ID
      description: The ID of the subsidiary
      example: '12345'
      readOnly: false
    RowVersion:
      type:
      - string
      - 'null'
      title: Row version
      description: A binary value used to detect updates to a object and prevent data conflicts. It is incremented each time an update is made to the object.
      example: 1-12345
    DepartmentId:
      type:
      - string
      - 'null'
      title: Department ID
      description: The ID of the department
      example: '12345'
      readOnly: false
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    BankAccountName:
      type:
      - string
      - 'null'
      title: Account Name
      description: The name of the bank account
      example: Main Operating Account
    LinkedPurchaseOrder:
      type:
      - object
      - 'null'
      x-apideck-schema-id: LinkedPurchaseOrder
      x-apideck-weights:
        id: medium
        line_id: medium
        line_number: medium
      properties:
        id:
          title: Purchase Order ID
          description: The unique identifier for the purchase order.
          type: string
          example: '123456'
        line_id:
          type:
          - string
          - 'null'
          title: Purchase Order Line ID
          description: The unique identifier for the purchase order line.
          example: '123456'
        line_number:
          type:
          - string
          - 'null'
          title: Purchase Order Line Number
          description: The line number of the purchase order line.
          example: '1'
    Reference:
      type:
      - string
      - 'null'
      title: Reference
      description: Optional reference identifier for the transaction.
      example: INV-2024-001
    BankAccount:
      type: object
      x-apideck-schema-id: BankAccount
      additionalProperties: false
      x-apideck-weights:
        account_number: critical
        account_name: medium
        account_type: medium
        iban: high
        bic: medium
        bsb_number: edge-case
        branch_identifier: low
        bank_code: low
        bank_name: medium
        currency: medium
[...]
