openapi: 3.2.0
info:
  version: 10.24.12
  title: Apideck File storage Upload Sessions API
  description: Welcome to the File Storage API.
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-apideck-api: file-storage
  x-apideck-sdk-support: true
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://unify.apideck.com
security:
- apiKey: []
tags:
- name: Upload Sessions
  description: Upload sessions resource represents the sessions used for uploading files to the cloud storage service. It provides methods for managing and accessing the upload sessions, such as creating and resuming upload sessions. An upload session allows for efficient uploading of large files by breaking them into smaller chunks and uploading each chunk individually.
  x-apideck-resource-id: upload-sessions
  x-apideck-model:
    $ref: '#/components/schemas/UploadSession'
paths:
  /file-storage/upload-sessions:
    post:
      tags:
      - Upload Sessions
      operationId: uploadSessionsAdd
      summary: Apideck Start Upload Session
      description: Start an Upload Session. Upload sessions are used to upload large files, use the Upload File endpoint to upload smaller files (up to 100MB). Note that the base URL is upload.apideck.com instead of unify.apideck.com. For more information on uploads, refer to the file upload guide.
      parameters:
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      security:
      - apiKey: []
      servers:
      - url: https://upload.apideck.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUploadSessionRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateUploadSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          uploadSession:
            name: Documents
            parent_folder_id: '1234'
            drive_id: '1234'
            size: 1810673
            pass_through:
            - service_id: string
              operation_id: string
              extend_object: {}
              extend_paths:
              - path: $.nested.property
                value:
                  TaxClassificationRef:
                    value: EUC-99990201-V1-00020000
  /file-storage/upload-sessions/{id}:
    get:
      tags:
      - Upload Sessions
      operationId: uploadSessionsOne
      summary: Apideck Get Upload Session
      description: Get Upload Session. Use the `part_size` to split your file into parts. Upload the parts to the Upload part of File endpoint. Note that the base URL is upload.apideck.com instead of unify.apideck.com. For more information on uploads, refer to the file upload guide.
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/fields'
      security:
      - apiKey: []
      servers:
      - url: https://upload.apideck.com
      responses:
        '200':
          $ref: '#/components/responses/GetUploadSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
    put:
      tags:
      - Upload Sessions
      operationId: uploadSessionsUpload
      summary: Apideck Upload part of File to Upload Session
      description: Upload part of File to Upload Session (max 100MB). Get `part_size` from Get Upload Session first. Every File part (except the last one) uploaded to this endpoint should have Content-Length equal to `part_size`. Note that the base URL is upload.apideck.com instead of unify.apideck.com. For more information on uploads, refer to the file upload guide.
      x-sdk-exclude: true
      x-speakeasy-test: false
      servers:
      - url: https://upload.apideck.com
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/partNumber'
      - $ref: '#/components/parameters/digestPart'
      - $ref: '#/components/parameters/raw'
      x-apideck-gotchas:
      - connector: box
        description: Box requires a SHA1 digest of the uploaded chunk to be sent. More info in the Box API documentation [here](https://developer.box.com/reference/put-files-upload-sessions-id/#param-digest).
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          '*/*':
            schema:
              type: string
              format: binary
              example: <binary string>
      responses:
        '200':
          $ref: '#/components/responses/UpdateUploadSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          partNumber: 0
          body: <binary string>
    delete:
      tags:
      - Upload Sessions
      operationId: uploadSessionsDelete
      summary: Apideck Abort Upload Session
      description: Abort Upload Session. Note that the base URL is upload.apideck.com instead of unify.apideck.com. For more information on uploads, refer to the file upload guide.
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/raw'
      security:
      - apiKey: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteUploadSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
  /file-storage/upload-sessions/{id}/finish:
    post:
      tags:
      - Upload Sessions
      operationId: uploadSessionsFinish
      summary: Apideck Finish Upload Session
      description: Finish Upload Session. Only call this endpoint after all File parts have been uploaded to Upload part of File. Note that the base URL is upload.apideck.com instead of unify.apideck.com. For more information on uploads, refer to the file upload guide.
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/raw'
      - $ref: '#/components/parameters/consumerId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/digestPart'
      security:
      - apiKey: []
      servers:
      - url: https://upload.apideck.com
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
              additionalProperties: false
      x-apideck-gotchas:
      - connector: box
        description: Box requires a SHA1 digest of the whole file to be sent when committing the upload session. More info in the Box API documentation [here](https://developer.box.com/reference/post-files-upload-sessions-id-commit/#param-digest).
      responses:
        '201':
          $ref: '#/components/responses/GetFileResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      x-apideck-api: fileStorage
      x-codeSamples:
      - lang: TypeScript
        label: Node
        source:
          id: id_example
          uploadSessionsFinish: {}
components:
  schemas:
    Raw:
      title: raw
      type:
      - object
      - 'null'
      x-apideck-schema-id: Raw
      description: Raw response from the integration when raw=true query param is provided
      additionalProperties: true
    UpdatedBy:
      type:
      - string
      - 'null'
      title: Updated by
      description: The user who last updated the object.
      example: '12345'
      readOnly: true
    UnexpectedErrorResponse:
      type: object
      x-apideck-schema-id: Error
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestHeadersValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Missing Header: x-apideck-consumer-id'
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - x-apideck-consumer-id: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    UpdateUploadSessionResponse:
      type: object
      x-apideck-schema-id: UpdateUploadSessionResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: dropbox
        resource:
          type: string
          description: Unified API resource name
          example: UploadSessions
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    GetUploadSessionResponse:
      type: object
      x-apideck-schema-id: GetUploadSessionResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: dropbox
        resource:
          type: string
          description: Unified API resource name
          example: UploadSessions
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/UploadSession'
        _raw:
          $ref: '#/components/schemas/Raw'
    FileType:
      type:
      - string
      - 'null'
      x-apideck-schema-id: FileType
      x-apideck-enum-id: files.type
      enum:
      - file
      - folder
      - url
      description: The type of resource. Could be file, folder or url
      readOnly: true
      example: file
    FileSize:
      type:
      - integer
      - 'null'
      x-apideck-schema-id: FileSize
      description: The size of the file in bytes
      example: 1810673
    DeleteUploadSessionResponse:
      type: object
      x-apideck-schema-id: DeleteUploadSessionResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: dropbox
        resource:
          type: string
          description: Unified API resource name
          example: UploadSessions
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    PaymentRequiredResponse:
      type: object
      x-apideck-schema-id: PaymentRequired
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 402
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
        type_name:
          type: string
          description: The type of error returned
          example: RequestLimitError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          x-speakeasy-error-message: true
        detail:
          type: string
          description: Contains parameter or domain specific information related to the error and why it occurred.
          example: You have reached your limit of 2000
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
    CreatedBy:
      type:
      - string
      - 'null'
      title: Created by
      description: The user who created the object.
      example: '12345'
      readOnly: true
    DownstreamId:
      type:
      - string
      - 'null'
      description: The third-party API ID of original entity
      example: '12345'
      readOnly: true
    UnifiedFile:
      type: object
      x-apideck-schema-id: UnifiedFile
      additionalProperties: false
      required:
      - id
      - name
      - type
      x-apideck-weights:
        id: critical
        name: critical
        type: critical
        mime_type: high
        downloadable: high
        size: high
        parent_folders: high
        parent_folders_complete: critical
        updated_at: critical
        created_at: high
        downstream_id: edge-case
      properties:
        id:
          $ref: '#/components/schemas/Id'
        downstream_id:
          $ref: '#/components/schemas/DownstreamId'
        name:
          type:
          - string
          - 'null'
          description: The name of the file
          example: sample.jpg
        description:
          type:
          - string
          - 'null'
          description: Optional description of the file
          example: A sample image
        type:
          $ref: '#/components/schemas/FileType'
        path:
          type:
          - string
          - 'null'
          description: The full path of the file or folder (includes the file name)
          example: /Documents/sample.jpg
        mime_type:
          type:
          - string
          - 'null'
          description: The MIME type of the file.
          example: image/jpeg
        downloadable:
          type: boolean
          description: Whether the current user can download this file
        size:
          $ref: '#/components/schemas/FileSize'
        owner:
          $ref: '#/components/schemas/Owner'
        parent_folders:
          type: array
          description: The parent folders of the file, starting from the root
          items:
            $ref: '#/components/schemas/LinkedFolder'
        parent_folders_complete:
          type: boolean
          description: Whether the list of parent folders is complete. Some connectors only return the direct parent of a file
        permissions:
          type: object
          description: Permissions the current user has on this file.
          properties:
            download:
              type: boolean
              description: Whether the current user can download this file.
        exportable:
          type: boolean
          description: Whether the current file is exportable to other file formats. This property is relevant for proprietary file formats such as Google Docs or Dropbox Paper.
        export_formats:
          type:
          - array
          - 'null'
          description: The available file formats when exporting this file.
          example:
          - application/pdf
          - application/vnd.oasis.opendocument.presentation
          - text/plain
          items:
            type: string
            example: application/pdf
            description: An available file format (typically MIME type) to export this file.
        custom_mappings:
          $ref: '#/components/schemas/CustomMappings'
        updated_by:
          $ref: '#/components/schemas/UpdatedBy'
        created_by:
          $ref: '#/components/schemas/CreatedBy'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
    NotFoundResponse:
      type: object
      x-apideck-schema-id: NotFound
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 404
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
        type_name:
          type: string
          description: The type of error returned
          example: EntityNotFoundError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: 'Could not find widget with id: ''123'''
          - type: object
            x-speakeasy-detail: true
            example:
              not_found:
                entity: widget
                id: '123'
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
    Id:
      type: string
      title: ID
      description: A unique identifier for an object.
      example: '12345'
      readOnly: true
    ExpiresAt:
      type:
      - string
      - 'null'
      format: date-time
      example: '2022-09-30T07:43:32.000Z'
      readOnly: true
    UnprocessableResponse:
      type: object
      x-apideck-schema-id: Unprocessable
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 422
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unprocessable Entity
        type_name:
          type: string
          description: The type of error returned
          example: InvalidStateError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid State
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Unprocessable request, please verify your request headers and body.
          - type: object
            x-speakeasy-detail: true
            example:
              error: Unprocessable
              message: Unprocessable request, please verify your request headers and body.
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#invalidstateerror
    LinkedFolder:
      type: object
      x-apideck-schema-id: LinkedFolder
      x-apideck-weights:
        id: critical
      properties:
        id:
          $ref: '#/components/schemas/Id'
        name:
          type:
          - string
          - 'null'
          description: The name of the folder
          example: Personal
      required:
      - id
    BadRequestResponse:
      type: object
      x-apideck-schema-id: BadRequest
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
        type_name:
          type: string
          description: The type of error returned
          example: RequestValidationError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing property foobar
          - type: object
            x-speakeasy-detail: true
            example:
              missing:
              - foobar: required
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
        downstream_errors:
          type: array
          description: Contains downstream errors returned from the connector. Only present when type_name is ConnectorExecutionError.
          items:
            type: object
            properties:
              message:
                type: string
                description: Error message from the downstream provider
              detail:
                type: string
                description: Additional error details
              code:
                type: string
                description: Error code from the downstream provider
          example:
          - message: Account code '100' has been archived or deleted
            detail: Each line item must reference a valid account
            code: VALIDATION_ERROR
    UploadSession:
      type: object
      x-apideck-schema-id: UploadSession
      x-apideck-weights:
        id: critical
        success: critical
        part_size: critical
        parallel_upload_supported: critical
        uploaded_byte_range: low
        expires_at: medium
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/Id'
        success:
          type: boolean
          description: Indicates if the upload session was completed successfully.
          example: true
          readOnly: true
        part_size:
          type: number
          description: Size in bytes of each part of the file that you will upload. Uploaded parts need to be this size for the upload to be successful.
          example: 1000000
          readOnly: true
        parallel_upload_supported:
          type: boolean
          description: Indicates if parts of the file can uploaded in parallel.
          example: true
          readOnly: true
        uploaded_byte_range:
          type: string
          description: The range of bytes that was successfully uploaded.
          example: 0-42
          readOnly: true
        expires_at:
          $ref: '#/components/schemas/ExpiresAt'
    Owner:
      type: object
      x-apideck-schema-id: Owner
      readOnly: true
      x-apideck-weights:
        id: critical
      properties:
        id:
          type: string
          description: ID of the owner
          example: '12345'
          readOnly: true
        email:
          type:
          - string
          - 'null'
          description: Email of the owner
          example: hello@apideck.com
          readOnly: true
        name:
          type:
          - string
          - 'null'
          description: Name of the owner
          example: Elon Musk
          readOnly: true
    GetFileResponse:
      type: object
      x-apideck-schema-id: GetFileResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: google-drive
        resource:
          type: string
          description: Unified API resource name
          example: files
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/UnifiedFile'
        _raw:
          $ref: '#/components/schemas/Raw'
    CreateUploadSessionRequest:
      type: object
      x-apideck-schema-id: CreateUploadSessionRequest
      additionalProperties: false
      required:
      - name
      - parent_folder_id
      - size
      properties:
        name:
          type: string
          description: The name of the file.
          example: Documents
        parent_folder_id:
          $ref: '#/components/schemas/ParentFolderId'
        drive_id:
          type: string
          description: ID of the drive to upload to.
          example: '1234'
        size:
          $ref: '#/components/schemas/FileSize'
        pass_through:
          $ref: '#/components/schemas/PassThroughBody'
    ParentFolderId:
      type: string
      x-apideck-schema-id: ParentFolderId
      description: The parent folder to create the new file within. This can be an ID or a path depending on the downstream folder. Please see the connector section below to see downstream specific gotchas.
      example: '1234'
    PassThroughBody:
      type: array
      description: The pass_through property allows passing service-specific, custom data or structured modifications in request body when creating or updating resources.
      items:
        type: object
        properties:
          service_id:
            type: string
            description: Identifier for the service to which this pass_through should be applied.
          operation_id:
            type: string
            description: Optional identifier for a workflow operation to which this pass_through should be applied. This is useful for Unify calls that are making more than one downstream request.
          extend_object:
            type: object
            additionalProperties: true
            description: Simple object allowing any properties for direct extension.
          extend_paths:
            type: array
            description: Array of objects for structured data modifications via paths.
            items:
              type: object
              properties:
                path:
                  type: string
                  description: JSONPath string specifying where to apply the value.
                  example: $.nested.property
                value:
                  description: The value to set at the specified path, can be any type.
                  example:
                    TaxClassificationRef:
                      value: EUC-99990201-V1-00020000
              required:
              - path
              - value
              additionalProperties: false
        required:
        - service_id
        additionalProperties: false
        writeOnly: true
    UpdatedAt:
      type:
      - string
      - 'null'
      title: Updated at (timestamp)
      description: The date and time when the object was last updated.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
    CreateUploadSessionResponse:
      type: object
      x-apideck-schema-id: CreateUploadSessionResponse
      required:
      - status_code
      - status
      - service
      - resource
      - operation
      - data
      properties:
        status_code:
          type: integer
          description: HTTP Response Status Code
          example: 200
        status:
          type: string
          description: HTTP Response Status
          example: OK
        service:
          type: string
          description: Apideck ID of service provider
          example: dropbox
        resource:
          type: string
          description: Unified API resource name
          example: UploadSessions
        operation:
          type: string
          description: Operation performed
          example: one
        data:
          $ref: '#/components/schemas/UnifiedId'
        _raw:
          $ref: '#/components/schemas/Raw'
    UnifiedId:
      title: UnifiedId
      type: object
      x-apideck-schema-id: Id
      description: A object containing a unique identifier for the resource that was created, updated, or deleted.
      required:
      - id
      properties:
        id:
          title: Id
          description: The unique identifier of the resource
          type: string
          readOnly: true
          example: '12345'
    CustomMappings:
      type:
      - object
      - 'null'
      x-apideck-schema-id: CustomMappings
      description: When custom mappings are configured on the resource, the result is included here.
      readOnly: true
      additionalProperties: true
    UnauthorizedResponse:
      type: object
      x-apideck-schema-id: Unauthorized
      properties:
        status_code:
          type: number
          description: HTTP status code
          example: 401
        error:
          type: string
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
        type_name:
          type: string
          description: The type of error returned
          example: UnauthorizedError
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          x-speakeasy-error-message: true
        detail:
          anyOf:
          - type: string
            example: Missing authentication
          - type: object
            x-speakeasy-detail: true
            properties:
              type:
                type: string
                description: Error type identifier
                example: refresh_token_connector_error
              message:
                type: string
                description: Detailed error message
                example: Token refresh failed
              debug:
                type: object
                description: Debug information including request/response details and OAuth timing metadata
                properties:
                  request:
                    type: object
                    description: HTTP request details
                  response:
                    type: object
                    description: HTTP response details
                  message:
                    type: string
                    description: Error message from downstream provider or network layer
                  code:
                    type: string
                    description: Error code (e.g., ETIMEDOUT, ECONNREFUSED)
                  credentials_expire_at_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when credentials will be deleted if not refreshed. Only present for non-recoverable errors (401, 400). Credentials are preserved indefinitely for recoverable/network errors.
                    example: 1620172800000
                  retry_after_ms:
                    type: number
                    description: Unix timestamp (milliseconds) when token refresh retry is allowed after cooldown period expires.
                    example: 1620000030000
                  cooldown_remaining_ms:
                    type: number
                    description: Milliseconds remaining in cooldown period before retry is allowed.
                    example: 30000
            example:
              type: refresh_token_connector_error
              message: Token refresh failed with 401 error
              debug:
                response:
                  statusCode: 401
                  data:
                    error: invalid_grant
                credentials_expire_at_ms: 1620172800000
                retry_after_ms: 1620000030000
                cooldown_remaining_ms: 30000
          description: Contains parameter or domain specific information related to the error and why it occurred.
        ref:
          type: string
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
    CreatedAt:
      type:
      - string
      - 'null'
      title: Created at (timestamp)
      description: The date and time when the object was created.
      format: date-time
      example: '2020-09-30T07:43:32.000Z'
      readOnly: true
  responses:
    UnexpectedErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnexpectedErrorResponse'
    PaymentRequiredResponse:
      description: Payment Required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredResponse'
    CreateUploadSessionResponse:
      description: UploadSessions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateUploadSessionResponse'
    GetFileResponse:
      description: File
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetFileResponse'
    UnprocessableResponse:
      description: Unprocessable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableResponse'
    BadRequestResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestResponse'
    NotFoundResponse:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
    DeleteUploadSessionResponse:
      description: UploadSessions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteUploadSessionResponse'
    GetUploadSessionResponse:
      description: UploadSessions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetUploadSessionResponse'
    UpdateUploadSessionResponse:
      description: UploadSessions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateUploadSessionResponse'
    UnauthorizedResponse:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedResponse'
  parameters:
    raw:
      name: raw
      in: query
      description: Include raw response. Mostly used for debugging purposes
      schema:
        type: boolean
        default: false
    applicationId:
      name: x-apideck-app-id
      in: header
      required: true
      description: The ID of your Unify application
      schema:
        type: string
        minLength: 1
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      x-speakeasy-name-override: appId
    id:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: ID of the record you are acting upon.
    digestPart:
      name: digest
      in: header
      description: The RFC3230 message digest of the uploaded part. Only required for the Box connector. More information on the Box API docs [here](https://developer.box.com/reference/put-files-upload-sessions-id/#param-digest)
      required: false
      schema:
        type: string
        example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
    serviceId:
      name: x-apideck-service-id
      in: header
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      schema:
        type: string
      example: salesforce
      x-speakeasy-name-override: serviceId
    consumerId:
      name: x-apideck-consumer-id
      in: header
      required: true
      description: ID of the consumer which you want to get or push data from
      schema:
        type: string
      example: test-consumer
      x-speakeasy-name-override: consumerId
    partNumber:
      name: part_number
      in: query
      description: Part number of the file part being uploaded.
      required: true
      schema:
        type: number
        minimum: 0
        maximum: 10000
        example: 0
    fields:
      name: fields
      in: query
      description: 'The ''fields'' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields "name", "email" and "addresses.city". If any other fields are available, they will be excluded.'
      example: id,updated_at
      schema:
        type:
        - string
        - 'null'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'To access our API, you need to sign up and obtain your unique API key. Each Unify application is assigned a single API key. You can locate your API key in the Configuration Settings section of your Apideck application. Additionally, your application’s application_id is available on the same page.


        Authenticate your API requests by including your test or live secret API key in the request header.


        - Bearer authorization header: `Authorization: Bearer "YOUR_API_KEY_HERE"`

        - Application id header: `x-apideck-app-id: "YOUR_APP_ID_HERE"`


        You should use the public keys on the SDKs and the secret keys to authenticate API requests.


        **Do not share or include your secret API keys on client side code.** Your API keys carry significant privileges. Please ensure to keep them 100% secure and be sure to not share your secret API keys in areas that are publicly accessible like GitHub.


        Learn how to set the Authorization header inside Postman https://learning.postman.com/docs/postman/sending-api-requests/authorization/#api-key


        Go to Unify to grab your API KEY https://app.apideck.com/unify/api-keys

        '
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
